.testimonial_main_div .testimonial_img,.team_main_div .team_img,.feature_main_div .feature_img{
	text-align: center;
	margin-top: 40px;
}
.feature_main_div .feature_img img {  width: 130px;  height: 130px;border: 6px solid #ccc; }
.testimonial_main_div .testimonial_img img,.team_main_div .team_img img {
  width: 178px;
  height: 178px;
  border: 4px solid #fff;
  padding: 4px;
}
.testimonial_main_div .testimonial_img img ,.team_main_div .team_img img,.feature_main_div .feature_img img{
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
    max-height: 12em;
}
.testimonial_main_text {
    font-size: 18px;
    margin-top: 46px;
	line-height: 27px;
	background: url(../../images/testimonial_icon.png) no-repeat 4px 0px;
    padding-right: 40px;
}
.full-width-no-box .testimonial_main_text {
    font-size: 18px;
    margin-top: 46px;
	line-height: 27px;
	background: url(../../images/testimonial_icon-other.png) no-repeat 4px 0px;
    padding-right: 40px;
}
#testimonial_div, #team_div, #about_div, #feature_div
{
	-moz-border-radius: 4px;
-webkit-border-radius: 4px;
background-color: #ffffff;
border: 1px solid #e5e5e5;
border-radius: 4px;
padding-bottom: 40px;
width: 99.893617021277%;
}
#about_div .about_text {
	font-size: 18px;
	padding: 0 10px 0 59px;
font-weight: 200;
line-height: 27px;
}
//#about_div {text-align: center;}
#about_div .section_title:after{
	margin-left: 60px;
	border-bottom: solid 2px #555555;
	width: 60px;
	text-align: center;
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	margin: 50px auto auto 60px;
}
#about_div .section_title {text-align: left;padding-left: 60px;}
.about-content a {
	font-size: 20px;
	padding: 15px 15px;
}
#testimonial_div .section_title:after, #team_div .section_title:after,#feature_div .section_title:after{
	border-bottom: solid 2px #555555;
	width: 60px;
	text-align: center;
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	margin: 50px auto auto auto;
}
.testimonial_author {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 4px;
    margin: 10px  0 0 29px;
}
.testimonial_text {
    margin: 0 0 0 29px;
    font-style: normal;
    font-size: inherit;
    margin-bottom: 1em;
    padding-top: 22px;
}
.team_main_div,.feature_main_div {
	text-align: center;
}
.team_main_div .team_member,.feature_main_div .feature_title {
	font-size: 18px;
	font-weight: bold;
	display:block;
	text-align: center;
	margin-top: 10px;
}
.team_main_div .team_designation{
	text-align: center;
	font-size: 1.1em;
	margin-top: 10px;
	font-style: italic;
	display:block;
}
.team_main_div .social {
	text-align: center;
	margin-top: 10px;
}
.team_main_div .social a{
	display:inline-block;
	width:31px;
	height:31px;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	font-size:1em;
	line-height:31x;
	outline:0;
	color:#fff;
	background-color:#222;
	box-sizing: border-box;
	padding-top: 4px;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-o-transition:all .3s;
	transition:all .3s;
	border: 1px solid #222222;
}
.team_main_div .social a:hover {
	background-color:#fff;
	color: #222;
	border-color: #222222;
	border: 1px solid;
}
.section-team,.section-feature {
width: 33%;
float: none;
box-sizing: border-box;
display: inline-block;
vertical-align: top;
}
.team_desc,.feature_desc {
    text-align: center;
    padding: 0 10px 10px;
    margin-top: 14px;
	font-size: 18px;
	font-weight: 200;
	line-height: 27px;
}
.contact_div .fa{
	font-size: 2em;
	width: 20px;
	height: 20px;
	line-height: 20px;
}
.contact_div .fa-envelope
{
	font-size: 1.7em;
}
.contact_right p {margin:10px 0px 10px 16%;}
.contact_left span {font-size: 1.1em;
padding-left: 12px;
padding-bottom: 39px;
display: inline-block;
}
.contact_div {
	font-size: 14px;
	box-sizing: border-box;
	padding: 20px;
	-moz-border-radius: 4px;
-webkit-border-radius: 4px;
background-color: #ffffff;
border: 1px solid #e5e5e5;
border-radius: 4px;
margin-bottom: 0px;
background: url('../../core/images/default-contact.jpg');
background-size:cover;
color: #ffffff;
}
.contact_subtitle {text-align: center;margin: 17px 0 17px 0;font-size: 18px}
.contact_title {
	text-align: center;
	line-height: 1em;
	text-transform: uppercase;
padding-left: 40px;
padding-right: 40px;
margin-top: 17px;
margin-bottom: 0;
font-size: 2.250em;
font-weight: 700;
}
.contact_right label {font-weight: normal;}
.contact_right .wpcf7{
	width: 100%;
}
.contact_right textarea {
height: 70px;
padding: 12px 42px 0px 0px;
color: #f2f2f2;
background-color: transparent;
border-radius: 0;
width: 100%;
box-shadow: none;
border-width: 0;
border-bottom-color: #cec9c4;
border-bottom-width: 3px;
}
.contact_right .wpcf7-submit {
	background-color: #1874cd; /* Dodger Blue */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4f9eea), to(#1874cd));
	background-image: -webkit-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -moz-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -ms-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -o-linear-gradient(top, #4f9eea, #1874cd);
	background-image: linear-gradient(to top, #4f9eea, #1874cd);
	border: 1px solid #115290;
	color: #ffffff;
	line-height: 20px;
	padding: 10px 22px;
	box-shadow:none;
	font-weight:normal;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4f9eea, endColorstr=#1874cd)";
	text-shadow: 0 -1px 0 #115290;
	border-radius: 2px;
	display: inline-block;
	font-weight: 700;
	margin: 0;
	vertical-align: middle;
	white-space: nowrap;
}
.contact_right .wpcf7-submit:hover {
background-color: #7db7f0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7db7f0), to(#1874cd));
	background-image: -webkit-linear-gradient(top, #7db7f0, #1874cd);
	background-image: -moz-linear-gradient(top, #7db7f0, #1874cd);
	background-image: -ms-linear-gradient(top, #7db7f0, #1874cd);
	background-image: -o-linear-gradient(top, #7db7f0, #1874cd);
	background-image: linear-gradient(to top, #7db7f0, #1874cd);
	border: 1px solid #115290;
	color: #ffffff;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7db7f0, endColorstr=#1874cd)";
	border-radius: 2px;
	display: inline-block;
	font-weight: 700;
	margin: 0;
	vertical-align: middle;
	white-space: nowrap;
}
.contact_right form {
	margin-bottom: 0;
}
.contact_left {
	margin-top: 20px;
}
.contact_right select, .contact_right input[type="text"], .contact_right input[type="password"], .contact_right input[type="email"] {
	width: 100%;
	color: #f2f2f2;
	padding: 12px 2px 2px 0px;
	background-color: transparent;
	border-radius: 0;
	box-shadow: none;
	border-width: 0;
	border-bottom-width: 3px;
	border-bottom-color: #cec9c4;
}
