.customize-control-responsive-redirect {
    background-color: white;
    margin-left: -12px;
    width: 110%;
}

.customizer-redirect-button {
	text-decoration: none;
    margin : 0px 0px;
    display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    border: 0.5px solid #D0D0D0
}

.customizer-redirect-button .dashicons-arrow-right-alt{
	color: #50575E;
}

.customizer-redirect-button .arrow-head{
	
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 2px solid #222222; /* Adjust the color and thickness */
    border-bottom: 2px solid #222222; /* Adjust the color and thickness */
    transform: rotate(-45deg); 
}



.customizer-redirect-button > .redirect-button-label {
	color: #50575E;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 600;
	line-height: 16.41px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.customize-control-site_icon .button-add-media{
    margin-bottom: 15px;
}