.customize-control-responsive-redirect {
	background-color: white;
	text-align: center;
	border: 1px solid #2271b1;
}

.customize-control-responsive-redirect:hover {
	background-color: #2271b1;
}

.customizer-redirect-button {
	text-decoration: none;
}

.customizer-redirect-button > .redirect-button-label {
	color: #2271b1;
	margin: 0;
	padding: 15px;
}

.customize-control-responsive-redirect:hover .customizer-redirect-button > .redirect-button-label {
	color: #f0f0f0;
}