#custom_shop .woocommerce ul.products li.product, .woocommerce-page ul.products li.product
{
 border: 1px solid #cfcfcf;
 width:46%;
 padding:2%;
 box-sizing: border-box;
 margin-bottom:2em;
}


@media only screen and (max-width: 450px) {
	#custom_shop .woocommerce ul.products li.product, .woocommerce-page ul.products li.product
	{
		width:100%;
	}
}

#custom_shop .woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale
{
	border-radius:0;
	margin: -1em 0 0 0;
	line-height:1.5;
	min-height:1em;
	background-color:rgba(255, 0, 0, 0.8);
	right: 13px;
    	top: 2em;
    	padding:7px;
}

/* To align the title, price, and add to cart button. */
.product_wrapper {
    position: relative;
}
.prod_wrap_left {
    padding-right: 55px;
}
.prod_wrap_right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.woocommerce ul.products li.product .price del, .woocommerce ul.products li.product .price ins
{
	display:inline-block;
	padding-right:5px;
}

.woocommerce ul.products li.product .button
{
	color:#77a464;
	margin-top:0;
	background-color:inherit;
	font-size:2em;
	padding:0.418em 0 0 0.6em;
}

.woocommerce ul.products li.product .price
{
	font-size: 1.1em;
}

.woocommerce ul.products li.product .button:hover
{
	color:#585858;
}

.products > li:nth-of-type(2n+1), .products > div > div > li:nth-of-type(2n+1)
{
clear:both;
}


.single-product .col-620
{
	width:100%;
}

.woocommerce div.product form.cart, .woocommerce div.product p.price, .woocommerce div.product span.price
{
	margin:1em 0;
}

.single_add_to_cart_button i
{
	margin-right:5px;
}

#content-woocommerce .product .single_add_to_cart_button
{
	background:#77a464;
}

.single-product .product_meta
{
	border-top:1px solid #cfcfcf;
}

.single-product #content-woocommerce .product .onsale
{
	border-radius:0;
	margin: -1em 0 0 0;
	line-height:1.5;
	min-height:1em;
	background-color:rgba(255, 0, 0, 0.8);
    	top: 2em;
    	padding:7px;
    	left:0;
}

.single-product #content-woocommerce .product h1
{
	font-size:1.625em;
}

.single-product #content-woocommerce .product .price
{
	font-size:1.5em;
}


#content-woocommerce .related ul.products li.product
{
	width:22.05%;
}

.single-product #content-woocommerce .product .related .price
{
	font-size:1.1em;
	display:inline-grid;
}

.single-product #content-woocommerce .product .related .onsale
{
	left:auto;
}

.woocommerce div.product div.summary h1
{
	margin-top:10px;
}

	
@media screen and (max-width:400px) {
	#content-woocommerce .related ul.products li.product
	{
		width:100%;
	}
}

.single-product .tagged_as {
    display: list-item;
    list-style: outside none none;
}

/* related products */
.single-product .related .products > li:nth-of-type(2n+1), .single-product .related .products > div > div > li:nth-of-type(2n+1)
{
	clear:none;
}
.single-product .related
{
	clear: both;
}
@media only screen and (max-width: 480px) {
	.single-product #content-woocommerce .related ul.products li.product
	{
		width:100%;
	}
}
@media all and (min-width:481px) and (max-width:991px)
{
	.single-product #content-woocommerce .related ul.products li.product
	{
		width:46%;
	}
	.single-product .related .products > li:nth-of-type(2n+1), .single-product .related .products > div > div > li:nth-of-type(2n+1)
	{
		clear:both;
	}
}
