#custom_shop .woocommerce ul.products li.product, .woocommerce-page ul.products li.product
{
 border: 1px solid #cfcfcf;
 width:46%;
 padding:2%;
 box-sizing: border-box;
 margin-bottom:2em;
}


@media only screen and (max-width: 450px) {
	#custom_shop .woocommerce ul.products li.product, .woocommerce-page ul.products li.product
	{
		width:100%;
	}
}

#custom_shop .woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale
{
	border-radius:0;
	margin: -1em 0 0 0;
	line-height:1.5;
	min-height:1em;
	background-color:rgba(255, 0, 0, 0.8);
	right: 13px;
    	top: 2em;
    	padding:7px;
}

/* To align the title, price, and add to cart button. */
.product_wrapper {
    position: relative;
}
.prod_wrap_left {
    padding-right: 55px;
}
.prod_wrap_right {
    position: absolute;
    right: 1em;
    bottom: 1em;
    margin-bottom: 0.5em;
}

.woocommerce ul.products li.product .price del, .woocommerce ul.products li.product .price ins
{
	display:inline-block;
	padding-right:5px;
}

.woocommerce ul.products li.product .button
{
	color:#77a464;
	margin-top:0;
	background-color:inherit;
	font-size:2em;
	padding:0.418em 0 0 0.6em;
}

.woocommerce ul.products li.product .price
{
	font-size: 1.1em;
}

.woocommerce ul.products li.product .button:hover
{
	color:#585858;
}

.products > li:nth-of-type(2n+1), .products > div > div > li:nth-of-type(2n+1)
{
clear:both;
}


.single-product .col-620
{
	width:100%;
}

.woocommerce div.product form.cart, .woocommerce div.product p.price, .woocommerce div.product span.price
{
	margin:1em 0;
}

.single_add_to_cart_button i
{
	margin-right:5px;
}

#content-woocommerce .product .single_add_to_cart_button
{
	background:#77a464;
}

.single-product .product_meta
{
	border-top:1px solid #cfcfcf;
}

.single-product #content-woocommerce .product .onsale
{
	border-radius:0;
	margin: -1em 0 0 0;
	line-height:1.5;
	min-height:1em;
	background-color:rgba(255, 0, 0, 0.8);
    	top: 2em;
    	padding:7px;
    	left:0;
}

.single-product #content-woocommerce .product h1
{
	font-size:1.625em;
}

.single-product #content-woocommerce .product .price
{
	font-size:1.5em;
}


#content-woocommerce .related ul.products li.product
{
	width:22.05%;
}

.single-product #content-woocommerce .product .related .price
{
	font-size:1.1em;
	display:inline-grid;
}

.single-product #content-woocommerce .product .related .onsale
{
	left:auto;
}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    box-shadow: none;
    padding: 10px 20px;
    text-align: center;
    width: 150px;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce .cart .button, .woocommerce-cart .woocommerce .cart input.button
{
	background:#77a464;
	color:#fff;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce .cart .button:hover, .woocommerce-cart .woocommerce .cart input.button:hover
{
	background:#3a6727;
	color:#fff;
}

.woocommerce a.remove
{
	border:1px solid;
	margin:0 auto;
}

.woocommerce-cart h1, .woocommerce-checkout h1, .woocommerce-account h1
{
    font-weight: normal;
    text-align: center;
}

.woocommerce-cart h2, .woocommerce-checkout h2, .woocommerce-account h2
{
    font-size: 2.1em;
    font-weight: normal;
}

.woocommerce-account h2
{
    font-size: 2.1em;
    font-weight: normal;
    text-align:center;
}

.woocommerce-checkout h3, .woocommerce-account h3
{
    font-size: 1.8em;
    font-weight: normal;
}

.woocommerce-cart .breadcrumb-list, .woocommerce-checkout .breadcrumb-list, .woocommerce-account .breadcrumb-list
{
    background: #f4f4f4 none repeat scroll 0 0;
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.product-name, .product-price, .product-quantity, .product-subtotal
{
    text-align: center;
}

.woocommerce .coupon .button {
    font-size: 1.2em;
}

.woocommerce .button {
    font-size: 1.2em !important;
}

.checkout-button.button.alt.wc-forward {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}

.woocommerce-checkout input, .woocommerce-checkout text-area, .woocommerce-checkout .select2-container--default .select2-selection--single, .woocommerce-account input {
    border: 1px solid #cfcfcf;
    box-shadow: none;
    height:40px;
    color:#aaa;
}

#place_order, .woocommerce-account .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    padding-left: 1em;
    padding-right:1em;
}

.woocommerce-account .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button
{
	background:#77a464;
	color:#fff;
}

.woocommerce-account .woocommerce #respond input#submit, .woocommerce a.button:hover, .woocommerce button.button, .woocommerce input.button:hover
{
	background:#3a6727;
	color:#fff;
}

.col-2 {
    border: 2px solid #77a464;
    padding: 10px;
}

#add_payment_method #payment ul.payment_methods li input, .woocommerce-cart #payment ul.payment_methods li input, .woocommerce-checkout #payment ul.payment_methods li input, .woocommerce-checkout label, .woocommerce-account .woocommerce-form__input.woocommerce-form__input-checkbox
{
	vertical-align:middle;
}

#add_payment_method #payment ul.payment_methods li img, .woocommerce-cart #payment ul.payment_methods li img, .woocommerce-checkout #payment ul.payment_methods li img
{
	margin-top:20px;
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register
{
	width:50%;
	margin:0 auto;
}

.woocommerce-MyAccount-content
{
	padding-left:5%;
	box-sizing:border-box;
	border-left:1px solid #cfcfcf;
}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2
{
	box-sizing:border-box;
}

.woocommerce-cart input[type="text"], input[type="password"], input[type="email"]
{
	color:#aaa;
}

.woocommerce div.product div.summary h1
{
	margin-top:10px;
}

	
@media screen and (max-width:400px) {
	#content-woocommerce .related ul.products li.product
	{
		width:100%;
	}
}

.single-product .tagged_as {
    display: list-item;
    list-style: outside none none;
}


/* related products */
.single-product .related .products > li:nth-of-type(2n+1), .single-product .related .products > div > div > li:nth-of-type(2n+1)
{
	clear:none;
}
.single-product .related
{
	clear: both;
}
@media only screen and (max-width: 480px) {
	.single-product #content-woocommerce .related ul.products li.product
	{
		width:100%;
	}
}
@media all and (min-width:481px) and (max-width:991px)
{
	.single-product #content-woocommerce .related ul.products li.product
	{
		width:46%;
	}
	.single-product .related .products > li:nth-of-type(2n+1), .single-product .related .products > div > div > li:nth-of-type(2n+1)
	{
		clear:both;
	}
}

.woocommerce input {
    color: #777;
    padding:0 0 0 5px;
}

.button.product_type_simple.add_to_cart_button.ajax_add_to_cart.added
{
	display:none;
}

.added_to_cart.wc-forward {
    font-weight: bold;
    color: #77a464;
    bottom: 0;
}

.woocommerce ul.products li.product .button:hover
{
	color:#3a6727;
	border:none;
}

.upsells ul.products li.product
{
	width:22.05%;
}

.input-text.qty.text {
    padding: 6px;
}
