.DS_Store
/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
/.github
.idea
atlassian*
/nbproject
/robots.txt
.DS_Store
/tests/_output/
/core/css/style.css
/core/css/style.min.css
/core/css/style.css.map
/core/css/sensei_content.css
/core/css/sensei_content.min.css
/core/css/sensei_content.css.map
/core/css/woocommerce.css
/core/css/woocommerce.min.css
/core/css/woocommerce.css.map
/core/css/gutenberg-editor.css
/core/css/gutenberg-editor.min.css
/core/css/gutenberg-editor.css.map
/core/css/style-rtl.css
/core/css/style-rtl.min.css
/core/css/sensei_content-rtl.css
/core/css/sensei_content-rtl.min.css
/core/css/woocommerce-rtl.css
/core/css/woocommerce-rtl.min.css
/core/css/gutenberg-editor-rtl.css
/core/css/gutenberg-editor-rtl.min.css
/core/css/icomoon/style.min.css
/core/css/icomoon/style-rtl.css
/core/css/icomoon/style-rtl.min.css
/core/css/customizer-rtl.css
/core/includes/css/about-rtl.css
node_modules
*.phar
*.tar
**/vendor
chromedriver
.idea
node_modules/
package-lock.json
build/
core/css/style.min.css
core/includes/theme-options/sky-tabs-ie8.min.js
core/includes/theme-options/sky-tabs.min.css
core/js/*.min.js
core/css/woocommerce.min.css
core/includes/customizer/assets/js/typography-customize-preview.min.js
core/includes/customizer/assets/js/*.min.*
jenkincodeception/vendor
core/includes/customizer/controls/builder/builder-controls.css
core/includes/customizer/assets/min/css/builder-control.min.css
tests/tests/_output/
.test/tests/_output/
*.sql
/core/includes/customizer/assets/min/css/customize-preview.min.css
/core/includes/customizer/controls/builder/customize-preview.css
