.DS_Store
/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
/.github
.idea
atlassian*
/nbproject
/robots.txt
.DS_Store
/tests/_output/
node_modules
*.jar
*.phar
*.zip
*.tar
vendor
chromedriver