[client]
host     = localhost
user     = root
password = admin@12345
socket   = /var/run/mysqld/mysqld.sock
[mysql_upgrade]
host     = localhost
user     = root
password = admin@12345
socket   = /var/run/mysqld/mysqld.sock