[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
user		= gitpod
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mysql
skip-external-locking
bind-address		= 127.0.0.1

bulk_insert_buffer_size=64M
expire_logs_days=1
innodb_buffer_pool_instances=8
innodb_buffer_pool_size=5G
innodb_file_per_table=0
innodb_log_file_size=256M
innodb_read_io_threads=20
innodb_write_io_threads=20
join_buffer_size=2G
key_buffer_size=512M
max_allowed_packet=256M
max_connect_errors=10
max_connections=1000
max_heap_table_size=2G
open_files_limit=65535
query_cache_limit=2M
query_cache_size=128M
query_cache_type=1
slow_query_log=1
sort_buffer_size=2G
tmp_table_size=2G
transaction-isolation=READ-COMMITTED

general_log_file        = /var/log/mysql/mysql.log
general_log             = 1
log_error               = /var/log/mysql/error.log

max_binlog_size     = 100M