/* Styles for Font Presets Control */
.customize-control-responsive-fontpreset {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;  
    padding: 20px 35px;
}

.customize-control-responsive-fontpreset__button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 54px;
    padding: 0;
    border: 1px solid #eaeaea;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

.customize-control-responsive-fontpreset__button.fontpreset-button.active {
    border: 1px solid black;
}

.tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #fff;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 11px;
    position: absolute;
    z-index: 1;
    top: -36px;
    font-size: 14px;
    line-height: 12px;
    font-family: 'open sans';
    transform: translateX(-50%);
    min-width: 70px;
    width: fit-content;
    left: 48%;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #3B3B3B transparent transparent transparent;
}

button.customize-control-responsive-fontpreset__button.fontpreset-button:hover .tooltiptext {
    visibility: visible;
}

button.customize-control-responsive-fontpreset__button.fontpreset-button .heading-preview{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    font-size: 17px;
    border-bottom: 1px solid #F0F0F1;
}

button.customize-control-responsive-fontpreset__button.fontpreset-button .body-preview{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    font-size: 17px;
    border-top: 1px solid #F0F0F1;
}

.preview-tablet #customize-control-responsive_header_height, .preview-mobile #customize-control-responsive_header_height { display: none; }
.responsive-font-preset-reset-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-bottom: 0;
    background-color: #FFF;
}

.customize-control-font-preset-description {
    font-size: 14px;
    font-weight: 400;
}

.responsive-font-preset-reset-control .dashicons {
    font-size: 14px;
    font-weight: 400;
    color: #50575E;
    font-style: normal;
}

.responsive-font-preset-reset-control .dashicons:hover{
    cursor: pointer;
}

#customize-control-responsive_font_preset_group_separator .responsive-horizontal-separator-control-wrapper{
    padding-bottom: 0 !important;
}