.customize-control-responsive-social {
    margin-top: 18px;
}
.customize-control-responsive-social .responsive-social-items-wrapper .responsive-social-item { 
    padding: 9px 8px;
    margin-bottom: 18px;
    line-height: 20px;
    border: 1px solid #ccc ;
    background: #fff;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 0px 8px -3px #00000040;
    border-radius: 5px;
}
.responsive-social-items-wrapper {
    padding: 18px;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
}
.responsive-social-item-panel-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
}
.responsive-social-items-menu-choice-wrap {
    display: flex;
    align-items: center;
    gap: 12px;
}
.responsive-social-item-menu {
    line-height: 0;
}
.responsive-social-icon-choice {
    margin-top: 4px;
}
.customize-control-responsive-social .responsive-social-icon-choice svg {
    width: 20px;
    height: 20px;
    fill: #007CBA;
}
.responsive-social-item-choice {
    line-height: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #007CBA;
}
.responsive-social-tab {
    border-bottom: 4px solid transparent;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    color: #838383;
    font-size: 12px;
    font-weight: 500;
}
.responsive-social-active-tab {
    border-bottom-color: #007cba !important;
    color: #007CBA;
}
.responsive-add-social-item {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
    font-size: 14px;
    font-weight: 400;
    color: #007cba;
    border: none !important;
}
.responsive-add-social-item:active {
    color: #007cba !important;
}
.responsive-add-social-item:focus {
    box-shadow: none !important;
}
.responsive-add-social-item:focus-visible {
    outline: none;
}
.responsive-add-social-item .dashicons-plus {
    margin-top: 4px;
    margin-right: 6px;
    cursor: pointer;
}
.responsive-social-items-menu-choice-wrap .dashicons-arrow-down-alt2 {
    cursor: pointer;
}
.responsive-social-type .components-tab-panel__tabs {
    margin-bottom: 12px;
}
.responsive-social-icons-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin-bottom: 18px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.responsive-social-sorter-item-expand {
    border-radius: 0;
    position: relative;
    height: 36px;
    border-left: 0;
}
.responsive-social-sorter-item-expand:before {
    content: '';
    position: absolute;
    left: 0;
    height: 50%;
    background: #A0AEC0;
    width: 1px;
}
.responsive-social-sorter-item-expand:focus:before {
    opacity: 0;
}
.responsive-social-sorter-item-expand .dashicon {
    width: 14px;
    height: 14px;
    font-size: 14px;
}
.responsive-social-radio-container-control {
    display: flex;
    padding: 10px;
    background: #f9f9f9;
    border: 0;
    flex-wrap: wrap;
    margin-bottom: 10px;
    gap: 10px;
}
.responsive-social-radio-container-control button.components-button.is-tertiary {
    flex: 1 1 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    height: 40px;
    line-height: normal;
    margin: 0;
    padding: 4px;
    border: 1px solid #CBD5E0;
    border-radius: 2px;
    background: transparent;
    color: #4A5568;
    white-space: normal;
    box-shadow: none;
}
.responsive-social-radio-container-control button.components-button.is-tertiary.active-radio {
    border-color: #007cba;
    background: #007cba;
    color: #fff;
}
.responsive-social-radio-container-control button.components-button.is-tertiary .responsive-social-radio-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.responsive-social-radio-container-control button.components-button .responsive-social-radio-icon {
    width: 100%;
    height: 100%;
}
.responsive-social-radio-container-control button.components-button.is-tertiary svg {
    max-width: 14px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-height: 100%;
}
.responsive-social-sorter-item-remove {
    border: none !important;
}
.responsive-social-item-panel-header .dashicons-arrow-up-alt2,
.responsive-social-item-panel-header .dashicons-arrow-down-alt2 {
    cursor: pointer;
}
.responsive-social-item-panel-content .components-button.button-add-media {
    display: block;
    margin-bottom: 20px;
    height: auto;
}
.responsive-social-image {
    max-width: 50px;
    padding-right: 20px;
}
.responsive-social-custom-image {
    display: flex;
	margin-bottom: 20px;
	align-items: center;
	justify-content: space-around;
}
.responsive-social-remove-image {
    border: none;
}
#customize-control-responsive_header_social_show_label,
#customize-control-responsive_footer_social_show_label {
    padding-top: 18px;
    border-top: 0.5px solid #D0D0D0;
}
#customize-control-responsive_header_social_item_spacing,
#customize-control-responsive_footer_social_item_spacing {
    margin-bottom: 12px;
    border-top: 0.5px solid #D0D0D0;
}
#customize-control-responsive_header_social_redirect_to_social_links a {
    border-bottom: none;
}
#customize-control-responsive_header_social_item_typography_group,
#customize-control-responsive_footer_social_item_typography_group {
    margin-top: 22px;
}
#customize-control-responsive_header_social_item_border_style .customize-control-responsive-selectbtn .customize-control-responsive-selectbtn__button,
#customize-control-responsive_footer_social_item_border_style .customize-control-responsive-selectbtn .customize-control-responsive-selectbtn__button {
    padding: 8px 6px;
}
#customize-control-responsive_header_social_item_style,
#customize-control-responsive_header_social_item_use_brand_colors,
#customize-control-responsive_footer_social_item_style,
#customize-control-responsive_footer_social_item_use_brand_colors {
    padding-bottom: 18px;
    border-bottom: 0.5px solid #D0D0D0;
}
#customize-control-responsive_header_social_item_color,
#customize-control-responsive_footer_social_item_color {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 0.5px solid #D0D0D0;
}
#customize-control-responsive_header_social_item_border_style,
#customize-control-responsive_header_social_item_border_width,
#customize-control-responsive_border_header_social_radius,
#customize-control-responsive_header_social_item_icon_size,
#customize-control-responsive_header_social_item_typography_group,
#customize-control-responsive_footer_social_item_border_style,
#customize-control-responsive_footer_social_item_border_width,
#customize-control-responsive_border_footer_social_radius,
#customize-control-responsive_footer_social_item_icon_size,
#customize-control-responsive_footer_social_item_typography_group {
    padding-bottom: 18px;
    border-bottom: 0.5px solid #D0D0D0;
}
#customize-control-responsive_header_social_item_border_color,
#customize-control-responsive_footer_social_item_border_color {
    margin-top: 10px;
}