
@import "../../../variables-site/structure.scss";
@import "../../../variables-site/colors.scss";

.blog-layout-1 {

    width: 100%;
    display: inline-block;
    padding-bottom: 2em;
    vertical-align: middle;
    border-bottom: 1px solid $color-border-content;

    .posted-on {
        left: 0;
    }
    .post-thumb,
    .post-content {
        padding-left: 0;
        padding-right: 0;
    }
}