/* =Gallery
-------------------------------------------------------------- */
/* Normal */
.gallery-columns-1 .gallery-item {
	max-width: 600px;
}

.gallery-columns-2 .gallery-item {
	max-width: 300px;
}

.gallery-columns-3 .gallery-item {
	max-width: 200px;
}

.gallery-columns-4 .gallery-item {
	max-width: 150px;
}

.gallery-columns-5 .gallery-item {
	max-width: 120px;
}

.gallery-columns-6 .gallery-item {
	max-width: 100px;
}

.gallery-columns-7 .gallery-item {
	max-width: 85px;
}
.gallery-columns-8 .gallery-item {
	max-width: 75px;
}

.gallery-columns-9 .gallery-item {
	max-width: 66px;
}

/* Full Width */
.page-template-full-width-page-php .gallery-columns-1 .gallery-item,
.page-template-landing-page.php .gallery-columns-1 .gallery-item {
	max-width: 900px;
}

.page-template-full-width-page-php .gallery-columns-2 .gallery-item,
.page-template-landing-page.php .gallery-columns-2 .gallery-item {
	max-width: 450px;
}

.page-template-full-width-page-php .gallery-columns-3 .gallery-item,
.page-template-landing-page.php .gallery-columns-3 .gallery-item {
	max-width: 300px;
}

.page-template-full-width-page-php .gallery-columns-4 .gallery-item,
.page-template-landing-page.php .gallery-columns-4 .gallery-item {
	max-width: 225px;
}

.page-template-full-width-page-php .gallery-columns-5 .gallery-item,
.page-template-landing-page.php .gallery-columns-5.gallery-item {
	max-width: 180px;
}

.page-template-full-width-page-php .gallery-columns-6 .gallery-item,
.page-template-landing-page.php .gallery-columns-6 .gallery-item {
	max-width: 150px;
}

.page-template-full-width-page-php .gallery-columns-7 .gallery-item,
.page-template-landing-page.php .gallery-columns-7 .gallery-item {
	max-width: 125px;
}

.page-template-full-width-page-php .gallery-columns-8 .gallery-item,
.page-template-landing-page.php .gallery-columns-8 .gallery-item {
	max-width: 112.5px;
}

.page-template-full-width-page-php .gallery-columns-9 .gallery-item,
.page-template-landing-page.php .gallery-columns-9 .gallery-item {
	max-width: 100px;
}
/* =WordPress Gallery
-------------------------------------------------------------- */
.gallery {
	margin: 0 auto 18px;
}

.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	max-width: 155px;
}

.gallery img {
	border: 1px solid #dddddd;
}

.gallery .gallery-caption {
	font-size: 12px;
	margin: 0 0 12px;
}

.gallery dl {
	margin: 0;
}

.gallery br+br {
	display: none;
}

.attachment-gallery img {
	background: #ffffff;
	border: 1px solid #f0f0f0;
	display: block;
	height: auto;
	margin: 15px auto;
	max-width: 96%;
	padding: 5px;
	width: auto;
}

.gallery-meta .iso,
.gallery-meta .camera,
.gallery-meta .shutter,
.gallery-meta .aperture,
.gallery-meta .full-size,
.gallery-meta .focal-length {
	display: block;
}
