.responsive-about-me-widget-container {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px 15px !important;

    border: {
      top: 4px solid #10659c;
      radius: 2px !important;
    }

    .widget-title {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        h4 {
            display: inline-block !important;
            flex-grow: 1;
            margin-bottom: 0 !important;
            padding: 4px 10px;
        }

        .responsive-about-me__fancy-bg {
            display: inline-block;
            flex-grow: 100;
            height: 12px;
            margin-top: 7px;
            background: {
                image: url('../images/line.svg');
                repeat: repeat-x;
            }
            overflow: hidden;
        }
    }
}

.responsive-about-me__img,
.responsive-about-me__bio {
    padding: 5px 10px;
}

.responsive-about-me__img img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: {
        top: unset !important;
        right: unset !important;
        bottom: 10px !important;
        left: unset !important;
    }

    &:hover {
        transition: all 180ms;
        opacity: 0.8;
    }
}

.responsive-about-me__bio {
    color: inherit;
    font-size: 15px;
    line-height: 26px;
}
