
/**
 * Content Header Area styles
 * -----------------------------------------------------------------------------
 */
.site-content,
.give-wrap {
    padding: $base-line-height-px 0;
}

.site-content-header {
    @include make-block-element( $grid-gutter-width );
    background-color: map-get( $colors, white );
    padding: $base-line-height-px;
    text-align: left;

    .responsive-site-style-flat & {
        background-color: transparent;
        padding: 0;
    }

    .responsive-site-style-content-boxed & {
        margin: 0;
        border-bottom: 1px solid map-get( $colors, light-gray );
    }

    .page-header,
    .breadcrumbs {
        @include make-block-element();
    }

    .page-header {
        .page-title {
            @include make-heading-text( extra-large );
            margin-bottom: $base-line-height-px / 4;
            color: #333333;
        }
        .page-description {
            font-size: map-get( $font-sizes, normal );
            color: #999999;
        }
    }

    .breadcrumb-list {
        font-size: map-get( $font-sizes, small );
        color: #1e73be;
    }

    .site-content-header-alignment-left & {
        text-align: left;
    }

    .site-content-header-alignment-center & {
        text-align: center;
    }

    .site-content-header-alignment-right & {
        text-align: right;
    }
}

.content-area {
    @extend .col-xs-12;
    @extend .col-lg-8;

    .page-template-full-width-page &,
    .page-template-gutenberg-fullwidth & {
        @extend .col-lg-12;
    }
}
.page-template-gutenberg-fullwidth:not(.front-page) {

    .site-content {
        padding: 0;

        .content-area {
            padding: 0;

        }
    }

    &.responsive-site-style-content-boxed,
    &.responsive-site-style-boxed  {
        .site-content {
            background-color: map-get( $colors, white );
        }
        .hentry {
            background-color: transparent;
        }
    }
}
/**
 * Hentry Area styles
 * -----------------------------------------------------------------------------
 */
.hentry {
    @include make-block-element();

    .responsive-site-style-content-boxed &,
    .responsive-site-style-boxed & {
        padding: $base-line-height-px;
    }

    .page-template-gutenberg-fullwidth.responsive-site-style-content-boxed &,
    .page-template-gutenberg-fullwidth.responsive-site-style-boxed & {
        padding: 0;
    }

    .responsive-site-style-content-boxed & {
        margin: 0;
        border-bottom: 1px solid map-get( $colors, light-gray );
    }

    .entry-title {
        margin-bottom: $base-line-height-px / 2;
        margin-top:  $base-line-height-px / 2;
    }

    .thumbnail {
        margin-bottom: $base-line-height-px / 2;
        margin-top:  $base-line-height-px / 2;

        .thumbnail-caption {
            font-size: map-get( $font-sizes, small );
        }
    }

    .post-data,
    .post-edit-link,
    .post-meta {
        margin-bottom: $base-line-height-px / 2;
        margin-top:  $base-line-height-px / 2;
        color: map-get( $colors, gray );
        font-size: map-get( $font-sizes, small );

        a {
            @include make-link( map-get( $colors, gray ), map-get( $colors, blue ) );
        }

        & > span {
            &::after {
                content: '-';
                margin: 0 $grid-gutter-width/5;
            }

            &:last-child {
                &::after {
                    content: '' !important;
                }
            }

            .fa-calendar {
                margin-right: 0.25em;
            }

            .avatar {
                border-radius: 50%;
                margin-bottom: $base-line-height-px / -3;
                margin-right: $base-line-height-px / 5;
            }
        }
    }

    .pagination,
    .post-data {
        clear: both;
    }

    .read-more {
        margin-bottom: $base-line-height-px / 2;

        .more-link {
            .read-more-button & {
                @include make-button();
            }
        }
    }

    .post-entry {
        @include make-clearfix;
        & > :first-child {
            margin-top: 0;
        }
        & > :last-child {
            margin-bottom: 0;
        }

        .entry-content {
            @include make-clearfix;
        }
    }

    .search-form input {
        width: auto;
    }

    .responsive-site-style-boxed .elementor-widget-posts & {
        background-color: inherit;
    }
}

.responsive-blocks-post-grid-item{
	&:first-child{
		margin-top:auto;
	}
}

// Featured Image Aligmnmnet
.page,
.single,
.search,
.archive,
.blog {
    &.featured-image-alignment {
        &-right {
            .hentry .thumbnail {
                text-align: right;
            }
        }
        &-center {
            .hentry .thumbnail {
                text-align: center;
            }
        }
    }
}

// Title Aligmnmnet
.page,
.single,
.search,
.archive,
.blog {
    &.title-alignment {
        &-right {
            .hentry .entry-title {
                text-align: right;
            }
        }
        &-center {
            .hentry .entry-title {
                text-align: center;
            }
        }
    }
}


// Content Aligmnmnet
.page,
.single,
.search,
.archive,
.blog {
    &.content-alignment {
        &-right {
            .hentry .entry-content {
                text-align: right;
            }
        }
        &-center {
            .hentry .entry-content {
                text-align: center;
            }
        }
    }
}


// Meta Aligmnmnet
.single,
.search,
.archive,
.blog {
    &.meta-alignment {
        &-right {
            .hentry {
                .post-data,
                .post-edit-link,
                .post-meta {
                    text-align: right;
                }
            }
        }
        &-center {
            .hentry {
                .post-data,
                .post-edit-link,
                .post-meta {
                    text-align: center;
                }
            }
        }
    }
}

.content-area-wrapper {
    .responsive-site-style-content-boxed & {
        background-color: map-get( $colors, white );
    }
}

#main-blog.row {
    align-items: stretch;

    .entry-column {
        @extend .col-xs-12;
        @include make-block-element( $grid-gutter-width );
        margin-top: 0;
        .responsive-site-style-content-boxed & {
            margin-bottom: 0;
        }

        .archive.blog-entry-columns-2 &,
        .search.blog-entry-columns-2 &,
        .blog.blog-entry-columns-2 & {
            @extend .col-md-6;
        }

        .archive.blog-entry-columns-3 &,
        .search.blog-entry-columns-3 &,
        .blog.blog-entry-columns-3 & {
            @extend .col-md-4;
        }

        .archive.blog-entry-columns-4 &,
        .search.blog-entry-columns-4 &,
        .blog.blog-entry-columns-4 & {
            @extend .col-md-6;
            @extend .col-lg-3;
        }
    }
}
.responsive-site-style-content-boxed {
    .content-area-wrapper {
        background-color: map-get( $colors, white );
    }
}

#main-blog.row {
    align-items: stretch;
    .entry-column {
        @extend .col-xs-12;
        @include make-block-element( $grid-gutter-width );
        margin-top: 0;
        .responsive-site-style-content-boxed & {
            margin-bottom: 0;
        }

        .archive.blog-entry-columns-2 &,
        .search.blog-entry-columns-2 &,
        .blog.blog-entry-columns-2 & {
            @extend .col-md-6;
        }

        .archive.blog-entry-columns-3 &,
        .search.blog-entry-columns-3 &,
        .blog.blog-entry-columns-3 & {
            @extend .col-md-4;
        }

        .archive.blog-entry-columns-4 &,
        .search.blog-entry-columns-4 &,
        .blog.blog-entry-columns-4 & {
            @extend .col-md-6;
            @extend .col-lg-3;
        }
    }
}

.archive,
.blog,
.search {
    @for $i from 2 through 4 {
        &.blog-entry-columns-#{$i}-masonry #main-blog.row {
    		display: block;
    		columns: $i;
    		column-gap: 0;
    		.entry-column {
    			width: 100%;
    			float: left;
    			page-break-inside: avoid; /* Firefox */
    			-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
                break-inside: avoid;
    		}
    	}
    }
    @media screen and (max-width: map-get( $screens, lg ) ) {
        &.blog-entry-columns-3-masonry #main-blog.row,
        &.blog-entry-columns-4-masonry #main-blog.row {
    		display: block;
    		columns: 2;
    		column-gap: 0;
            .entry-column {
    			width: 100%;
    			float: left;
    			page-break-inside: avoid; /* Firefox */
    			-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
                break-inside: avoid;
    		}
    	}
    }
    @media screen and (max-width: map-get( $screens, sm ) ) {
        &.blog-entry-columns-2-masonry #main-blog.row,
        &.blog-entry-columns-3-masonry #main-blog.row,
        &.blog-entry-columns-4-masonry #main-blog.row {
    		display: block;
    		columns: 1;
    		column-gap: 0;
            .entry-column {
    			width: 100%;
    			float: left;
    			page-break-inside: avoid; /* Firefox */
    			-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
                break-inside: avoid;
    		}
    	}
    }
}

.sticky,
.gallery-caption,
.bypostauthor {
    display: block;
}

/**
 * Page / Post Navigation & Comments tyles
 * -----------------------------------------------------------------------------
 */
.navigation {
    @extend .row;
    @include make-block-element();
    background-color: map-get($colors, white);
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    padding: $base-line-height-px;

    .responsive-site-style-content-boxed & {
        margin: 0;
        border-bottom: 1px solid map-get( $colors, light-gray );
    }

    .responsive-site-style-flat & {
        background-color: transparent;
        padding: 0;
    }

    .nav-links {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: map-get( $screens, sm ) ) {
            display: inline-block;

            a {
                margin: 0 $base-line-height-px / 2;

                &.next.page-numbers {
                    float: right;
                }

                &:first-child,
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}

.single .navigation .nav-links {
    display: flex;
}

.comment-respond,
.comments-area {
    @include make-block-element();
    background-color: map-get($colors, white);
    padding: $base-line-height-px;

    .responsive-site-style-content-boxed & {
        margin: 0;
        border-bottom: 1px solid map-get( $colors, light-gray );
    }

    .responsive-site-style-flat & {
        background-color: transparent;
        padding: 0;
    }

    ol.commentlist {
        margin: 0;
        list-style: none;

        ul.children {
            list-style: none;
            @media ( max-width: map-get( $screens, sm ) ) {
                margin-left: 0;
            }
        }

        .says {
            display: none;
        }

        .reply,
        .comment-meta,
        .comment-author {
            font-size: map-get( $font-sizes, small );
        }

        .comment-reply-link {
            float: right;

            &:before {
                content: "\f122";
                font-family: icomoon;
                margin-right: $base-line-height-px / 5;
                color: inherit;
            }
        }

        .comment-edit-link {
            float: right;

            &:before {
                content: "\f044";
                font-family: icomoon;
                margin-right: $base-line-height-px / 5;
            }
        }

        .avatar {
            border-radius: 50%;
            float: left;
            margin-right: $base-line-height-px / 2;
        }

        .comment-body,
        li.comment {
            @include make-block-element($base-line-height-px);
        }

        li.comment {
            border-top: 1px solid rgba(170,170,170,0.2);
            padding-top: $base-line-height-px;
        }
    }
}

/**
 * Custom Home Page support styles
 * -----------------------------------------------------------------------------
 */
.page.front-page,
.blog.front-page {
    .content-area {
        width: 100%;
    }
    .custom-home {
        &-about-section,
        &-feature-section,
        &-team-section,
        &-testimonial-section,
        &-contact-section,
        &-widget-section,
        &-featured-area {
            @include make-block-element();
            @extend .col-xs-12;
            display: flex;
            align-items:center;
            justify-content: space-between;
            margin-top: 0;
            padding: $base-line-height-px;
        }

        &-about-section {
            .about-section-wrapper {
                @extend .row;
                margin: 0;
                align-items: center;
                width: 100%;

                .about-content {
                    @extend .col-xs-12;
                    @extend .col-md-6;
                    @extend .col-lg-8;
                }
                .about-cta {
                    @extend .col-xs-12;
                    @extend .col-md-6;
                    @extend .col-lg-4;

                    @media (max-width: map-get( $screens, md ) ) {
                        margin-top: $base-line-height-px;
                    }
                }
            }
        }

        &-featured-area {
            .featured-area-wrapper {
                @extend .row;
                margin: 0;
                align-items: center;
                width: 100%;

                .featured-content,
                .featured-image {
                    @extend .col-xs-12;
                    @extend .col-lg-6;
                    text-align: center;
                    > p {
                        margin-top: 0;
                    }

                }

                @media (max-width: map-get( $screens, lg ) ) {
                    .featured-image {
                        margin-top: $base-line-height-px;
                    }
                }
            }
        }

        &-testimonial-section,
        &-team-section,
        &-contact-section,
        &-feature-section {
            flex-direction: column;
        }

        &-testimonial-section {
            .testimonial-content {
                @extend .row;
                text-align: left;

                @media (max-width: map-get( $screens, md ) ) {
                    text-align: center;
                }

                .fa-quote-left {
                    font-size: map-get( $font-sizes, extra-large );
                }

                .testimonial-img {
                    @extend .col-xs-12;
                    @extend .col-md-4;
                }
                .testimonial_main_text {
                    @extend .col-xs-12;
                    @extend .col-md-8;

                    @media (max-width: map-get( $screens, md ) ) {
                        margin-top: $base-line-height-px;
                    }
                }
            }
        }

        &-team-section {
            .section-team {
                > div {
                    @include make-block-element();
                }
            }
        }

        &-contact-section {
            .contact-content {
                @extend .row;
                align-items: center;
                width: 100%;
                text-align: left;

                .contact_left {
                    @extend .col-xs-12;
                    @extend .col-lg-6;

                    > div {
                        @include make-block-element();
                    }

                    .fa {
                        margin-right: $base-line-height-px /4;
                    }
                }
                .contact_right {
                    @media (max-width: map-get( $screens, md ) ) {
                        margin-top: $base-line-height-px;
                    }
                }

            }

        }

    }

    .contact-content,
    .testimonial-content,
    .feature-main-div,
    .team-main-div {
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
    .testimonial_img img,
    .feature_img img,
    .team_img img {
        border-radius: 50%;
        border: 6px solid rgba( 170, 170, 170, 0.2 );
        width: 200px;
        height: 200px;
    }
    .team-main-div,
    .feature-main-div {
        @extend .row;
    }

    .section-team,
    .section-feature {
        @extend .col-xs-12;
        @extend .col-md-4;
        @media (max-width: map-get( $screens, md ) ) {
            margin-top: $base-line-height-px;
        }
    }
    .button {
        @include make-button();
    }

    aside.home-widgets {
        background-color: transparent;
        align-items: normal;
        padding: 0;
        width: 100%;
        .home-widget-wrapper{
            @extend .row;
            width: -webkit-fill-available;
            width: -moz-available;

            .home-widget-1,
            .home-widget-2,
            .home-widget-3 {
                @extend .col-xs-12;
                @extend .col-md-4;
                text-align: center;
                @media (max-width: map-get( $screens, md ) ) {
                    margin-top: $base-line-height-px;
                }
                .widget-wrapper {
                    margin-top: 0;
                }
                .textwidget,
                .widget-title-home {
                    @include make-block-element();
                }
            }
            .home-widget-1 {
                @media (max-width: map-get( $screens, md ) ) {
                    margin-top: 0;
                }
            }
        }
    }
}


.custom-home {
    &-about-section,
    &-feature-section,
    &-team-section,
    &-testimonial-section,
    &-contact-section,
    &-widget-section,
    &-featured-area {
        .responsive-site-style-content-boxed &,
        .responsive-site-style-boxed & {
            background-color: map-get( $colors, white );
        }

        .page.front-page.responsive-site-style-content-boxed &,
        .blog.front-page.responsive-site-style-content-boxed & {
            margin-bottom: 0;
            border-bottom: 1px solid rgba( 170, 170, 170, 0.2 );
        }
    }

    &-widget-section.home-widgets {
        .page.front-page.responsive-site-style-content-boxed &,
        .blog.front-page.responsive-site-style-content-boxed & {
            padding: $base-line-height-px;
            background-color: map-get( $colors, white );
        }
    }
}

article.product {
    @extend .hentry;
    .responsive-site-style-boxed .site-content & {
            background-color: map-get( $colors, white );
    }
}

/* for give Wp plugin */
.give-wrap > div#content[role^="main"] {
    padding: 0 $base-line-height-px / 2;
}
