/**
 * Site Footer and footer-widget styles
 * -----------------------------------------------------------------------------
 */

.site-footer {
    background-color: map-get( $colors, dark-gray );
    color: map-get( $colors, white );
    font-size: map-get( $font-sizes, small );
    @for $i from 1 through 6 {
        h#{$i} {
            color: map-get( $colors, white );
        }
    }

    a {
        @include make-link( map-get( $colors, light-gray ), map-get( $colors, white ) );
    }

}

.footer-widgets {
    border-bottom: 1px solid rgba( 170, 170, 170, 0.2 );
    padding: $grid-gutter-width * 2  0;
    .row {
        justify-content: space-between;
    }

    .footer-widget {
        @extend .col-xs-12;
        @extend .widget-area;
        .footer-widgets-columns-1 & {
            @extend .col-lg-12;
        }
        .footer-widgets-columns-2 & {
            @extend .col-lg-6;
        }
        .footer-widgets-columns-3 & {
            @extend .col-lg-4;
        }
        .footer-widgets-columns-4 & {
            @extend .col-lg-3;
        }
    }

    .widget-wrapper ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            border-top: 1px dotted rgba(170, 170, 170, 0.2);
            padding: $base-line-height-px/4 0;
        }
    }
}

.footer-bar {
    padding: $grid-gutter-width * 2  0;

    .row {
        .footer-bar-layout-horizontal & {
            justify-content: space-between;
        }

        .footer-bar-layout-vertical & {
            flex-direction: column;
        }

    }

    [class*="icon-"] {
        font-size: map-get( $font-sizes, large );
    }
}

.colophon-widgets,
.footer-navigation,
.social-icon,
.copyright {
    @extend .col-xs-12;
    padding-top: $grid-gutter-width / 2;
    padding-bottom: $grid-gutter-width / 2;

    .footer-bar-layout-horizontal & {
        @media (min-width: map-get( $screens, md ) ) {
            width: auto;
        }
    }
    .footer-bar-layout-vertical & {
        text-align: center;
    }
}

.social-icon,
.footer-navigation {

    .footer-bar-layout-vertical & {
        text-align: center;
    }

    ul {
        list-style: none;
        margin: 0;

        & > li {
            display: inline;
            border-bottom: 1px solid rgba( 170, 170, 170, 0.2 );
            border-bottom: none;
            margin: 0 $grid-gutter-width / 2;

            &:first-child {
                margin: 0;
            }
        }
    }
}

.responsive-scroll {
    display: none;
    position: fixed;
    right: 2%;
    bottom: $grid-gutter-width / 3;
    cursor: pointer;
    width: $grid-gutter-width * 2;
    height: $grid-gutter-width * 2;
    background-color: map-get( $colors, blue);
    text-indent: -9999px;
    z-index: 99999999;
    -webkit-border-radius: $grid-gutter-width * 2;
    -moz-border-radius: $grid-gutter-width * 2;
    border-radius: $grid-gutter-width * 2;

    &:focus,
    &:hover {
        background-color: map-get( $colors, dark-blue );
    }

    .scroll-to-top-aligmnment-left & {
        left: 2%;
        right: auto;
    }

    .scroll-to-top-device-mobile & {
        @media ( min-width: map-get( $screens, md ) ) {
            display: none;
        }
    }
    .scroll-to-top-device-desktop & {
        @media ( max-width: map-get( $screens, md ) ) {
            display: none;
        }
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -8px;
        margin-top: -12px;
        height: 0;
        width: 0;
        border: 8px solid transparent;
        border-bottom-color: map-get( $colors, white);
    }
}
