/**
 * Site Footer and footer-widget styles
 * -----------------------------------------------------------------------------
 */

 .site-footer {
    background-color: map-get($colors, dark-gray);
    color: map-get($colors, white);
    font-size: map-get($font-sizes, small);
    @for $i from 1 through 6 {
        h#{$i} {
            color: map-get($colors, white);
        }
    }

    a {
        @include make-link(map-get($colors, light-gray), map-get($colors, white));
    }

}

// .footer-full-width .site-footer .container {
//     max-width: none;
// }

.footer-widgets {
    display: block;
    padding: $grid-gutter-width * 2  0;
    flex-grow: 1;
    .row {
        justify-content: space-between;
    }

    .footer-widget {
        @extend .col-xs-12;
        @extend .widget-area;
        .footer-widgets-columns-1 & {
            @extend .col-lg-12;
        }

        .footer-widgets-columns-2 & {
            @extend .col-lg-6;
        }

        .footer-widgets-columns-3 & {
            @extend .col-lg-4;
        }

        .footer-widgets-columns-4 & {
            @extend .col-lg-3;
        }
    }

    .widget-wrapper ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            padding: $base-line-height-px/4 0;
            border-top: 1px dotted rgba(170, 170, 170, 0.2);
        }
    }
}

.footer-bar {
    padding: $grid-gutter-width * 2  0;

    .row {
        .footer-bar-layout-horizontal & {
            justify-content: space-between;
        }

        .footer-bar-layout-vertical & {
            flex-direction: column;
        }

    }

    [class^="icon-"] {
        font-size: map-get($font-sizes, large);
    }
}

.colophon-widgets,
.footer-navigation,
.social-icon,
.copyright {
    @extend .col-xs-12;
    // padding-top: $grid-gutter-width / 2;
    // padding-bottom: $grid-gutter-width / 2;

    .footer-bar-layout-horizontal & {
        @media (min-width: map-get($screens, md) ) {
            width: auto;
            margin: auto 0;
        }
    }

    .footer-bar-layout-vertical & {
        text-align: center;
    }
}

.social-icon,
.footer-navigation {

    .footer-bar-layout-vertical & {
        text-align: center;
    }

    ul {
        margin: 0;
        list-style: none;

        & > li {
            display: inline;
            margin-right: $grid-gutter-width / 2;
            border-bottom: 1px solid rgba(170, 170, 170, 0.2);
            border-bottom: 0;
        }
    }
}
.site-footer-row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    &.site-footer-row-columns-1 {
        display: flex;
        justify-content: center;
    }
    &.site-footer-row-columns-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    &.site-footer-row-columns-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));;
    }
    &.site-footer-row-columns-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr));;
    }
    &.site-footer-row-columns-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));;
    }
}

.rspv-hfb-footer-row-inline {
    & .site-footer-section {
        display: flex;
    }
}
.site-footer-section {
    max-height: inherit;
}
@media ( max-width: map-get( $screens, md ) ) {
    .site-footer-section {
        justify-content: center;
    }
}
.rspv-site-footer-focus-item {
    & > .customize-partial-edit-shortcut button {
        left: 0;
    }
    @media ( max-width: map-get( $screens, md ) ) {
        & .site-footer-row {
            grid-template-columns: minmax(0, 1fr);
        }
    }
}
.rspv-hfb-footer-width-fullwidth .container {
    max-width: none;
}
.site-footer-row-columns-2 {
    &.rspv-hfb-footer-row-layout-left-heavy {
        grid-template-columns: 2fr 1fr;
    }
    &.rspv-hfb-footer-row-layout-right-heavy {
        grid-template-columns: 1fr 2fr;
    }
}
.site-footer-row-columns-3 {
    &.rspv-hfb-footer-row-layout-left-half {
        grid-template-columns: 2fr 1fr 1fr;
    }
    &.rspv-hfb-footer-row-layout-right-half {
        grid-template-columns: 1fr 1fr 2fr;
    }
    &.rspv-hfb-footer-row-layout-center-half {
        grid-template-columns: 1fr 2fr 1fr;
    }
    &.rspv-hfb-footer-row-layout-center-wide {
        grid-template-columns: 1fr 3fr 1fr;
    }
}
.site-footer-row-columns-4 {
    &.rspv-hfb-footer-row-layout-left-forty {
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }
    &.rspv-hfb-footer-row-layout-right-forty {
        grid-template-columns: 1fr 1fr 1fr 2fr;
    }
}
@media ( max-width:map-get($screens, lg) ) and ( min-width:map-get($screens,sm) ) {
    .site-footer-wrap .rspv-site-footer-focus-item .site-footer-row.rspv-hfb-footer-row-tablet-layout-row {
        grid-template-columns: 1fr;
    }
    .site-footer-row.site-footer-row-columns-2 {
        &.rspv-hfb-footer-row-tablet-layout-equal {
            grid-template-columns: repeat( 2, 1fr );
        }
        &.rspv-hfb-footer-row-tablet-layout-left-heavy {
            grid-template-columns: 2fr 1fr;
        }
        &.rspv-hfb-footer-row-tablet-layout-right-heavy {
            grid-template-columns: 1fr 2fr;
        }
    }
    .site-footer-row-columns-3 {
        &.rspv-hfb-footer-row-tablet-layout-equal {
            grid-template-columns: repeat( 3, 1fr );
        }
        &.rspv-hfb-footer-row-tablet-layout-left-half {
            grid-template-columns: 2fr 1fr 1fr;
        }
        &.rspv-hfb-footer-row-tablet-layout-right-half {
            grid-template-columns: 1fr 1fr 2fr;
        }
        &.rspv-hfb-footer-row-tablet-layout-center-half {
            grid-template-columns: 1fr 2fr 1fr;
        }
        &.rspv-hfb-footer-row-tablet-layout-center-wide {
            grid-template-columns: 1fr 3fr 1fr;
        }
        &.rspv-hfb-footer-row-tablet-layout-first-row {
            grid-template-columns: 1fr 1fr;
            & > *:first-child {
                grid-column: 1 / -1;
            }
        }
        &.rspv-hfb-footer-row-tablet-layout-last-row {
            grid-template-columns: 1fr 1fr;
            & > *:last-child {
                grid-column: 1 / -1;
            }
        }
    }
    .site-footer-row-columns-4 {
        &.rspv-hfb-footer-row-tablet-layout-equal {
            grid-template-columns: repeat( 4, 1fr );
        }
        &.rspv-hfb-footer-row-tablet-layout-two-grid {
            grid-template-columns: repeat( 2, 1fr );
        }
    }
    .site-footer-row-columns-5 {
        &.rspv-hfb-footer-row-tablet-layout-equal {
            grid-template-columns: repeat( 5, 1fr );
        }
    }
    .site-footer-row-columns-6 {
        &.rspv-hfb-footer-row-tablet-layout-equal {
            grid-template-columns: repeat( 6, 1fr );
        }
    }
}
@media ( max-width:map-get($screens, sm) ) {
    .site-footer-wrap .rspv-site-footer-focus-item .site-footer-row.rspv-hfb-footer-row-mobile-layout-row {
        grid-template-columns: 1fr;
    }
    .site-footer-row.site-footer-row-columns-2 {
        &.rspv-hfb-footer-row-mobile-layout-equal {
            grid-template-columns: repeat( 2, 1fr );
        }
        &.rspv-hfb-footer-row-mobile-layout-left-heavy {
            grid-template-columns: 2fr 1fr;
        }
        &.rspv-hfb-footer-row-mobile-layout-right-heavy {
            grid-template-columns: 1fr 2fr;
        }
    }
    .site-footer-row-columns-3 {
        &.rspv-hfb-footer-row-mobile-layout-equal {
            grid-template-columns: repeat( 3, 1fr );
        }
        &.rspv-hfb-footer-row-mobile-layout-left-half {
            grid-template-columns: 2fr 1fr 1fr;
        }
        &.rspv-hfb-footer-row-mobile-layout-right-half {
            grid-template-columns: 1fr 1fr 2fr;
        }
        &.rspv-hfb-footer-row-mobile-layout-center-half {
            grid-template-columns: 1fr 2fr 1fr;
        }
        &.rspv-hfb-footer-row-mobile-layout-center-wide {
            grid-template-columns: 1fr 3fr 1fr;
        }
        &.rspv-hfb-footer-row-mobile-layout-first-row {
            grid-template-columns: 1fr 1fr;
            & > *:first-child {
                grid-column: 1 / -1;
            }
        }
        &.rspv-hfb-footer-row-mobile-layout-last-row {
            grid-template-columns: 1fr 1fr;
            & > *:last-child {
                grid-column: 1 / -1;
            }
        }
    }
    .site-footer-row-columns-4 {
        &.rspv-hfb-footer-row-mobile-layout-equal {
            grid-template-columns: repeat( 4, 1fr );
        }
        &.rspv-hfb-footer-row-mobile-layout-two-grid {
            grid-template-columns: repeat( 2, 1fr );
        }
    }
    .site-footer-row-columns-5 {
        &.rspv-hfb-footer-row-mobile-layout-equal {
            grid-template-columns: repeat( 5, 1fr );
        }
    }
    .site-footer-row-columns-6 {
        &.rspv-hfb-footer-row-mobile-layout-equal {
            grid-template-columns: repeat( 6, 1fr );
        }
    }
}