@import 'builder-footer';

/**
 * Site Footer and footer-widget styles
 * -----------------------------------------------------------------------------
 */

.site-footer {
    background-color: map-get($colors, dark-gray);
    color: map-get($colors, white);
    font-size: map-get($font-sizes, small);
    @for $i from 1 through 6 {
        h#{$i} {
            color: map-get($colors, white);
        }
    }

    a {
        @include make-link(map-get($colors, light-gray), map-get($colors, white));
    }

}

.footer-full-width .site-footer .container {
    max-width: none;
}

.footer-widgets {
    display: block;
    padding: $grid-gutter-width * 2  0;
    .row {
        justify-content: space-between;
    }

    .footer-widget {
        @extend .col-xs-12;
        @extend .widget-area;
        .footer-widgets-columns-1 & {
            @extend .col-lg-12;
        }

        .footer-widgets-columns-2 & {
            @extend .col-lg-6;
        }

        .footer-widgets-columns-3 & {
            @extend .col-lg-4;
        }

        .footer-widgets-columns-4 & {
            @extend .col-lg-3;
        }
    }

    .widget-wrapper ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            padding: $base-line-height-px/4 0;
            border-top: 1px dotted rgba(170, 170, 170, 0.2);
        }
    }
}

.footer-bar {
    padding: $grid-gutter-width * 2  0;

    .row {
        .footer-bar-layout-horizontal & {
            justify-content: space-between;
        }

        .footer-bar-layout-vertical & {
            flex-direction: column;
        }

    }

    [class*="icon-"] {
        font-size: map-get($font-sizes, large);
    }
}

.colophon-widgets,
.footer-navigation,
.social-icon,
.copyright {
    @extend .col-xs-12;
    padding-top: $grid-gutter-width / 2;
    padding-bottom: $grid-gutter-width / 2;

    .footer-bar-layout-horizontal & {
        @media (min-width: map-get($screens, md) ) {
            width: auto;
            margin: auto 0;
        }
    }

    .footer-bar-layout-vertical & {
        text-align: center;
    }
}

.social-icon,
.footer-navigation {

    .footer-bar-layout-vertical & {
        text-align: center;
    }

    ul {
        margin: 0;
        list-style: none;

        & > li {
            display: inline;
            margin-right: $grid-gutter-width / 2;
            border-bottom: 1px solid rgba(170, 170, 170, 0.2);
            border-bottom: 0;
        }
    }
}
