/**
 * Input styles
 * -----------------------------------------------------------------------------
 */
button,
input,
select,
textarea {
    display: inline-block;
    padding: $input-padding-y $input-padding-x;
    width: 100%;
}

input[type=radio],
input[type=checkbox] {
    width: auto;
}

button,
input[type=button],
input[type=submit] {
    background-color: map-get( $colors, blue );
    color: map-get( $colors, white );
    cursor: pointer;
    font-size: map-get( $font-sizes, small );
    font-weight: bold;
    letter-spacing: 1px;
    line-height: $base-line-height-px;
    text-transform: uppercase;
    width: auto;

    &:focus,
    &:hover {
        background-color: map-get( $colors, dark-blue );
    }
}
input[type=search] {
    -webkit-appearance: initial;
    -moz-appearace: inherit;
}

div.wpforms-container-full .wpforms-form select,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(50% + 2px),
        calc(100% - 15px) calc(50% + 2px),
        calc(100% - .5em) .5em;
    background-size:
        5px 5px,
        5px 5px,
        1.5em 1.5em;
    background-repeat: no-repeat;
}
