@charset "UTF-8";
@import 'variables';
@import 'mixins';
/* ------------------------------------------- */
/*	Responsive gutenberg-front Styles — Block Editor
/* ------------------------------------------- */
.page,
.single,
.blog,
.search,
.archive {
    &.page-template-gutenberg-fullwidth,
    &.sidebar-position-no:not(.woocommerce) {
        .alignwide {
    		max-width: 100vw;
            margin-right: calc(25% - 25vw);
            margin-left: calc(25% - 25vw);

            &.wp-block-cover,
            &.wp-block-cover-image {
                width: auto;
            }
        }

        .alignfull {
    		width: 100vw;
    		max-width: 100vw;
            margin-right: calc(50% - 50vw);
            margin-left: calc(50% - 50vw);

            &.wp-block-cover,
            &.wp-block-cover-image {
                width: auto;
            }
        }

        .alignwide,
        .alignfull {
            *:not(.alignwide):not(.wp-block-cover__inner-container):not(.wp-block-separator),
            *:not(.alignfull):not(.wp-block-cover__inner-container):not(.wp-block-separator) {
                max-width: 100%;
            }
        }

        .wp-block-columns {
            .alignwide,
            .alignfull {
                width: 100%;
                max-width: 100%;
                margin-right: auto;
                margin-left: auto;
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
}

.alignwide,
.alignfull {
    clear: both;
}

[class*="__inner-container"] {
    @extend .container;
}

.content-width-1200 {
    > [class*="__inner-container"] {
        max-width: 1200px !important;
        margin: 0 auto;
    }
}

.content-width-960 {
    > [class*="__inner-container"] {
        max-width: 960px !important;
        margin: 0 auto;
    }
}

.content-width-720 {
    > [class*="__inner-container"] {
        max-width: 720px !important;
        margin: 0 auto;
    }
}

.content-width-540 {
    > [class*="__inner-container"] {
        max-width: 540px !important;
        margin: 0 auto;
    }
}

@media (max-width: 782px) {
	.content-outer .wp-block-columns .wp-block-column {
		flex-basis: 100%;
		margin-left: 0;
	}
}

.wp-block-image {
    &.alignnone {
        margin: ( $grid-gutter-width/6 ) ($grid-gutter-width * (2/3) ) ($grid-gutter-width * (2/3) ) 0;
    }

    &.alignleft {
        margin: ( $grid-gutter-width/6 ) ($grid-gutter-width * (2/3) ) ($grid-gutter-width * (2/3) ) 0;
    }

    &.alignright {
        margin: ( $grid-gutter-width/6 ) 0 ($grid-gutter-width * (2/3) ) ($grid-gutter-width * (2/3) );
    }
}

:root .has-primary-color {
    color: #333333;
}

:root .has-primary-background-color {
    background-color: #333333;
    color: #ffffff;
}

:root .has-secondary-color {
    color: #0066CC;
}

:root .has-secondary-background-color {
    background-color: #0066CC;
    color: #ffffff;
}

.post-entry .wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
    padding-left: 7%;
    padding-right: 0;
    & {
        @media( max-width: map-get($screens, sm) ) {
            padding: 0 21px 88px 21px;
            text-align: center;
        }
    }
}
.home-banner {
    &.wp-block-cover {
        padding: 0;
    }
    &.wp-block-cover .wp-block-cover__inner-container {
        max-width: none;
    }
    & .wp-block-buttons.is-layout-flex {
        @media( max-width: map-get($screens, sm) ) {
            justify-content: center;
        }
    }
    & .wp-block-media-text__content > p {
        color: #FFFFFF;
        @media( max-width: map-get($screens, sm) ) {
            font-size: 18px !important;
            text-align: center;
            margin-top: 18px;
            margin-bottom: 18px;
        }
    }
    @media( max-width: map-get($screens, sm) ) {
        & .wp-block-heading {
            text-align: center;
        }
    }

}
.wp-block-group.services {
    @media( max-width: map-get($screens, sm) ) {
        padding: 56px 32px 0 32px !important;
    }
    & .wp-block-group__inner-container {
        padding: 0;
    }
    & .wp-block-columns.is-layout-flex {
        gap: 132px;
        @media( max-width: map-get($screens, sm) ) {
            gap: 56px;
        }
    }
    & .wp-block-column {
        & .wp-block-image {
            margin: 0;
        }
       & .wp-block-heading {
           margin-top: 0;
           margin-bottom: 18px;
       }
       & p {
           margin-top: 0;
           margin-bottom: 0;
       }
    }
}
.wp-block-group.about {
    @media( max-width: map-get($screens, sm) ) {
        padding: 90px 25px 105px 20px !important;
    }

    & .wp-block-media-text {
        gap: 170px;
        & {
            @media( max-width: map-get($screens, sm) ) {
                gap: 39px;
            }
        }
        & .wp-block-media-text__content {
            padding: 0;
            @media( max-width: map-get($screens, sm) ) {
                grid-row: 1;
                & .wp-block-heading {
                    font-size: 36px;
                    font-weight: 500;
                    margin-bottom: 20px;
                }
                & p {
                    margin: 0;
                }
                & p:not(:last-child) {
                    margin-bottom: 4px;
                }
            }
            @media( min-width: map-get($screens, md) ) {
                & p {
                    font-size: 18px;
                }
            }
        }
        & .wp-block-media-text__media {
            @media( max-width: map-get($screens, sm) ) {
                grid-row: 2;
                & img {
                    width: 267px;
                    height: 400px;
                }
            }
            @media( min-width: map-get($screens, md) ) {
                & img {
                    width: 444px;
                    height: 666px;
                }
            }
        }
    }
    & .wp-block-group__inner-container {
        padding: 0;
    }
}
.wp-block-group.whyus {
    @media( max-width: map-get($screens, sm) ) {
        padding: 171px 24px 171px 20px !important;
    }
    & .wp-block-columns {
        gap: 183px;
        @media( max-width: map-get($screens, sm) ) {
            gap: 104px;
        }
    }
    & .wp-block-column {
        & h3 {
            font-size: 30px;
            line-height: 36px;
        }
    }
}
.wp-block-group.testimonials {
    @media( max-width: map-get($screens, sm) ) {
        padding: 78px 22px !important;
    }
    @media( min-width: map-get($screens, md) ) {
        & p {
            font-size: 24px;
            line-height: 47px;
        }
    }
    @media( max-width: map-get($screens, sm) ) {
        & p {
            font-size: 18px;
            line-height: 30px;
        }
    }
}
.wp-block-group.contact {
    @media( max-width: map-get($screens, sm) ) {
        padding: 96px 22px !important;
    }
    @media( min-width: map-get($screens, md) ) {
        & .wp-block-buttons {
            margin-top: 32px;
        }
    }
    @media( max-width: map-get($screens, sm) ) {
        & .wp-block-buttons {
            margin-top: 26px;
        }
    }
}
.post-entry {
    & .wp-block-group .wp-block-group__inner-container {
        padding: 0;
    }
    & .wp-block-cover .wp-block-cover__inner-container {
        padding: 0;
    }
}