/**
 * Site header and Header Menu styles
 * -----------------------------------------------------------------------------
 */
.site-header {
    border-bottom: 1px solid map-get( $colors, light-gray );

    .container {
        position: relative;
    }

    .row {
        align-items: center;

        @media( min-width: map-get( $screens, xxxl ) ) {
            justify-content: space-between;
        }
    }

    a {
        @include make-link( map-get( $colors, dark-gray ), map-get( $colors, dark-blue ) );
        text-decoration: none;
    }
}
.header-full-width .site-header .container {
    max-width: none;
}

.site-branding {
    @extend .col-xs-12;

    @media( min-width: map-get( $screens, xxxl ) ) {
        width: auto;
    }

	.site-header-layout-horizontal & {
        min-width: 20%;
    }


    .site-mobile-header-layout-horizontal & {
        @media( max-width: map-get( $screens, sm ) ) {
            max-width: 250px;
        }
    }
    .site-mobile-header-layout-vertical & {
        @media( max-width: map-get( $screens, sm ) ) {
            max-width: 100%;
            width: 100%;
        }
    }

    &-wrapper {
        padding-bottom: $base-line-height-px;
        padding-top: $base-line-height-px;
    }
}

.site-title,
.site-description {
    line-height: $base-line-height-px;
    margin-bottom: 0;
    margin-top: 0;
}

.site-title {
    @extend h3;
}

.site-description {
    @extend small;
    line-height: $base-line-height-px;
}

.main-navigation {
    @extend .col-xs-12;
    @include clear-floats();

    @media( min-width: map-get( $screens, xxxl ) ) {
        width: auto;
    }

    ul {
        list-style: none;
    }

    li {
        position: relative;
    }

    a {
        display: block;
        padding: ( $input-padding-y * 4 ) ( $base-line-height-px / 2 );
        font-weight: 600;
    }

    .menu-toggle {
        @extend .show-xs;
        @extend .hide-xxxl;

        background-color: transparent;
        border: none;
        color: map-get( $colors, dark-gray );
        font-size: map-get( $font-sizes, medium );
        line-height: $base-line-height-px * 1.75;
        height: $base-line-height-px * 1.75;
        padding: 0;
        position: absolute;
        right: $grid-gutter-width / 2;
        text-align: center;
        top: $base-line-height-px * 0.875;
        width: $base-line-height-px * 1.75;
        z-index: 9999;

        &-cancel {
            display: none;
        }

        i {
            margin: 0;
        }
    }

    .menu {
        @extend .hide-xs;
        @extend .show-xxxl;
        @include clear-floats();

        margin: 0;

        li {
            &.focus,
            &:hover {
                & > .children,
                & > .sub-menu {
                    left: 0;
                }
            }
        }

        & > li {
            border-bottom: 1px solid rgba( 170, 170, 170, 0.2 );

            @media( min-width: map-get( $screens, xxxl ) ) {
                border-bottom: none;
                float: left;
                margin-left: 2px;
            }

            &.menu-item-has-children > a,
            &.page_item_has_children > a {
                @media( min-width: map-get( $screens, xxxl ) ) {
                    &:after {
                        content: '\f107';
                        font-family: $icon-font;
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    .children,
    .sub-menu {
		padding: 15px 0;
        @media( min-width: map-get( $screens, xxxl ) ) {
            background-color: map-get( $colors, white );
            box-shadow: 0 5px 10px map-get( $colors, light-gray );
            left: -9999em;
            margin-left: 0;
            top: 100%;
            position: absolute;
            width: 240px;
            z-index: 9999;
        }

        & > li {
            &.focus,
            &:hover {
                @media( min-width: map-get( $screens, xxxl ) ) {
                    & > .children,
                    & > .sub-menu {
                        left: 100%;
                        top: 0;
                    }
                }
            }

            &:first-child {
                @media( min-width: map-get( $screens, xxxl ) ) {
                    border-top: none;
                }
            }

            &.menu-item-has-children > a,
            &.page_item_has_children > a {
                @media( min-width: map-get( $screens, xxxl ) ) {
                    &:after {
                        content: '\f105';
                        float: right;
                        font-family: $icon-font;
                        margin-left: 5px;
                    }
                }
            }
        }

        a {
            @media( min-width: map-get( $screens, xxxl ) ) {
                padding: ( $input-padding-y * 2 ) ( $grid-gutter-width / 2 );
            }
        }
    }

    &.toggled {
        .menu {
            display: block;
        }
    }
} // .main-navigation

.site-header-layout-horizontal {
    &.site-header-main-navigation-site-branding {
        .main-navigation {
            .menu {
                & > li {
                    @media( min-width: map-get( $screens, xxxl ) ) {
                        margin-left: 0;
                        margin-right: 2px;
                    }
                }
            }
        }
    }
    &.site-header-site-branding-main-navigation {
        .main-navigation:not(.toggled) .menu {
            float: right;
        }
    }
    &.site-header-site-branding-main-navigation {
        &.last-item-spread-away {
            .main-navigation .menu {
                float: left;
                width: 100%;
                & > li.res-custom-text-menu,
                & > li.res-button-menu,
                & > li.res-cart-link,
                & > li.res-search-link {
                    float: right;
                }
            }
        }
    }
}

.site-mobile-header-layout-horizontal {
    .main-navigation {
        .menu-toggle {
            bottom: $base-line-height-px;
            top: auto;
        }
    }
}

.site-header-layout-vertical {
    .site-header .row {
        @media( min-width: map-get( $screens, xxxl ) ) {
            flex-direction: column;
        }
    }
    .site-branding,
    .main-navigation {
        width: 100%;
    }

    .main-navigation {
        .menu {
            & > li {
                @media( min-width: map-get( $screens, xxxl ) ) {
                    margin-left: 0;
                    margin-right: 2px;
                }

                &.res-search-link,
                &.res-cart-link {
                    float: right;
                    cursor: pointer;
                }
            }
        }

        #searchform {
            right: 0;
        }
    }

    &.site-header-site-branding-main-navigation {
        &.site-header-full-width-main-navigation .main-navigation {
            border-top: 1px solid map-get( $colors, light-gray );
        }

        &.site-header-site-branding-main-navigation:not(.responsive-site-full-width):not(.header-full-width):not(.site-header-full-width-main-navigation) .main-navigation div {
            @media ( min-width: map-get( $screens, xxxl ) ) {
                border-top: 1px solid map-get( $colors, light-gray );
            }
        }


        &.site-header-full-width-main-navigation .main-navigation div {
            border-top: 0;
        }

        &.last-item-spread-away {
            .main-navigation .menu {
                float: left;
                width: 100%;
                & > li.res-custom-text-menu,
                & > li.res-button-menu,
                & > li.res-cart-link,
                & > li.res-search-link {
                    float: right;
                }
            }
        }

    }

    &.site-header-main-navigation-site-branding {
        &.site-header-full-width-main-navigation .main-navigation {
            border-bottom: 1px solid map-get( $colors, light-gray );
            border-top: 0;
        }

        &.site-header-main-navigation-site-branding:not(.responsive-site-full-width):not(.header-full-width) .main-navigation div {
            @media ( min-width: map-get( $screens, xxxl ) ) {
                border-bottom: 1px solid map-get( $colors, light-gray );
                border-top: 0;
            }
        }


        &.site-header-full-width-main-navigation .main-navigation div {
            border-bottom: 0;
        }
        &.last-item-spread-away {
            .main-navigation .menu {
                float: left;
                width: 100%;
                & > li.res-custom-text-menu,
                & > li.res-button-menu,
                & > li.res-cart-link,
                & > li.res-search-link {
                    float: right;
                }
            }
        }
    }

    &.site-header-full-width-main-navigation {
        .main-navigation {
            @media( min-width: map-get( $screens, xxxl ) ) {
                @include make-full-width();
            }
        }
    }
}

.site-mobile-header-layout-vertical {
    .main-navigation {
        .menu-toggle {
            bottom: auto;
            position: relative;
            right: auto;
            text-align: left;
            top: auto;
            width: auto;

            i {
                padding: $grid-gutter-width / 2;
            }
        }
    }
}

.sidebar-menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9998;
}

// Header Widget Styles
.header-widgets {
    background-color: map-get( $colors, white );
    font-size: map-get( $font-sizes, small );
    border-bottom: 1px solid map-get( $colors, light-gray );

    .header-widget-position-with_logo & {
        background-color: transparent;
    }

    .header-widgets-wrapper {
        @extend .row;
        justify-content: space-between;
        .header-widget-alignment-left & {
            justify-content: flex-start;
        }
        .header-widget-alignment-right & {
            justify-content: flex-end;
        }
        .header-widget-alignment-center & {
            justify-content: center;
        }
        .header-widget-alignment-space-around & {
            justify-content: space-around;
        }
        padding: $base-line-height-px/2;

        & > .widget {
            @extend .col-xs-12;
            width: auto;
            align-items: center;
            margin: auto 0;
        }
    }

    .site-header-layout-vertical.header-widget-position-with_logo:not(.site-header-alignment-center) & {
        border: none;
        width: 50%;
        float: left;
        padding: $base-line-height-px 0;

        .header-widgets-wrapper {
            flex-direction: row;
        }

        @media screen and ( max-width: map-get( $screens, md ) ) {
            width: 100%;
        }
    }
}

.site-header-layout-vertical.header-widget-position-with_logo:not(.site-header-alignment-center) {
    .site-branding .site-branding-wrapper {
        width: 50%;
        float: left;

        @media screen and ( max-width: map-get( $screens, md ) ) {
            width: 100%;
        }
    }

    &.site-header-alignment-right .site-branding {
        display: flex;
        flex-direction: row-reverse;

        @media screen and ( max-width: map-get( $screens, md ) ) {
            flex-wrap: wrap;
        }
    }
}

.site-header-layout-horizontal.header-widget-position-with_logo {
	.site-branding {
		display: flex;
		flex-wrap: wrap;
		width: -webkit-fill-available;
	}
	.site-branding-wrapper {
		flex-wrap: wrap;
	    flex: auto;
	}
    .header-widgets {
        border: none;
        min-width: 60%;
        margin: auto 0;
    }

    &.header-widget-alignment-left {
        .site-branding {
            flex-direction: row-reverse;
            .site-branding-wrapper {
                text-align: right;
            }
        }
    }
	.site-header .row {
		flex-wrap: wrap;
	}
}

@media screen and ( min-width: map-get( $screens, xxxl ) ) {
    .site-header-layout-horizontal .site-header .row {
    	flex-wrap: nowrap;
    }
}

body.mega-menu-header-menu button.menu-toggle {
	display: none;
}

.inline-logo-site-title .site-branding-wrapper {
    @media screen and ( min-width: map-get( $screens, sm ) ) {
    	display: inline-flex;
    	vertical-align: middle;
    	align-items: center;

            .site-title {
                margin-left: $grid-gutter-width / 2;
        }
    }
}

.res-transparent-header:not(.woocommerce-cart):not(.woocommerce-checkout) #masthead{
    position:absolute;
    left:0;
    right:0;
    background: none;
    z-index: 99998;
}

.main-navigation #searchform {
    box-shadow: 0 3px 2px 2px #eeeeee;
    display: none;
    width: 300px;
    position: absolute;
    top: 3em;
    transition: all 0.3s ease;
    z-index: 9999;

	.res-search-wrapper {
		display: block;
		.res-search-icon.icon-search {
			position: absolute;
			top: 10px;
			right: 0px;
			font-size: 16px;
		}
	}
    .res-search-wrapper input[type=search]:focus, .res-search-wrapper input[type=search]:hover {
        + .res-search-icon.icon-search {
            display: none;
        }
    }
}

.res-custom-html {
	padding: 10px 14px;

	a {
		padding: 0;
	}
}

.full-screen.site-header-layout-vertical .main-navigation .main-navigation-wrapper .full-screen-search-wrapper .full-screen-search-container {
	left: 25%;
}
.full-screen .main-navigation .main-navigation-wrapper .full-screen-search-wrapper {
    background: rgba(255,255,255,.95);
    top: 0;
    left: 0;
    z-index: 999;
    transition: opacity .2s;
    width: 100%;
    height: 100%;

	#search-close{
		position: absolute;
	    color: black;
	    right: 1em;
	    line-height: 1;
	    cursor: pointer;
	    z-index: 9;
	    font-weight: 400;
	    font-size: 2em;
	    top: 1.5em;
	    backface-visibility: hidden;
		font-family: icomoon!important;
	    font-style: normal;
	    font-weight: 400;
	    font-variant: normal;
	    text-transform: none;
	    line-height: 1;
	    -webkit-font-smoothing: antialiased;
		&:before {
			content: "\f00d";
		}
	}

	.full-screen-search-container {
		position: absolute;
		width: 100%;
		left: 73%;
		top: 35%;
		transform: translate(-50%,-50%);

		#searchform {
			width: 50%;
			margin: 20px auto;
			box-shadow: none;

			.res-search-wrapper {
				color: #000;
			    background: 0 0;
			    border: none;
			    border-bottom: 1px solid #ddd;
			    font-weight: 900;
			    padding: 6px 15px;
			    height: auto;
				display: block;

				input[type=search] {
					background: none;
				}
			}
            .res-search-wrapper input[type=search]:focus, .res-search-wrapper input[type=search]:hover {
                + .res-search-icon.icon-search {
                    display: none;
                }
            }

			.res-search-icon.icon-search {
				position: absolute;
				top: 10px;
				right: 15px;
				font-size: 24px;
			}
		}
	}
}

.site-header {
	.custom-logo-link.sticky-custom-logo {
		display: none;
	}
	&.sticky-header {
		&.sticky-logo .custom-logo-link {
			display: none;
		}
        .custom-logo-link.sticky-custom-logo {
            display: inline-block;
        }

    }
}

.res-search-wrapper {
	display: inline-block;
	border: 1px solid #cccccc;
	input[type=search] {
		border: none;
	}
}

.search-form input {
	outline: none;
}
