/**
 * Site header and Header Menu styles
 * -----------------------------------------------------------------------------
 */
.site-header {
    // border-bottom: 1px solid map-get($colors, light-gray);

    .container {
        position: relative;
    }

    .row {
        align-items: center;

        @media( min-width: map-get($screens, xxxl) ) {
            justify-content: space-between;
        }
    }

    a {
        @include make-link(map-get($colors, dark-gray), map-get($colors, dark-blue));
        text-decoration: none;
    }
}

.header-full-width .site-header .container {
    max-width: none;
}

.site-branding {
    @extend .col-xs-12;

    @media( min-width: map-get($screens, xxxl) ) {
        width: auto;
    }

	.site-header-layout-horizontal & {
        min-width: 20%;
    }


    .site-mobile-header-layout-horizontal & {
        @media( max-width: map-get($screens, sm) ) {
            max-width: 250px;
        }
    }

    .site-header-row-container & {
        @media( max-width: map-get($screens, sm) ) {
            max-width: 250px;
        }
    }

    .site-mobile-header-layout-vertical & {
        @media( max-width: map-get($screens, sm) ) {
            width: 100%;
            max-width: 100%;
        }
    }

    &-wrapper {
        padding-top: $base-line-height-px;
        padding-bottom: $base-line-height-px;
    }
}

.site-title,
.site-description {
    margin-top: 0;
    margin-bottom: 0;
    line-height: $base-line-height-px;
}

.site-title {
    @extend h3;
}

.site-description {
    @extend small;
    line-height: $base-line-height-px;
}

.main-navigation {
    @extend .col-xs-12;
    @include clear-floats();

    @media( min-width: map-get($screens, xxxl) ) {
        width: auto;
    }

    ul {
        list-style: none;
    }

    li {
        position: relative;
    }

    a {
        display: block;
        padding: ( $input-padding-y * 4 ) 18px;
        font-weight: 600;
    }

    .menu-toggle {
        @extend .show-xs;
        @extend .hide-xxxl;

        position: absolute;
        margin: auto;
        top: $base-line-height-px * 0.875;
        right: $grid-gutter-width / 2;
        width: $base-line-height-px * 1.75;
        height: $base-line-height-px * 1.75;
        padding: 0;
        border: 0;
        background-color: transparent;
        color: map-get($colors, dark-gray);
        font-size: map-get($font-sizes, medium);
        line-height: $base-line-height-px * 1.75;
        text-align: center;
        z-index: 9999;

        &-cancel {
            display: none;
        }

        i {
            margin: 0;
        }
    }

    .menu {
        @extend .hide-xs;
        @extend .show-xxxl;
        @include clear-floats();

        margin: 0;

        li {
            &.focus,
            &:hover,
            &:focus {
                & > .children,
                & > .sub-menu {
                    left: 0;
                }
            }
        }

        & > li {
            border-bottom: 1px solid rgba(170, 170, 170, 0.2);
            
            @media( min-width: map-get($screens, xxxl) ) {
                margin-left: 2px;
                float: left;
                border-bottom: 0;
            }

            &.menu-item-has-children > a,
            &.page_item_has_children > a {
                @media( min-width: map-get($screens, xxxl) ) {
                    &:after {
                        margin-left: 5px;
                        font-family: $icon-font;
                        content: '\f107';
                    }
                }
            }
        }
    }

    .children,
    .sub-menu {
        @media( min-width: map-get($screens, xxxl) ) {
            position: absolute;
            top: 100%;
            left: -9999em;
            width: 240px;
            margin-left: 0;
            background-color: map-get($colors, #fff);
            box-shadow: 0 5px 10px map-get($colors, light-gray);
            z-index: 9999;
        }

        & > li {
            &.focus,
            &:hover {
                @media( min-width: map-get($screens, xxxl) ) {
                    & > .children,
                    & > .sub-menu {
                        top: 0;
                        left: 100%;
                    }
                }
            }

            &:first-child {
                @media( min-width: map-get($screens, xxxl) ) {
                    border-top: 0;
                }
            }

            &.menu-item-has-children > a,
            &.page_item_has_children > a {
                @media( min-width: map-get($screens, xxxl) ) {
                    &:after {
                        margin-left: 5px;
                        float: right;
                        font-family: $icon-font;
                        content: '\f105';
                    }
                }
            }
        }

        a {
            @media( min-width: map-get($screens, xxxl) ) {
                padding: ( $input-padding-y * 2 ) ( $grid-gutter-width / 2 );
            }
        }
    }

    &.toggled {
        .menu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
} // .main-navigation

.site-header-layout-horizontal {
    &.site-header-main-navigation-site-branding {
        .main-navigation {
            .menu {
                & > li {
                    @media( min-width: map-get($screens, xxxl) ) {
                        margin-right: 2px;
                        margin-left: 0;
                    }
                }
            }
        }
    }

    &.site-header-site-branding-main-navigation {
        .main-navigation:not(.toggled) .menu {
            float: right;
        }
    }

    &.site-header-site-branding-main-navigation {
        &.last-item-spread-away {
            .main-navigation .menu {
                width: 100%;
                float: left;
                & > li.res-custom-text-menu,
                & > li.res-button-menu,
                & > li.res-cart-link,
                & > li.res-search-link {
                    float: right;
                }
            }
        }
    }

    &.site-header-main-navigation {
        &.last-item-spread-away {
            &.site-branding-off {
                .res-last-item {
                    float: right;
                }
            }
        }
    }
}

.site-mobile-header-layout-horizontal {
    .main-navigation {
        .menu-toggle {
            top: auto;
            bottom: $base-line-height-px;
        }
    }
    .secondary-navigation {
        .menu-toggle {
            top: auto;
            bottom: $base-line-height-px;
        }
    }
}

.site-header-layout-vertical {
    .site-header .row {
        @media( min-width: map-get($screens, xxxl) ) {
            flex-direction: column;
        }
    }

    .site-branding,
    .main-navigation {
        width: 100%;
    }

    .main-navigation {
        .menu {
            & > li {
                @media( min-width: map-get($screens, xxxl) ) {
                    margin-right: 2px;
                    margin-left: 0;
                }

                &.res-search-link,
                &.res-cart-link {
                    float: right;
                    cursor: pointer;
                }
            }
        }

        #searchform {
            right: 0;
        }
    }
    .secondary-navigation {
        .menu {
            & > li {
                @media( min-width: map-get($screens, xxxl) ) {
                    margin-right: 2px;
                    margin-left: 0;
                }

                &.res-search-link,
                &.res-cart-link {
                    float: right;
                    cursor: pointer;
                }
            }
        }

        #searchform {
            right: 0;
        }
    }

    &.site-header-site-branding-main-navigation {
        &.site-header-full-width-main-navigation .main-navigation {
            border-top: 1px solid map-get($colors, light-gray);
        }

        &.site-header-site-branding-main-navigation:not(.responsive-site-full-width):not(.header-full-width):not(.site-header-full-width-main-navigation) .main-navigation div {
            @media ( min-width: map-get($screens, xxxl) ) {
                border-top: 1px solid map-get($colors, light-gray);
            }
        }


        &.site-header-full-width-main-navigation .main-navigation div {
            border-top: 0;
        }

        &.last-item-spread-away {
            .main-navigation .menu {
                width: 100%;
                float: left;
                & > li.res-custom-text-menu,
                & > li.res-button-menu,
                & > li.res-cart-link,
                & > li.res-search-link {
                    float: right;
                }
            }
        }

    }

    &.site-header-main-navigation-site-branding {
        &.site-header-full-width-main-navigation .main-navigation {
            border-top: 0;
            border-bottom: 1px solid map-get($colors, light-gray);
        }

        &.site-header-main-navigation-site-branding:not(.responsive-site-full-width):not(.header-full-width) .main-navigation div {
            @media ( min-width: map-get($screens, xxxl) ) {
                border-top: 0;
                border-bottom: 1px solid map-get($colors, light-gray);
            }
        }


        &.site-header-full-width-main-navigation .main-navigation div {
            border-bottom: 0;
        }

        &.last-item-spread-away {
            .main-navigation .menu {
                width: 100%;
                float: left;
                & > li.res-custom-text-menu,
                & > li.res-button-menu,
                & > li.res-cart-link,
                & > li.res-search-link {
                    float: right;
                }
            }
        }
    }

    &.site-header-full-width-main-navigation {
        .main-navigation {
            @media( min-width: map-get($screens, xxxl) ) {
                @include make-full-width();
            }
        }
    }

    &.site-header-main-navigation {
        &.site-header-alignment-left,
        &.site-header-alignment-center {
            &.last-item-spread-away {
                &.site-branding-off {
                    .res-last-item {
                        float: right;
                    }
                }
            }
        }
    }
}

.site-mobile-header-layout-vertical {
    .main-navigation {
        .menu-toggle {
            position: relative;
            top: auto;
            right: auto;
            bottom: auto;
            width: auto;
            text-align: left;

            i {
                padding: $grid-gutter-width / 2;
            }
        }
    }
    .secondary-navigation {
        .menu-toggle {
            position: relative;
            top: auto;
            right: auto;
            bottom: auto;
            width: auto;
            text-align: left;

            i {
                padding: $grid-gutter-width / 2;
            }
        }
    }
}

.sidebar-menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9998;
}

// Header Widget Styles
.header-widgets {
    border-bottom: 1px solid map-get($colors, light-gray);
    background-color: map-get($colors, #fff);
    font-size: map-get($font-sizes, small);

    .header-widget-position-with_logo & {
        background-color: transparent;
    }

    .header-widgets-wrapper {
        @extend .row;
        justify-content: space-between;
        .header-widget-alignment-left & {
            justify-content: flex-start;
        }

        .header-widget-alignment-right & {
            justify-content: flex-end;
        }

        .header-widget-alignment-center & {
            justify-content: center;
        }

        .header-widget-alignment-space-around & {
            justify-content: space-around;
        }
        padding: $base-line-height-px/2;

        & > .widget {
            @extend .col-xs-12;
            align-items: center;
            width: auto;
            margin: auto 0;
        }
    }

    .site-header-layout-vertical.header-widget-position-with_logo:not(.site-header-alignment-center) & {
        width: 50%;
        padding: $base-line-height-px 0;
        float: left;
        border: 0;

        .header-widgets-wrapper {
            flex-direction: row;
        }

        @media screen and ( max-width: map-get($screens, md) ) {
            width: 100%;
        }
    }
}

.site-header-layout-vertical.header-widget-position-with_logo:not(.site-header-alignment-center) {
    .site-branding .site-branding-wrapper {
        width: 50%;
        float: left;

        @media screen and ( max-width: map-get($screens, md) ) {
            width: 100%;
        }
    }

    &.site-header-alignment-right .site-branding {
        display: flex;
        flex-direction: row-reverse;

        @media screen and ( max-width: map-get($screens, md) ) {
            flex-wrap: wrap;
        }
    }
}

.site-header-layout-horizontal.header-widget-position-with_logo {
	.site-branding {
		display: flex;
		flex-wrap: wrap;
		width: -webkit-fill-available;
	}

	.site-branding-wrapper {
	    flex: auto;
		flex-wrap: wrap;
	}

    .header-widgets {
        min-width: 60%;
        margin: auto 0;
        border: 0;
    }

    &.header-widget-alignment-left {
        .site-branding {
            flex-direction: row-reverse;
            .site-branding-wrapper {
                text-align: right;
            }
        }
    }

	.site-header .row {
		flex-wrap: wrap;
	}
}

@media screen and ( min-width: map-get($screens, xxxl) ) {
    .site-header-layout-horizontal .site-header .row {
    	flex-wrap: nowrap;
    }
}

body.mega-menu-header-menu button.menu-toggle {
	display: none;
}

.inline-logo-site-title .site-branding-wrapper {
    @media screen and ( min-width: map-get($screens, sm) ) {
    	display: inline-flex;
    	align-items: center;
    	vertical-align: middle;

            .site-title {
                margin-left: $grid-gutter-width / 2;
        }
    }
}

.res-transparent-header:not(.woocommerce-cart):not(.woocommerce-checkout) #masthead{
    position: absolute;
    right: 0;
    left: 0;
    background: none;
    z-index: 99998;
}

.main-navigation #searchform {
    display: none;
    position: absolute;
    top: 3em;
    width: 300px;
    transition: all 0.3s ease;
    box-shadow: 0 3px 2px 2px #eee;
    z-index: 9999;

	.res-search-wrapper {
		display: block;
		.res-search-icon.icon-search {
			position: absolute;
			top: 10px;
			right: 0;
			font-size: 16px;
		}

		.search-submit {
			display: none;
		}
	}

    .res-search-wrapper input[type="search"]:focus, .res-search-wrapper input[type="search"]:hover {
        + .res-search-icon.icon-search {
            display: none;
        }
    }
}

.res-custom-html {
	padding: 10px 14px;

	a {
		padding: 0;
	}
}

.full-screen.site-header-layout-vertical .main-navigation .main-navigation-wrapper .full-screen-search-wrapper .full-screen-search-container {
	left: 25%;
}

.full-screen .main-navigation .main-navigation-wrapper .full-screen-search-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .2s;
    background: rgba(255,255,255,.95);
    z-index: 999;

	#search-close{
		position: absolute;
	    top: 1.5em;
	    right: 1em;
	    color: #000;
		font-family: icomoon !important;
	    font-size: 2em;
	    font-style: normal;
	    font-variant: normal;
	    font-weight: 400;
	    font-weight: 400;
	    line-height: 1;
	    line-height: 1;
	    text-transform: none;
	    cursor: pointer;
	    z-index: 9;
	    backface-visibility: hidden;
	    -webkit-font-smoothing: antialiased;
		&:before {
			content: "\f00d";
		}
	}

	.full-screen-search-container {
		position: absolute;
		top: 35%;
		left: 73%;
		width: 100%;
		transform: translate(-50%,-50%);

		#searchform {
			width: 50%;
			margin: 20px auto;
			box-shadow: none;

			.res-search-wrapper {
				display: block;
			    height: auto;
			    padding: 6px 15px;
			    border: 0;
			    border-bottom: 1px solid #ddd;
			    background: 0 0;
				color: #000;
			    font-weight: 900;

				input[type="search"] {
					background: none;
				}
			}

            .res-search-wrapper input[type="search"]:focus, .res-search-wrapper input[type="search"]:hover {
                + .res-search-icon.icon-search {
                    display: none;
                }
            }

			.res-search-icon.icon-search {
				position: absolute;
				top: 10px;
				right: 15px;
				font-size: 24px;
			}
		}
	}
}

.site-header {
	.custom-logo-link.sticky-custom-logo {
		display: none;
	}

	&.sticky-header {
		&.sticky-logo .custom-logo-link {
			display: none;
		}

        .custom-logo-link.sticky-custom-logo {
            display: inline-block;
        }

    }
}

.res-search-wrapper {
	display: inline-block;
	border: 1px solid #ccc;
	input[type="search"] {
		border: 0;
	}
}

.search-form input {
	outline: none;
}

.custom-logo-link {
  display: none;
}

.mobile-custom-logo {
  display: inline-block;
}

.main-navigation .menu {
    li.focus>.children, li.focus>.sub-menu, .menu-item-has-children.focus>ul.sub-menu {
    display: block;
  }
}

.secondary-navigation .menu {
    li.focus>.children, li.focus>.sub-menu, .menu-item-has-children.focus>ul.sub-menu {
    display: block;
  }
}

.res-iconify {
  display: inline-block;
  position: absolute;
  top: -0.7px;
  right: -8px;
  font-weight: bold;
  line-height: 3;
}

.res-iconify.no-menu{
    display: block;
    height: 0.4rem;
    position: absolute;
    transform: rotate( -47deg );
    width: 1.5rem;
    right: -0.7rem;
    top: calc(50% - 0.6rem);

    &:after, &:before {
      content: "";
      left: 0;
      display: block;
      background-color: currentColor;
      position: absolute;
      bottom: calc(50% - 0.1rem);
    }
    &:after {
      height: 0.1rem;
      width: 0.55rem;
    }
    &:before {
      height: 0.6rem;
      width: 0.1rem;
    }
}

.main-navigation .menu {
  li.focus>.children, .page_item_has_children.focus>ul.children, li:focus>.children, .page_item_has_children:focus>ul.children {
    display: block;
  }
}
.secondary-navigation .menu {
  li.focus>.children, .page_item_has_children.focus>ul.children, li:focus>.children, .page_item_has_children:focus>ul.children {
    display: block;
  }
}

@media screen and (min-width: 768px) {
    .res-iconify-inner, 
    .res-iconify.no-menu.res-iconify-inner {
        display: block;
    }
    .res-iconify-outer, 
    .res-iconify.no-menu.res-iconify-outer {
        display: none;
    }
    .res-iconify.no-menu {
        position: relative;
        top: 1px;
        padding-right: 5px;
    }
    .main-navigation .menu.nav-menu > .page_item_has_children > a > .res-iconify.no-menu {
        top: 4px;
    }
    .secondary-navigation .menu.nav-menu > .page_item_has_children > a > .res-iconify.no-menu {
        top: 4px;
    }
    .res-iconify {
        position: relative;
        padding-right: 6px;
        line-height: inherit;
    }
    .page_item_has_children > a,
    .menu-item-has-children > a {
        display: flex;
        align-items: flex-start;
    }
}

@media screen and (max-width: 767px) {
    .res-iconify-inner, 
    .res-iconify.no-menu.res-iconify-inner {
        display: none;
    }
    .res-iconify-outer, 
    .res-iconify.no-menu.res-iconify-outer {
        display: block;
    }
}

.secondary-navigation {
    @extend .col-xs-12;
    @include clear-floats();

    @media( min-width: map-get($screens, xxxl) ) {
        width: auto;
    }

    ul {
        list-style: none;
    }

    li {
        position: relative;
    }

    a {
        display: block;
        padding: ( $input-padding-y * 4 ) 18px;
        font-weight: 600;
    }

    .menu-toggle {
        @extend .show-xs;
        @extend .hide-xxxl;

        position: absolute;
        margin: auto;
        top: $base-line-height-px * 0.875;
        right: $grid-gutter-width / 2;
        width: $base-line-height-px * 1.75;
        height: $base-line-height-px * 1.75;
        padding: 0;
        border: 0;
        background-color: transparent;
        color: map-get($colors, dark-gray);
        font-size: map-get($font-sizes, medium);
        line-height: $base-line-height-px * 1.75;
        text-align: center;
        z-index: 9999;

        &-cancel {
            display: none;
        }

        i {
            margin: 0;
        }
    }

    .menu {
        @extend .hide-xs;
        @extend .show-xxxl;
        @include clear-floats();

        margin: 0;

        li {
            &.focus,
            &:hover,
            &:focus {
                & > .children,
                & > .sub-menu {
                    left: 0;
                }
            }
        }

        & > li {
            
            @media( min-width: map-get($screens, xxxl) ) {
                margin-left: 2px;
                float: left;
                border-bottom: 0;
            }

            &.menu-item-has-children > a,
            &.page_item_has_children > a {
                @media( min-width: map-get($screens, xxxl) ) {
                    &:after {
                        margin-left: 5px;
                        font-family: $icon-font;
                        content: '\f107';
                    }
                }
            }
        }
    }

    .children,
    .sub-menu {
        
        position: absolute;
        top: 100%;
        left: -9999em;
        width: 240px;
        margin-left: 0;
        background-color: map-get($colors, #fff);
        box-shadow: 0 5px 10px map-get($colors, light-gray);
        z-index: 9999;
    

        & > li {
            &.focus,
            &:hover {
                @media( min-width: map-get($screens, xxxl) ) {
                    & > .children,
                    & > .sub-menu {
                        top: 0;
                        left: 100%;
                    }
                }
            }

            &:first-child {
                @media( min-width: map-get($screens, xxxl) ) {
                    border-top: 0;
                }
            }

            &.menu-item-has-children > a,
            &.page_item_has_children > a {
                @media( min-width: map-get($screens, xxxl) ) {
                    &:after {
                        margin-left: 5px;
                        float: right;
                        font-family: $icon-font;
                        content: '\f105';
                    }
                }
            }
        }
      
        a {
            @media( min-width: map-get($screens, xxxl) ) {
                padding: ( $input-padding-y * 2 ) ( $grid-gutter-width / 2 );
            }
        }
    }

    &.toggled {
        .menu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
} // .secondary-navigation

#header-secondary-menu {
    display: flex;
    // width: 100vw;
    justify-content: space-between;
}

// Secondary menu hidden in mobile for the time being.
@media (max-width: 700px) {
    .site-header-item-secondary-navigation{
        display: none !important;
    }
}