/**
 * Container styles
 * -----------------------------------------------------------------------------
 */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: $grid-gutter-width / 2;
    padding-left: $grid-gutter-width / 2;

    @each $screen, $width in $screens {
        @media( min-width: $width ) {
            max-width: map-get($containers, $screen);
        }
    }
}

/**
 * Row styles
 * -----------------------------------------------------------------------------
 */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: $grid-gutter-width/ -2;
    margin-left: $grid-gutter-width/ -2;
}

/**
 * Column styles
 * -----------------------------------------------------------------------------
 */
@each $screen, $width in $screens {
    @media( min-width: $width ) {
        @for $i from 1 through $grid-columns {
            .col-#{$screen}-#{$i} {
                width: percentage($i / $grid-columns);
                padding-right: $grid-gutter-width / 2;
                padding-left: $grid-gutter-width / 2;
            }
        }
    }
}

/**
 * Hide/show styles
 * -----------------------------------------------------------------------------
 */
@each $screen, $width in $screens {
    .hide-#{$screen} {
        @media( min-width: $width ) {
            display: none;
        }
    }

    .show-#{$screen} {
        @media( min-width: $width ) {
            display: block;
        }
    }
}
