/**
 * Site top bar menu styles
 * -----------------------------------------------------------------------------
 */

body .top-bar-menu-container {
	background-color: #FFF;
	width: 100%;
	border-bottom: 1px solid #f1f1f1;

	.top-bar-navigation {
		display: flex;
		justify-content: left;
		margin-top: 0;
		margin-bottom: 0;
		max-width: 100%;

		&.contained {
			width: 1140px;
			margin-left: auto;
			margin-right: auto;
		}

		&.full-width {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.top-bar-navigation .topbar-menu .menu-item:not(.menu-item-has-children) .res-iconify {
	display: none;
}

.top-bar-navigation .topbar-menu .menu-item a {
	font-size: 12px;
	font-weight: normal;
	padding: 10px 10px;
}

.top-bar-navigation .topbar-menu .menu-item-has-children .sub-menu {
	z-index: 99999;
	border: none;
}