/**
 * Base styles
 * -----------------------------------------------------------------------------
 */
body,
button,
input,
select,
textarea {
    @include make-normal-text();
    background-color: map-get($colors, #fff);
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}

/**
 * Block elements styles
 * -----------------------------------------------------------------------------
 */
address,
blockquote,
dl,
figure,
hr,
h1, h2, h3, h4, h5, h6,
ol,
p,
pre,
table,
ul {
    @include make-block-element();
}

address,
blockquote,
pre {
    padding: $base-line-height-px;
    background-color: map-get($colors, light-gray);
    font-style: italic;
}

pre {
    font-family: $code-font;
    overflow: auto;
}

dl {
    dt {
        font-weight: bold;
    }

    dd {
        margin-left: $base-line-height-px;
    }
}

figure {
    max-width: 100%;
    height: auto;

    img {
        display: block;
        margin: 0 auto;
    }

    figcaption {
        padding: $base-line-height-px / 4;
        font-size: map-get($font-sizes, small);
        font-style: italic;
        text-align: center;
    }
}

hr {
    border: 0;
    border-bottom: 4px solid map-get($colors, light-gray);
}

h1 {
    @include make-heading-text(extra-large);
    @media ( max-width: map-get($screens, md) ) {
        font-size: 30px;
    }
}

h2 {
    @include make-heading-text(large);
    @media ( max-width: map-get($screens, md) ) {
        font-size: 25px;
    }
}

h3 {
    @include make-heading-text(medium);
    @media ( max-width: map-get($screens, md) ) {
        font-size: 20px;
    }
}

h4 {
    @include make-heading-text(normal);
	font-size: 1.3333333333333rem;
}

h5,
h6 {
    @include make-heading-text(small);
}

h5, .entry-content h5 {
	font-size: 1.2rem;
}

h6, .entry-content h6 {
	font-size: 1rem;
}

ol,
ul {
    margin-left: $base-line-height-px;
    list-style: decimal;

    ol,
    ul {
        margin-top: 0;
        margin-bottom: 0;
    }
}

ul {
    list-style: disc;
}

table {
    width: 100%;
    border: 1px solid map-get($colors, light-gray);
    border-collapse: collapse;

    td,
    th {
        padding: $base-line-height-px / 4;
		border: 1px solid map-get($colors, light-gray);
    }

    th {
        font-weight: bold;
    }
}

/**
 * Inline elements styles
 * -----------------------------------------------------------------------------
 */
a {
    @include make-link(map-get($colors, dark-blue),  map-get($colors, gray));
    text-decoration: none;
}

abbr[title],
acronym[title] {
	cursor: help;
    text-decoration-style: dotted;
}

big {
    font-size: map-get($font-sizes, medium);
}

cite {
    font-weight: bold;

    blockquote & {
        display: block;
        margin-top: $base-line-height-px;
    }
}

code,
kbd,
tt,
var {
    padding: $base-line-height-px / 8;
    background-color: map-get($colors, light-gray);
    font-family: $code-font;
}

del,
s,
strike {
    text-decoration: line-through;
}

em {
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
}

ins,
u {
    text-decoration: underline;
}

q {
    font-style: italic;

    &:before {
        content: '\201c';
    }

    &:after {
        content: '\201d';
    }
}

small {
    font-size: map-get($font-sizes, small);
}

strong {
    font-weight: bold;
}

sub,
sup {
    position: relative;
    font-size: map-get($font-sizes, small);
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}
