@import 'reset';
@import 'variables';
@import 'mixins';
@import 'layout';
@import 'typography';
@import 'form';


/**
 * Site header styles
 * -----------------------------------------------------------------------------
 */
.site-header {
    border-bottom: 1px solid map-get( $colors, light-gray );

    .container {
        position: relative;
    }

    .row {
        align-items: center;

        @media( min-width: map-get( $screens, lg ) ) {
            justify-content: space-between;
        }
    }

    a {
        @include make-link( map-get( $colors, dark-gray ), map-get( $colors, dark-blue ) );
        text-decoration: none;
    }
}

.site-branding {
    @extend .col-xs-12;

    @media( min-width: map-get( $screens, lg ) ) {
        width: auto;
    }

    &-wrapper {
        padding-bottom: $base-line-height-px;
        padding-top: $base-line-height-px;
    }
}

.site-title,
.site-description {
    line-height: $base-line-height-px;
    margin-bottom: 0;
    margin-top: 0;
}

.site-title {
    @extend h3;
}

.site-description {
    @extend small;
    line-height: $base-line-height-px;
}

.main-navigation {
    @extend .col-xs-12;
    @include clear-floats();

    @media( min-width: map-get( $screens, lg ) ) {
        width: auto;
    }

    ul {
        list-style: none;
    }

    li {
        position: relative;
    }

    a {
        display: block;
        padding: ( $input-padding-y * 2 ) 0;
    }

    .menu-toggle {
        @extend .show-xs;
        @extend .hide-lg;

        background-color: transparent;
        border: none;
        color: map-get( $colors, dark-gray );
        font-size: map-get( $font-sizes, medium );
        line-height: $base-line-height-px * 2;
        height: $base-line-height-px * 2;
        padding: 0;
        position: absolute;
        right: $grid-gutter-width / 2;
        text-align: center;
        top: $base-line-height-px;
        width: $base-line-height-px * 2;

        &-cancel {
            display: none;
        }
    }

    .menu {
        @extend .hide-xs;
        @extend .show-lg;
        @include clear-floats();

        margin: 0;

        li {
            &.focus,
            &:hover {
                & > .children,
                & > .sub-menu {
                    left: $grid-gutter-width / -2;
                }
            }
        }

        & > li {
            border-bottom: 1px solid rgba( 170, 170, 170, 0.2 );

            @media( min-width: map-get( $screens, lg ) ) {
                border-bottom: none;
                float: left;
                margin-left: $grid-gutter-width;
            }

            &.menu-item-has-children > a,
            &.page_item_has_children > a {
                @media( min-width: map-get( $screens, lg ) ) {
                    &:after {
                        content: '\f0d7';
                        font-family: $icon-font;
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    .children,
    .sub-menu {
        @media( min-width: map-get( $screens, lg ) ) {
            background-color: map-get( $colors, white );
            box-shadow: 0 5px 10px map-get( $colors, light-gray );
            left: -9999em;
            margin-left: 0;
            top: 100%;
            position: absolute;
            width: 240px;
            z-index: 9999;
        }

        & > li {
            border-top: 1px solid rgba( 170, 170, 170, 0.2 );

            &.focus,
            &:hover {
                @media( min-width: map-get( $screens, lg ) ) {
                    & > .children,
                    & > .sub-menu {
                        left: 100%;
                        top: 0;
                    }
                }
            }

            &:first-child {
                @media( min-width: map-get( $screens, lg ) ) {
                    border-top: none;
                }
            }

            &.menu-item-has-children > a,
            &.page_item_has_children > a {
                @media( min-width: map-get( $screens, lg ) ) {
                    &:after {
                        content: '\f0da';
                        float: right;
                        font-family: $icon-font;
                        margin-left: 5px;
                    }
                }
            }
        }

        a {
            @media( min-width: map-get( $screens, lg ) ) {
                padding: ( $input-padding-y * 2 ) ( $grid-gutter-width / 2 );
            }
        }
    }

    &.toggled {
        .menu {
            display: block;
        }
    }
} // .main-navigation

.site-header-layout-horizontal {
    &.site-header-main-navigation-site-branding {
        .main-navigation {
            .menu-toggle {
                bottom: $base-line-height-px;
                top: auto;
            }

            .menu {
                & > li {
                    @media( min-width: map-get( $screens, lg ) ) {
                        margin-left: 0;
                        margin-right: $grid-gutter-width;
                    }
                }
            }
        }
    }
}

.site-header-layout-vertical {
    .site-header .row {
        @media( min-width: map-get( $screens, lg ) ) {
            flex-direction: column;
        }
    }
    .site-branding,
    .main-navigation {
        width: 100%;
    }

    .main-navigation {
        .menu-toggle {
            bottom: auto;
            position: relative;
            right: auto;
            text-align: left;
            top: auto;
            width: 100%;
        }

        .menu {
            & > li {
                @media( min-width: map-get( $screens, lg ) ) {
                    margin-left: 0;
                    margin-right: $grid-gutter-width;
                }
            }
        }
    }

    &.site-header-site-branding-main-navigation {
        .main-navigation {
            border-top: 1px solid map-get( $colors, light-gray );
        }
    }

    &.site-header-main-navigation-site-branding {
        .main-navigation {
            border-bottom: 1px solid map-get( $colors, light-gray );
            border-top: 0;
        }
    }

    &.site-header-alignment-center {
        .site-branding {
            text-align: center;
        }

        .main-navigation {
            .menu-toggle {
                text-align: center;
            }

            .menu {
                @media( min-width: map-get( $screens, lg ) ) {
                    display: table;
                    margin-left: auto;
                    margin-right: auto;
                    width: auto;
                }

                & > li {
                    @media( min-width: map-get( $screens, lg ) ) {
                        margin-left: $grid-gutter-width / 2;
                        margin-right: $grid-gutter-width / 2;
                    }
                }
            }
        }
    }

    &.site-header-alignment-right {
        .site-branding {
            text-align: right;
        }

        .main-navigation {
            .menu-toggle {
                text-align: right;
            }

            .menu {
                @media( min-width: map-get( $screens, lg ) ) {
                    display: table;
                    margin-right: 0;
                    margin-left: auto;
                }

                & > li {
                    @media( min-width: map-get( $screens, lg ) ) {
                        margin-left: $grid-gutter-width / 2;
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &.site-header-full-width-main-navigation {
        .main-navigation {
            @media( min-width: map-get( $screens, lg ) ) {
                @include make-full-width();
            }
        }
    }
}

.sidebar-menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9998;
}

/**
 * Content Area styles
 * -----------------------------------------------------------------------------
 */
.site-content {
    padding: $base-line-height-px 0;
}

.site-content-header {
    @include make-block-element( $grid-gutter-width );
    background-color: map-get( $colors, white );
    padding: $base-line-height-px;
    text-align: left;

    .responsive-site-style-content-boxed & {
        margin: 0;
        border-bottom: 1px solid map-get( $colors, light-gray );
    }

    .page-header,
    .breadcrumbs {
        @include make-block-element();
    }

    .page-header {
        .page-title {
            @include make-heading-text( extra-large );
            margin-bottom: $base-line-height-px / 4;
            color: #333333;
        }
        .page-description {
            font-size: map-get( $font-sizes, normal );
            color: #999999;
        }
    }

    .breadcrumb-list {
        font-size: map-get( $font-sizes, small );
        color: #1e73be;
    }

    .site-content-header-alignment-left & {
        text-align: left;
    }

    .site-content-header-alignment-center & {
        text-align: center;
    }

    .site-content-header-alignment-right & {
        text-align: right;
    }
}

.content-area {
    @extend .col-xs-12;
    @extend .col-lg-8;
}

.widget-area {
    @extend .col-xs-12;
    @extend .col-lg-4;
}

/**
 * Hentry Area styles
 * -----------------------------------------------------------------------------
 */
.hentry {
    @include make-block-element();

    .responsive-site-style-content-boxed &,
    .responsive-site-style-boxed & {
        padding: $base-line-height-px;
    }
    .responsive-site-style-content-boxed & {
        margin: 0;
        border-bottom: 1px solid map-get( $colors, light-gray );
    }

    .entry-title {
        margin-bottom: $base-line-height-px / 2;
        margin-top:  $base-line-height-px / 2;

        // Blog Entry Title Aligmnmnet
        .archive.blog-entry-title-alignment-center &,
        .search.blog-entry-title-alignment-center &,
        .blog.blog-entry-title-alignment-center & {
            text-align: center;
        }
        .archive.blog-entry-title-alignment-right &,
        .search.blog-entry-title-alignment-right &,
        .blog.blog-entry-title-alignment-right & {
            text-align: right;
        }

        // Single Blog Content Aligmnmnet
        .single.single-blog-title-alignment-center & {
            text-align: center;
        }
        .single.single-blog-title-alignment-right & {
            text-align: right;
        }
    }

    .thumbnail {
        margin-bottom: $base-line-height-px / 2;
        margin-top:  $base-line-height-px / 2;

        // Blog Entry Featured Image Aligmnmnet
        .search.blog-entry-featured-image-alignment-center &,
        .archive.blog-entry-featured-image-alignment-center &,
        .blog.blog-entry-featured-image-alignment-center & {
            text-align: center;
        }
        .search.blog-entry-featured-image-alignment-right &,
        .archive.blog-entry-featured-image-alignment-right &,
        .blog.blog-entry-featured-image-alignment-right & {
            text-align: right;
        }

        // Single Blog Featured Image Aligmnmnet
        .single.single-blog-featured-image-alignment-center & {
            text-align: center;
        }
        .single.single-blog-featured-image-alignment-right & {
            text-align: right;
        }

        .thumbnail-caption {
            font-size: map-get( $font-sizes, small );
        }
    }

    .post-data,
    .post-edit-link,
    .post-meta {
        margin-bottom: $base-line-height-px / 2;
        margin-top:  $base-line-height-px / 2;
        color: map-get( $colors, gray );
        font-size: map-get( $font-sizes, small );

        // Blog Entry Meta Aligmnment
        .archive.blog-entry-meta-alignment-right &,
        .search.blog-entry-meta-alignment-right &,
        .blog.blog-entry-meta-alignment-right & {
            text-align: right;
        }
        .archive.blog-entry-meta-alignment-center &,
        .search.blog-entry-meta-alignment-center &,
        .blog.blog-entry-meta-alignment-center & {
            text-align: center;
        }

        // Single Blog Meta Aligmnment
        .single.single-blog-meta-alignment-right & {
            text-align: right;
        }
        .single.single-blog-meta-alignment-center & {
            text-align: center;
        }

        a {
            @include make-link( map-get( $colors, gray ), map-get( $colors, blue ) );
        }

        & > span {
            &::after {
                content: '-';
                margin: 0 $grid-gutter-width/5;
            }

            &:last-child {
                &::after {
                    content: '' !important;
                }
            }

            .fa-calendar {
                margin-right: 0.25em;
            }

            .avatar {
                border-radius: 50%;
                margin-bottom: $base-line-height-px / -3;
                margin-right: $base-line-height-px / 5;
            }
        }
    }

    .read-more {
        margin-bottom: $base-line-height-px;

        .more-link {
            .read-more-button & {
                padding: ($base-line-height-px / 3) 1em;
                background-color: map-get( $colors, blue );;
                color: map-get( $colors, white );

                &:focus,
                &:hover {
                    background-color: map-get( $colors, dark-blue );;
                }
            }
        }
    }

    .post-entry {
        & > :first-child {
            margin-top: 0;
        }
        & > :last-child {
            margin-bottom: 0;
        }

        .entry-content {

            // Blog Entry Content Aligmnmnet
            .archive.blog-entry-content-alignment-center &,
            .search.blog-entry-content-alignment-center &,
            .blog.blog-entry-content-alignment-center & {
                text-align: center;
            }
            .archive.blog-entry-content-alignment-right &,
            .search.blog-entry-content-alignment-right &,
            .blog.blog-entry-content-alignment-right & {
                text-align: right;
            }

            // Single Blog Content Aligmnmnet
            .single.single-blog-content-alignment-center & {
                text-align: center;
            }
            .single.single-blog-content-alignment-right & {
                text-align: right;
            }

        }
    }
}
.content-area-wrapper {
    .responsive-site-style-content-boxed & {
        background-color: map-get( $colors, white );
    }
}

#main-blog.row {
    align-items: stretch;

    .entry-column {
        @extend .col-xs-12;
        @include make-block-element( $grid-gutter-width );
        margin-top: 0;
        .responsive-site-style-content-boxed & {
            margin-bottom: 0;
        }

        .archive.blog-entry-columns-2 &,
        .search.blog-entry-columns-2 &,
        .blog.blog-entry-columns-2 & {
            @extend .col-md-6;
        }

        .archive.blog-entry-columns-3 &,
        .search.blog-entry-columns-3 &,
        .blog.blog-entry-columns-3 & {
            @extend .col-md-4;
        }

        .archive.blog-entry-columns-4 &,
        .search.blog-entry-columns-4 &,
        .blog.blog-entry-columns-4 & {
            @extend .col-md-6;
            @extend .col-lg-3;
        }
    }
}

.archive,
.blog,
.search {
    @for $i from 2 through 4 {
        &.blog-entry-columns-#{$i}-masonry #main-blog.row {
    		display: block;
    		columns: $i;
    		column-gap: 0;
    		.entry-column {
    			width: 100%;
    			float: left;
    			page-break-inside: avoid; /* Firefox */
    			-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
                break-inside: avoid;
    		}
    	}
    }
    @media screen and (max-width: map-get( $screens, lg ) ) {
        &.blog-entry-columns-3-masonry #main-blog.row,
        &.blog-entry-columns-4-masonry #main-blog.row {
    		display: block;
    		columns: 2;
    		column-gap: 0;
            .entry-column {
    			width: 100%;
    			float: left;
    			page-break-inside: avoid; /* Firefox */
    			-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
                break-inside: avoid;
    		}
    	}
    }
}

/**
 * Navigation & Comments tyles
 * -----------------------------------------------------------------------------
 */
.navigation {
    @extend .row;
    @include make-block-element();
    background-color: map-get($colors, white);
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    padding: $base-line-height-px;

    .responsive-site-style-content-boxed & {
        margin: 0;
        border-bottom: 1px solid map-get( $colors, light-gray );
    }

    .blog.responsive-site-style-content-boxed & {
        border-top: 1px solid map-get( $colors, light-gray );
    }

    .responsive-site-style-flat & {
        background-color: transparent;
        padding: 0;
    }
}

#comments,
.commentlist,
.comment-respond {
    @include make-block-element();
    background-color: map-get($colors, white);
    padding: $base-line-height-px;

    .responsive-site-style-content-boxed & {
        margin: 0;
        border-bottom: 1px solid map-get( $colors, light-gray );
    }

    .responsive-site-style-flat & {
        background-color: transparent;
        padding: 0;
    }
}


/**
 * Aside widget-area Area styles
 * -----------------------------------------------------------------------------
 */

.widget-wrapper {
    @include make-block-element( $grid-gutter-width );

    .responsive-site-style-boxed & {
        padding: $base-line-height-px;
    }

    // Sidebar widget Area
    #secondary.widget-area & {
        font-size: map-get( $font-sizes, small );

        &.widget_search {
            .submit {
                display: none;
            }
        }

        .widget-title {
            display: block;
            line-height: 1;
            letter-spacing: 1px;
            margin: 0 0 ( $base-line-height-px * 2 / 3 );
            text-transform: uppercase;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                border-top: 1px dotted map-get( $colors, light-gray );
                padding: ( $base-line-height-px / 4 ) 0;

                &:last-child {
                    border-bottom: 1px dotted map-get( $colors, light-gray );
                }
            }
        }

        .custom-html-widget {
            ul {

                li {
                    border: none;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}
.blog,
.search,
.archive{
    &.blog-entry-sidebar-position {
        &-left {
            .site-content > .container > .row {
                flex-direction: row-reverse;
            }
        }
        &-no {
            .site-content > .container > .row {
                aside.widget-area {
                    display: none;
                }
                main.content-area {
                    margin: 0 auto;
                }
            }
        }
    }
}

.single.single-blog-sidebar-position {
    &-left {
        .site-content > .container > .row {
            flex-direction: row-reverse;
        }
    }
    &-no {
        .site-content > .container > .row {
            aside.widget-area {
                display: none;
            }
            main.content-area {
                margin: 0 auto;
            }
        }
    }
}

/**
 * Common Site styles
 * -----------------------------------------------------------------------------
 */
.responsive-site-full-width {
    .container {
        max-width: none;
    }
}

.site-header-full-width-main-navigation {
    &:not(.responsive-site-full-width) {
        .main-navigation-wrapper {
            @extend .container;
        }
    }
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

    &:focus {
    	background-color: #f1f1f1;
    	border-radius: 3px;
    	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    	clip: auto !important;
    	clip-path: none;
    	color: #21759b;
    	display: block;
    	font-size: 14px;
    	font-size: 0.875rem;
    	font-weight: bold;
    	height: auto;
    	left: 5px;
    	line-height: normal;
    	padding: 15px 23px 14px;
    	text-decoration: none;
    	top: 5px;
    	width: auto;
    	z-index: 100000;
    	/* Above WP toolbar. */
    }
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}
