@import 'variables';
@import 'mixins';

/**
 * WooCommerce styles
 * -----------------------------------------------------------------------------
 */

// Shop
ul.wc-block-grid__products,
ul.products {
    li.wc-block-grid__product,
    li.product {

        .responsive-site-style-boxed & {
            padding: $base-line-height-px;
            background-color: map-get($colors, white);
        }

        .responsive-site-style-content-boxed & {
            padding-bottom: $base-line-height-px;
        }

        .responsive-catalog-view-list & {
            display: flex;
            min-width: 100%;
            margin: 0 0 $grid-gutter-width 0;

            .responsive-shop-summary-wrap {
                padding-left: $base-line-height-px;
            }

            .onsale {
                top: 0;
                right: auto;
                left: 0;
                margin: .5em .5em 0 0;
            }

            a img {
                margin: 0;
            }
        }

        .product-content-aligmnment-center & {
            text-align: center;

            .star-rating {
                margin: 0 auto;
            }
        }

        .product-content-aligmnment-right & {
            text-align: right;

            .star-rating {
                margin: 0 0 0 auto;
            }
        }

        .product-content-aligmnment-right.responsive-catalog-view-list & {
            justify-content: space-between;
        }

        .onsale {
            line-height: 2.9;
        }
    }
}

.woocommerce-page,
.woocommerce {
    @for $i from 1 through 10 {
        ul.products.columns-#{$i} {

            li.product:nth-child(#{$i}n) {
                margin-right: 0;
                clear: right;
            }

			@media screen and ( min-width: 992px ) {
		        li.product {
		            margin: 0 $grid-gutter-width $grid-gutter-width 0;
		        }
			}
        }
    }
}

// Block product

ul.wc-block-grid__products {
    margin: 0;
    .responsive-site-style-content-boxed.page-template-gutenberg-fullwidth & {
        background-color: transparent;
    }

    li.wc-block-grid__product {
        .responsive-site-style-boxed.page-template-gutenberg-fullwidth & {
            padding: $base-line-height-px/2;
            background-color: transparent;
        }

    }
}

.wc-block-grid__product-price price,
.wc-block-grid__product-add-to-cart {
    font-weight: 700;
}

.wc-block-grid__product-onsale {
    position: absolute;
    top: -.25em;
    right: -.25em;
    min-width: 3.236em;
    min-height: 3.236em;
    margin: -.5em -.5em 0 0;
    padding: .202em;
    border: 0;
    border-radius: 100%;
    background-color: map-get($colors, blue);
    color: map-get($colors, white);
    font-size: .857em;
    font-weight: 700;
    line-height: 3.236;
    text-align: center;
    z-index: 9;

    .product-sale-style-square-outline &,
    .product-sale-style-circle-outline & {
        border: 2px solid map-get($colors, blue);
        background-color: map-get($colors, white);
        color: map-get($colors, blue);
    }

    .product-sale-style-square-outline &,
    .product-sale-style-square & {
        border-radius: 0;
    }

}


.products-wrapper {
    .woocommerce-page.responsive-site-style-content-boxed &,
    .woocommerce.responsive-site-style-content-boxed & {
        padding: $base-line-height-px;
        background-color: map-get($colors, white);
    }
}

.woocommerce-pagination {
    @extend .row;
    @include make-block-element();
    justify-content: space-between;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding: $base-line-height-px;
    background-color: map-get($colors, white);

    .responsive-site-style-content-boxed & {
        margin: 0;
        border-bottom: 1px solid map-get($colors, light-gray);
    }

    .responsive-site-style-flat & {
        padding: 0;
        background-color: transparent;
    }

    .responsive-site-style-content-boxed & {
        border-top: 1px solid map-get($colors,light-gray);
        border-bottom: 0;
    }
}

// General
.woocommerce {
    #respond input#submit.alt,
    a.button.alt,
    button.button.alt,
    input.button.alt,
    #respond input#submit,
    a.button,
    button.button,
    input.button {
        @include make-button();
        border-radius: 0;
    }

    .widget_price_filter .ui-slider .ui-slider-handle,
    .widget_price_filter .ui-slider .ui-slider-range,
    span.onsale {
        background-color: map-get($colors, blue);
        color: map-get($colors, white);
    }

    span.onsale {
        &.square-outline,
        &.circle-outline {
            border: 2px solid map-get($colors, blue);
            background-color: map-get($colors, white);
            color: map-get($colors, blue);
        }

        &.square,
        &.square-outline {
            border-radius: 0;
        }
    }

    .widget_price_filter .price_slider_wrapper .ui-widget-content {
        background-color: map-get($colors, dark-blue);
    }

    div.product p.price,
    div.product span.price,
    ul.products li.product .price {
        color: map-get($colors, dark-gray);
        font-weight: bold;
    }

    ul.products {
        margin: 0;
        li.product {
            .woocommerce-loop-category__title,
            .woocommerce-loop-product__title,
            h3 {
                font-weight: normal;
            }
        }
    }

    .responsive_woo_shop_parent_category {
        margin: 0;
        color: map-get($colors, gray);
        font-size: map-get($font-sizes, small);
    }

    .woocommerce-breadcrumb {
        margin: 0;
        font-size: map-get($font-sizes, small);
    }

	a.remove {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #ccc;
    border-radius: 100%;
    color: #ccc !important;
    font-size: 18px;
		font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
	}

	a.remove:hover {
		background: #ffffff;
	}

}


//Cart
#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
    min-width: 120px;
    padding: 0.25em;
}

#add_payment_method table.cart input,
.woocommerce-cart table.cart input,
.woocommerce-checkout table.cart input {
    padding: 0.25em;
}

// Sinle Product page
div.product {
    .woocommerce-page.single-product:not(.responsive-site-style-flat) &,
    .woocommerce.single-product:not(.responsive-site-style-flat) & {
        padding: $base-line-height-px;
        background-color: map-get($colors, white);
    }
}

.related-product-wrapper {
    margin-top: $grid-gutter-width;

    .responsive-site-style-content-boxed & {
        padding: $base-line-height-px;
        padding-bottom: 0;
        background-color: map-get($colors, white);
    }
}

.woocommerce-product-gallery__wrapper {
    max-width: none;
}

.woocommerce-product-gallery {
	@media (min-width: 767px) {
	    .flex-viewport {
	        .product-gallery-layout-vertical & {
	            width: 75%;
	            float: right;
	        }
	    }
	}
}

div.product div.images .flex-control-thumbs {
	@media (min-width: 767px) {
	    .product-gallery-layout-vertical.woocommerce & {
	        width: 23%;
	        margin-right: 2%;

	        li {
	            width: 100%;
	            margin-bottom: $base-line-height-px / 3;
	        }
    	}
	}

    .product-gallery-layout-horizontal.woocommerce & {
        margin-top: 0.5em;

        li {
            padding: 0.5em;
        }

    }
}

.woocommerce-page.single-product div.product {
    display: flow-root;
}


// Sidebar widget Area

// Sidebar-position
.single-product,
.search,
.archive, .woocommerce-checkout,
.woocommerce-cart {
    &.woocommerce.sidebar-position {
        &-left {
            .site-content > .container > .row {
                flex-direction: row-reverse;
            }
        }

        &-no {
            .site-content > .container > .row {
                main.content-area {
                    margin: 0 auto;
                }
            }
        }
    }
}

// Checkout & Cart Page
.woocommerce-checkout,
.woocommerce-cart {
	table.shop_table {
		border: 0;

		td, th {
			border: 0;
		}

		.order-total {
			th, td {
				border-bottom: 1px solid rgba(0,0,0,.1);
			}
		}

		thead th {
			border-bottom: 1px solid rgba(0,0,0,.1);
		}
	}

	.cart-collaterals {
		.cart_totals, .cross-sells {
			margin-bottom: 2em;
			padding: 0 20px;
			border-width: 1px;
			border-style: solid;
			border-radius: 0;
			border-color: #ebebeb;
		}

		.cart_totals {
			.shop_table {
				border-top: 0;
			    border-right: 0;
			    border-left: 0;
			    border-radius: 0;
			}

			table {
				margin: 0 0 6px;
				padding: 0;
				border-collapse: separate;
			}

			> h2 {
				margin: 0 -20px 20px;
				padding: .7em 1em;
				border-bottom: 1px solid #ebebeb;
				background-color: #fbfbfb;
				font-size: 1.2rem;
			}

			.checkout-button {
				border-radius: 100px;
			}
		}

		.cross-sells {
			.shop_table {
				border-top: 0;
			    border-right: 0;
			    border-left: 0;
			    border-radius: 0;
			}

			> h2 {
				margin: 0 -20px 20px;
				padding: .7em 1em;
				border-bottom: 1px solid #ebebeb;
				background-color: #fbfbfb;
				font-size: 1.2rem;
			}
		}
	}
}

#add_payment_method {
	.checkout-button {
		border-radius: 100px;
	}

	.cart-collaterals {
		.cart_totals {
			table {
				margin: 0 0 6px;
				padding: 0;
				border-collapse: separate;
			}
		}
	}
}

.woocommerce-cart {
	table.shop_table thead th {
		border-bottom: 0;
	}

	table.shop_table {
	    border: 1px solid #ebebeb;
	}

	table.shop_table td {
		border-top: 1px solid #ebebeb;
	}
}

.woocommerce {
    .widget_shopping_cart,
    &.widget_shopping_cart {
        .cart_list li {
            padding-top: $base-line-height-px / 4;
            a.remove {
                top: $base-line-height-px * ( 3/4 );
            }
        }
    }

    .woocommerce ul.cart_list li img,
    .woocommerce ul.product_list_widget li img {
        margin-top: $base-line-height-px / 7;
    }
}

.widget-area {
    .widget-wrapper.widget_product_search {
        .search-field {
            border-width: 1px;
        }

        button {
            display: none;
        }
    }
}

.wp-block-button__link {
    font-size: map-get($font-sizes,normal);
}

.wc-block-grid.has-4-columns:not(.alignwide):not(.alignfull) .wc-block-grid__product,
.wc-block-grid.has-5-columns:not(.alignfull) .wc-block-grid__product,
.wc-block-grid.has-6-columns:not(.alignfull) .wc-block-grid__product,
.wc-block-grid.has-7-columns .wc-block-grid__product,
.wc-block-grid.has-8-columns .wc-block-grid__product,
.wp-block-button__link {
    font-size: map-get($font-sizes,normal);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	margin-right: 10px;
}

span.res-header-cart-info-wrap, .res-addon-cart-wrap{
	  padding: 0 2px;
}

@media (min-width: 922px) {
	.woocommerce.woocommerce-checkout, .woocommerce-page.woocommerce-checkout {
		form #customer_details.col2-set {
			width: 55%;
			margin-right: 4.347826087%;
			float: left;

			.col-1, .col-2 {
				width: auto;
				float: none;
			}
		}

		form #order_review, form #order_review_heading {
			width: 40%;
			margin-right: 0;
			float: right;
			clear: right;
		}

		form #order_review_heading {
		    margin: 0;
		    padding: 1.5em 1.5em 1em;
			border-width: 2px 2px 0 2px;
		    border-style: solid;
		    border-color: #ebebeb;
		    font-size: 1.2rem;
		}

		form #order_review {
			padding: 0 2em;
			border-width: 0 2px 2px;
			border-style: solid;
			border-color: #ebebeb;
		}

		#payment #place_order {
			width: 100%;
		}

		#customer_details h3 {
			margin: 0 0 20px;
			padding: 20px 0 14px;
			border-bottom: 1px solid #ebebeb;
		}
	}
}

.woocommerce-privacy-policy-text p {
	margin-bottom: 1.6em;
}

// Off-canvas-filter.
.off_canvas_filter_btn {
    display: none;
    margin-left: 10px;
    padding: 0.5em;
    float: right;
    border: 1px solid #ccc;
    color: #808080;

    &:hover {
		border-color: #10659c;
		color: #10659c;
	}
}

#responsive-off-canvas-sidebar-wrap {
    visibility: hidden;
    @include opacity(0);
    @include transition(all 0.25s ease-in-out);
    font-size: 14px;

    &,
    .responsive-off-canvas-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99998;
    }

    .responsive-off-canvas-overlay {
        background-color: rgba(0, 0, 0, .5);
        cursor: pointer;
    }

    .responsive-off-canvas-sidebar {
        position: absolute;
        top: 0;
        left: -100%;
        width: 325px;
        height: 100%;
        padding: 35px;
        background-color: #fff;
        overflow: auto;
        z-index: 99999;
        @include box-shadow(0 0 12px 0 rgba(0, 0, 0, .4));
        @include transition(all 0.3s ease-in-out);
    }

    .widget-wrapper {
        margin-top: 0;
        margin-bottom: 0;
        padding: 50px 0;
        border-bottom: 1px solid rgba(84, 84, 84, 0.15);

        &:first-child {
	    	padding-top: 0;
	    }

        li {
           a {
               font-size: 14px;
               font-weight: 400;
                color: #333;

                &:hover {
                    color: #10659c;
                }
            }
        }

    }

    .widget-title {
        h4 {
            display: block;
            margin: 0 0 20px;
            padding-left: 15px;
            border-width: 0 0 0 3px;
            border-style: solid;
            border-color: #10659c;
            color: #333;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 1;
            text-transform: capitalize;
        }
    }

    .widget_price_filter {
        .price_slider {
            margin-bottom: 15px;
        }

        .ui-slider {
            position: relative;
            text-align: left;

            .ui-slider-handle {
                position: absolute;
                top: -4px;
                width: 14px;
                height: 14px;
                outline: none;
                background-color: #06c;
                cursor: pointer;
                @include border-radius(50%);
                z-index: 2;
            }

            .ui-slider-range {
                position: absolute;
                top: 2px;
                height: 3px;
                background-color: #06c;
                z-index: 1;
            }
        }

        .price_label {
            color: #898989;
            font-size: 11px;
            font-weight: 400;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .price_slider_amount {
            height: 22px;
            padding: 0;
            line-height: 22px;
            text-align: left;

            .button {
                height: 22px;
                padding: 0 10px;
                margin-right: 1px;
                float: right;
                border: 1px solid #10659c;
                background-color: #06c;
                font-size: 12px;
                line-height: 22px;

                &:hover {
                    background-color: #10659c;
                }
            }
        }

        .price_slider_wrapper .ui-widget-content {
            position: relative;
            height: 9px;
            padding: 0 2px;
            border: 1px solid #d0d0d0;
            background-color: transparent;
            cursor: pointer;
            margin-left: -1px;
        }
    }

    .product_list_widget {
        margin: 0;
        padding: 0;
        list-style: none;

        li::after {
            clear: both;
        }

        li {
            position: relative;
            min-height: 100px;
            margin: 0;
            padding: 10px 0 10px 94px;
            clear: both;
            border-bottom: 1px solid;
            border-color: #eaeaea;

            a {
                &:after {
                    display: block;
                    height: 0;
                    clear: both;
                    content: '';
                    visibility: hidden;
                    zoom: 1;
                }

                &.remove {
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    left: auto;
                    width: 20px;
                    height: 20px;
                    margin-top: -10px;
                    border: 1px solid;
                    color: #777;
                    font-size: 14px;
                    line-height: 18px;
                    text-align: center;
                    @include border-radius(50%);
                    z-index: 20;

                    &:hover {
                        color: #333;
                    }
                }
            }

            &:first-child {
                min-height: 90px;
                padding-top: 0;
                border-top: 0;

                img {
                    top: 0;
                }
            }

            &:last-child {
                min-height: 90px;
                padding-bottom: 0;
                border-bottom: 0;
            }

            &.empty {
                min-height: auto;
                margin: 0;
                padding: 0;
                border: 0;
                text-align: center;
            }

            img {
                position: absolute;
                top: 10px;
                left: 0;
                width: 80px;
                height: 80px;
                margin: 0;
                @include transition(all .3s ease);

                &:hover {
                    @include opacity(0.8);
                }
            }

            .quantity {
                display: block;
                margin: 5px 0 0;
                float: none;
                color: #bcbcbc;
                line-height: 1em;
            }

            .star-rating {
                display: block;
                margin: 5px 0;
            }

            dl {
                display: none;
            }

            .product-title {
                margin: 0 0 10px;
                color: #333;
                font-size: 14px;
                font-weight: 400;
                +.woocommerce-product-rating {
                    margin-top: 0;
                }

                &:hover {
                    color: #10659c;
                }
            }

            bdi {
                color: #10659c;
                font-size: 14px;
            }

            del {
                bdi {
                    opacity: 0.6;
                    color: #777;
                }
            }

        }
    }

    .woocommerce-product-search {
        padding-bottom: 50px;
        button {
            display: block;
            margin-top: 10px;
            padding: 14px 20px;
            float: right;
            border: 1px solid  #10659c;
            background-color: #06c;
            font-size: 12px;

            &:hover {
                background-color: #10659c;
            }
        }
        label {
            display: none;
        }

    }
    .widget_shopping_cart_content {
        .buttons {
            margin: 0;

            .button {
                margin: 0;
                padding: 14px;
                text-align: center;

                &:first-child{
                    margin-right: 27%;
                }

            }

        }
        li{
            padding-right: 10%;
        }
        a.remove{
            color: #777;

            &:hover{
                background: #777;
                color:#333;
            }
        }
    }
}

.admin-bar #responsive-off-canvas-sidebar-wrap .responsive-off-canvas-sidebar {
    top: 32px;
    height: -webkit-calc(100% - 32px);
    height: calc(100% - 32px);
}

@media screen and (max-width: 782px) {
    .admin-bar #responsive-off-canvas-sidebar-wrap .responsive-off-canvas-sidebar {
        top: 46px;
        height: -webkit-calc(100% - 46px);
        height: calc(100% - 46px);
    }
}

@media screen and (max-width: 600px) {
    .admin-bar #responsive-off-canvas-sidebar-wrap .responsive-off-canvas-sidebar {
        top: 0;
        height: 100%;
    }
}

@media screen and (max-width: 505px) {
    .off_canvas_filter_btn {
        margin-top: 44px;
    }
}

.off-canvas-enabled #responsive-off-canvas-sidebar-wrap {
    visibility: visible;
    @include opacity(1);

    .responsive-off-canvas-sidebar {
        left: 0;
    }
}

.responsive-off-canvas-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    text-align: center;
    z-index: 1000;

    &:hover {
        background-color: transparent;
    }

    svg {
        fill: #333;
        @include transition(all .3s ease-in-out);
    }

    &:hover svg {
        fill: #777;
    }
}
.responsive-floating-bar {
    display: flex;
    padding: 5px 20px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.floatingb-title {
    font-size: 18px;
    font-weight: normal;
}

.floatingb-selected {
    font-weight: 600;
}

.floatingb-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.floatingb-title {
    color: white;
}

.floatingb-right {
    display: flex;
    align-items: center;
}

.floating-bar-cart {
    display: flex;
}

.floatingb-price {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
}

.responsive-floating-bar .input-text.qty.text {
    margin-right: 10px;
}

.responsive-floating-bar .quantity {
    display: flex;
    align-items: center;
}

@media (min-width: 576px) and (max-width: 768px) {
    .responsive-floating-bar {
        position: fixed;
        top: auto;
        bottom: 0;
    }
}

@media (max-width: 575px) {
    .responsive-floating-bar {
        position: fixed;
        top: auto;
        bottom: 0;
    }

    .floatingb-container {
        flex-direction: column;
    }

    .floatingb-title {
        display: none;
    }
}

.woocommerce .woocommerce-ordering select {
  padding: .5em;
}

.responsive-header-cart.header-navigation .header-cart-button, .responsive-header-cart .header-cart-button {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0;
    border:0;
    box-shadow: none;
    &:hover {
        background: transparent;
        color: inherit;
        box-shadow: none;
    }
}
.header-cart-button {
    .responsive-svg-iconset {
        font-size: 1.2em;
    }
    .header-cart-label {
        padding-right: 5px;
    }
    .header-cart-label:empty {
		padding-right: 0px;
	}
}
.header-cart-wrap .header-cart-empty-check {
    display: none;
}
.header-cart-button .header-cart-total {
    font-size: 0.65em;
    height: 2.1em;
    line-height: 1;
    background: #e9e9e9;
    border-radius: 50%;
    display: flex;
    width: 2.1em;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333;
    margin-left: 0.1em;
    transition: all 0.2s ease;
}
#cart-drawer.popup-drawer .drawer-inner {
    max-width: 400px;
    background: #fff;
    color: #333;
}
#cart-drawer h2.side-cart-header {
    font-size: 1em;
}
#cart-drawer.popup-drawer .drawer-header {
    justify-content: space-between;
    align-items: center;
}
#cart-drawer.popup-drawer .drawer-content {
    padding-top: 1em;
}
.site-header-section-left .responsive-header-cart.header-navigation ul ul.sub-menu {
    left: 0;
    right:auto;
}
.responsive-header-cart.header-navigation {
    .header-cart-button {
        padding: 0.6em 0;
    }
    ul.cart_list {
        display: block;
        position: static;
        box-shadow: none;
        background: transparent;
        transform: none;
        opacity: 1;
        visibility: visible;
        height: auto;
        clip: auto;
        max-height: 100vh;
        overflow: auto;
    }
    .menu-item.menu-item-responsive-cart-dropdown {
        min-width: 340px;
        padding: 1em;
        color: #333;
        font-size: 90%;
    }
    ul {
        p.woocommerce-mini-cart__empty-message {
            margin: 0;
        }
        ul.sub-menu {
            right: 0;
            background: #fff;
            color: #333;
            left: auto;
        }
        ul a:not(.button) {
            padding: 0;
            width: auto;
            font-size: inherit;
            color: #333;
            background:transparent;
            &:hover {
                color: #333;
                background:transparent;
            }
        }
        ul a.remove:hover {
            background: red;
            text-decoration: none;
        }
        li a.remove.remove_from_cart_button {
            padding: 0;
        }
        .woocommerce-mini-cart__buttons {
            margin-bottom: 0;
        }
        a.button {
            border-radius: 3px;
            background: 0066cc;
            color: #fff;
            padding: 0.4em 1em;
            border: 0;
            font-size: inherit;
            line-height: 1.6;
            display: inline-block;
            width: 100%;
        }
        a.button:hover {
            background: #10659c;
        }
    }
}
#masthead .widget_shopping_cart{
    list-style: none;
}
.rtl .responsive-header-cart.header-navigation {
    ul {
        ul.sub-menu {
			right: auto;
            left: 0;
		}		
	}
}
