@import 'variables';
@import 'mixins';

/**
 * WooCommerce styles
 * -----------------------------------------------------------------------------
 */

// Shop
ul.wc-block-grid__products,
ul.products {
    li.wc-block-grid__product,
    li.product {

        .responsive-site-style-boxed & {
            padding: $base-line-height-px;
            background-color: map-get($colors, white);
        }
        .responsive-site-style-content-boxed & {
            padding-bottom: $base-line-height-px;
        }

        .responsive-catalog-view-list & {
            min-width: 100%;
            display: flex;
            margin: 0 0 $grid-gutter-width 0;

            .responsive-shop-summary-wrap {
                padding-left: $base-line-height-px;
            }

            .onsale {
                top: 0;
                right: auto;
                left: 0;
                margin: .5em .5em 0 0;
            }
            a img {
                margin: 0;
            }
        }

        .product-content-aligmnment-center & {
            text-align: center;

            .star-rating {
                margin: 0 auto;
            }
        }
        .product-content-aligmnment-right & {
            text-align: right;

            .star-rating {
                margin: 0 0 0 auto;
            }
        }

        .product-content-aligmnment-right.responsive-catalog-view-list & {
            justify-content: space-between;
        }

        .onsale {
            line-height: 2.9;
        }
    }
}
.woocommerce-page,
.woocommerce {
    @for $i from 1 through 10 {
        ul.products.columns-#{$i} {
            li.product:nth-child(#{$i}n) {
                margin-right: 0;
                clear: right;
            }
			@media screen and ( min-width: 992px ) {
		        li.product {
		            margin: 0 $grid-gutter-width $grid-gutter-width 0;
		        }
			}
        }
    }
}

// Block product

ul.wc-block-grid__products {
    margin: 0;
    .responsive-site-style-content-boxed.page-template-gutenberg-fullwidth & {
        background-color: transparent;
    }

    li.wc-block-grid__product {
        .responsive-site-style-boxed.page-template-gutenberg-fullwidth & {
            background-color: transparent;
            padding: $base-line-height-px/2;
        }

    }
}
.wc-block-grid__product-price price,
.wc-block-grid__product-add-to-cart {
    font-weight: 700;
}

.wc-block-grid__product-onsale {
    background-color: map-get( $colors, blue );
    border-radius: 100%;
    border: none;
    color: map-get( $colors, white );
    font-size: .857em;
    font-weight: 700;
    line-height: 3.236;
    margin: -.5em -.5em 0 0;
    min-height: 3.236em;
    min-width: 3.236em;
    padding: .202em;
    position: absolute;
    text-align: center;
    top: -.25em;
    right: -.25em;
    z-index: 9;

    .product-sale-style-square-outline &,
    .product-sale-style-circle-outline & {
        background-color: map-get( $colors, white );
        border: 2px solid map-get( $colors, blue );
        color: map-get( $colors, blue );
    }
    .product-sale-style-square-outline &,
    .product-sale-style-square & {
        border-radius: 0;
    }

}


.products-wrapper {
    .woocommerce-page.responsive-site-style-content-boxed &,
    .woocommerce.responsive-site-style-content-boxed & {
        padding: $base-line-height-px;
        background-color: map-get($colors, white);
    }
}

.woocommerce-pagination {
    @extend .row;
    @include make-block-element();
    background-color: map-get($colors, white);
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: $base-line-height-px;

    .responsive-site-style-content-boxed & {
        margin: 0;
        border-bottom: 1px solid map-get( $colors, light-gray );
    }

    .responsive-site-style-flat & {
        background-color: transparent;
        padding: 0;
    }

    .responsive-site-style-content-boxed & {
        border-bottom: none;
        border-top: 1px solid map-get( $colors,light-gray );
    }
}

// General
.woocommerce {
    #respond input#submit.alt,
    a.button.alt,
    button.button.alt,
    input.button.alt,
    #respond input#submit,
    a.button,
    button.button,
    input.button {
        @include make-button();
        border-radius: 0px;
    }

    .widget_price_filter .ui-slider .ui-slider-handle,
    .widget_price_filter .ui-slider .ui-slider-range,
    span.onsale {
        background-color: map-get( $colors, blue );
        color: map-get( $colors, white );
    }
    span.onsale {
        &.square-outline,
        &.circle-outline {
            background-color: map-get( $colors, white );
            border: 2px solid map-get( $colors, blue );
            color: map-get( $colors, blue );
        }
        &.square,
        &.square-outline {
            border-radius: 0;
        }
    }

    .widget_price_filter .price_slider_wrapper .ui-widget-content {
        background-color: map-get( $colors, dark-blue );
    }

    div.product p.price,
    div.product span.price,
    ul.products li.product .price {
        color: map-get( $colors, dark-gray );
        font-weight: bold;
    }

    ul.products {
        margin: 0;
        li.product {
            .woocommerce-loop-category__title,
            .woocommerce-loop-product__title,
            h3 {
                font-weight: normal;
            }
        }
    }

    .responsive_woo_shop_parent_category {
        color: map-get( $colors, gray );
        font-size: map-get( $font-sizes, small );
        margin: 0;
    }

    .woocommerce-breadcrumb {
        font-size: map-get( $font-sizes, small );
        margin: 0;
    }

	a.remove {
		font-weight: 400;
    font-size: 18px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 100%;
    color: #ccc !important;
    text-decoration: none;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
	}
	a.remove:hover {
		background: #ffffff;
	}

}


//Cart
#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
    min-width: 120px;
    padding: 0.25em;
}

#add_payment_method table.cart input,
.woocommerce-cart table.cart input,
.woocommerce-checkout table.cart input {
    padding: 0.25em;
}

// Sinle Product page
div.product {
    .woocommerce-page.single-product:not(.responsive-site-style-flat) &,
    .woocommerce.single-product:not(.responsive-site-style-flat) & {
        padding: $base-line-height-px;
        background-color: map-get($colors, white);
    }
}
.related-product-wrapper {
    margin-top: $grid-gutter-width;

    .responsive-site-style-content-boxed & {
        background-color: map-get( $colors, white );
        padding: $base-line-height-px;
        padding-bottom: 0;
    }
}

.woocommerce-product-gallery__wrapper {
    max-width: none;
}

.woocommerce-product-gallery {
	@media (min-width: 767px) {
	    .flex-viewport {
	        .product-gallery-layout-vertical & {
	            width: 75%;
	            float: right;
	        }
	    }
	}
}

div.product div.images .flex-control-thumbs {
	@media (min-width: 767px) {
	    .product-gallery-layout-vertical.woocommerce & {
	        width: 23%;
	        margin-right: 2%;

	        li {
	            margin-bottom: $base-line-height-px / 3;
	            width: 100%;
	        }
    	}
	}
    .product-gallery-layout-horizontal.woocommerce & {
        margin-top: 0.5em;

        li {
            padding: 0.5em;
        }

    }
}

.woocommerce-page.single-product div.product {
    display: flow-root;
}


// Sidebar widget Area

// Sidebar-position
.single-product,
.search,
.archive {
    &.woocommerce.sidebar-position {
        &-left {
            .site-content > .container > .row {
                flex-direction: row-reverse;
            }
        }
        &-no {
            .site-content > .container > .row {
                main.content-area {
                    margin: 0 auto;
                }
            }
        }
    }
}

// Checkout & Cart Page
.woocommerce-checkout,
.woocommerce-cart {
    main.content-area {
        margin: 0 auto;
    }
	table.shop_table td, table.shop_table th {
		border-right: 0;
	}

	.cart-collaterals {
		.cart_totals, .cross-sells {
			padding: 0 20px;
			border-width: 1px;
			border-style: solid;
			border-color: #ebebeb;
			border-radius: 0;
			margin-bottom: 2em;
		}
		.cart_totals {
			.shop_table {
				border-top: 0;
			    border-left: 0;
			    border-right: 0;
			    border-radius: 0;
			}
			table {
				border-collapse: separate;
				margin: 0 0 6px;
				padding: 0;
			}
			> h2 {
				margin: 0 -20px 20px;
				background-color: #fbfbfb;
				border-bottom: 1px solid #ebebeb;
				font-size: 1.2rem;
				padding: .7em 1em;
			}
			.checkout-button {
				border-radius: 100px;
			}
		}
		.cross-sells {
			.shop_table {
				border-top: 0;
			    border-left: 0;
			    border-right: 0;
			    border-radius: 0;
			}
			> h2 {
				margin: 0 -20px 20px;
				background-color: #fbfbfb;
				border-bottom: 1px solid #ebebeb;
				font-size: 1.2rem;
				padding: .7em 1em;
			}
		}
	}
}

#add_payment_method {
	.checkout-button {
		border-radius: 100px;
	}
	.cart-collaterals {
		.cart_totals {
			table {
				border-collapse: separate;
				margin: 0 0 6px;
				padding: 0;
			}
		}
	}
}

.woocommerce {
    .widget_shopping_cart,
    &.widget_shopping_cart {
        .cart_list li {
            padding-top: $base-line-height-px / 4;
            a.remove {
                top: $base-line-height-px * ( 3/4 );
            }
        }
    }

    .woocommerce ul.cart_list li img,
    .woocommerce ul.product_list_widget li img {
        margin-top: $base-line-height-px / 7;
    }
}

.widget-area {
    .widget-wrapper.widget_product_search {
        .search-field {
            border-width: 1px;
        }

        button {
            display: none;
        }
    }
}
.wp-block-button__link {
    font-size: map-get($font-sizes,normal);
}

.wc-block-grid.has-4-columns:not(.alignwide):not(.alignfull) .wc-block-grid__product,
.wc-block-grid.has-5-columns:not(.alignfull) .wc-block-grid__product,
.wc-block-grid.has-6-columns:not(.alignfull) .wc-block-grid__product,
.wc-block-grid.has-7-columns .wc-block-grid__product,
.wc-block-grid.has-8-columns .wc-block-grid__product,
.wp-block-button__link {
    font-size: map-get($font-sizes,normal);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	margin-right: 10px;
}

span.res-header-cart-info-wrap, .res-addon-cart-wrap{
	  padding: 0 2px;
}

.woocommerce.woocommerce-checkout, .woocommerce-page.woocommerce-checkout {
	form #customer_details.col2-set {
		width: 55%;
		float: left;
		margin-right: 4.347826087%;

		.col-1, .col-2 {
			float: none;
			width: auto;
		}
	}

	form #order_review, form #order_review_heading {
		width: 40%;
		float: right;
		margin-right: 0;
		clear: right;
	}

	form #order_review_heading {
		border-width: 2px 2px 0 2px;
	    border-style: solid;
	    font-size: 1.2rem;
	    margin: 0;
	    padding: 1.5em 1.5em 1em;
	    border-color: #ebebeb;
	}

	form #order_review {
		padding: 0 2em;
		border-width: 0 2px 2px;
		border-style: solid;
		border-color: #ebebeb;
	}

	#payment #place_order {
		width: 100%;
	}

	#customer_details h3 {
		padding: 20px 0 14px;
		margin: 0 0 20px;
		border-bottom: 1px solid #ebebeb;
	}
}

.woocommerce-privacy-policy-text p {
	margin-bottom: 1.6em;
}
