/* =Margins & Paddings
-------------------------------------------------------------- */
p,
hr,
dl,
pre,
form,
table,
address,
blockquote {
	margin: 20px 0;
}

th, td {
	padding: .4em;
}

caption {
	padding-bottom: .8em;
}

blockquote {
	padding: 0 1em;
}

blockquote:first-child {
	margin: .8em 0;
}

fieldset {
	margin: 1.6em 0;
	padding: 0 1em 1em;
}

legend {
	padding-left: .8em;
	padding-right: .8em;
}

legend+* {
	margin-top: 1em;
}

input,
textarea {
	padding: .3em .4em .15em;
}

select {
	padding: .1em .2em 0;
}

option {
	padding: 0 .4em;
}


ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

ul,
ol {
	margin: 0 1.5em 1.5em 0;
	padding-left: 2.0em;
}

li ul,
li ol {
	margin: 0;
}

form div {
	margin-bottom: .8em;
}
