h1, h2, h3, h4, h5, h6 {
	clear: both;
}
/* =Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: 700;
	line-height: 1.0em;
	word-wrap: break-word;
}

h1 {
	font-size: 2.625em; /* = 42px */
	margin-bottom: .5em;
	margin-top: .5em;
}

h2 {
	font-size: 2.250em; /* = 36px */
	margin-bottom: .75em;
	margin-top: .75em;
}

h3 {
	font-size: 1.875em; /* = 30px */
	margin-bottom: .857em;
	margin-top: .857em;
}

h4 {
	font-size: 1.500em; /* = 24px */
	margin-bottom: 1em;
	margin-top: 1em;
}

h5 {
	font-size: 1.125em; /* = 18px */
	margin-bottom: 1.125em;
	margin-top: 1.125em;
}

h6 {
	font-size: 1.000em; /* = 16px */
	margin-bottom: 1.285em;
	margin-top: 1.285em;
}
