h1, h2, h3, h4, h5, h6 {
	clear: both;
}
/* =Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: 700;
	line-height: 1.0em;
	word-wrap: break-word;
}

h1 {
	font-size: 2.625em; /* = 42px */
}

h2 {
	font-size: 2.250em; /* = 36px */
}

h3 {
	font-size: 1.875em; /* = 30px */
}

h4 {
	font-size: 1.500em; /* = 24px */
}

h5 {
	font-size: 1.125em; /* = 18px */
}

h6 {
	font-size: 1.000em; /* = 16px */
}
