// body,
// button,
// input,
// select,
// optgroup,
// textarea {
// 	color: $color__text-main;
// 	font-family: $font__main;
// 	@include font-size(1);
// 	line-height: $font__line-height-body;
// }
/* =Typography
-------------------------------------------------------------- */
p {
	word-wrap: break-word;
}

i,
em,
dfn,
cite {
	font-style: italic;
}

tt,
var,
pre,
kbd,
samp,
code {
	font-family: monospace, serif;
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

pre {
	-moz-box-sizing: border-box;
	-moz-border-radius: 2px;
	-moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-sizing: border-box;
	box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	background: #f4f4f4;
	border: 1px solid #aaaaaa;
	border-bottom-color: #cccccc;
	border-radius: 2px;
	height: auto;
	margin: 0;
	outline: none;
	padding: 6px 10px;
	vertical-align: middle;
	width: 100%;
	word-wrap: break-word;
	white-space: pre-wrap;
}

del {
	color: #555555;
	text-decoration: line-through;
}

ins,
dfn {
	border-bottom: 1px solid #cccccc;
}

sup,
sub,
small {
	font-size: 85%;
}

abbr,
acronym {
	font-size: 85%;
	letter-spacing: .1em;
	text-transform: uppercase;
}

a abbr,
a acronym {
	border: none;
}

dfn[title],
abbr[title],
acronym[title] {
	border-bottom: 1px solid #cccccc;
	cursor: help;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}
.sticky-header {
	position: fixed;
	top: 0;
	left: 0px;
	z-index: 200;
	width: 100%;
	background-color: #fff;
	margin: 0 !important;
	opacity:0.9;
	-webkit-transition: all 0.8s ease-in-out 0s;
	-moz-transition: all 0.8s ease-in-out 0s;
	-o-transition: all 0.8s ease-in-out 0s;
	transition: all 0.8s ease-in-out 0s;
}
.admin-bar .sticky-header{
	top:30px;
}

@import "headings";

@import "copy";
