@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fcynq8');
  src:  url('fonts/icomoon.eot?fcynq8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fcynq8') format('truetype'),
    url('fonts/icomoon.woff?fcynq8') format('woff'),
    url('fonts/icomoon.svg?fcynq8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-opencart:before {
  content: "\f23d";
}
.icon-shopping-bag:before {
  content: "\f290";
}
.icon-shopping-basket:before {
  content: "\f291";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-user:before {
  content: "\f007";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-edit:before {
  content: "\f044";
}
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-feed:before {
  content: "\f09e";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-sort-desc:before {
  content: "\f0dd";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-asc:before {
  content: "\f0de";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-flash:before {
  content: "\f0e7";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-mail-reply:before {
  content: "\f112";
}
.icon-reply:before {
  content: "\f112";
}
.icon-folder-open-o:before {
  content: "\f115";
}
.icon-mail-reply-all:before {
  content: "\f122";
}
.icon-reply-all:before {
  content: "\f122";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-foursquare:before {
  content: "\f180";
}
.icon-stumbleupon:before {
  content: "\f1a4";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-yelp:before {
  content: "\f1e9";
}
.icon-vimeo:before {
  content: "\f27d";
}
.icon-user-o:before {
  content: "\f2c0";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-music:before {
  content: "\f001";
}
.icon-heart:before {
  content: "\f004";
}
.icon-user1:before {
  content: "\f008";
}
.icon-film:before {
  content: "\f009";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close1:before {
  content: "\f00e";
}
.icon-remove1:before {
  content: "\f00e";
}
.icon-times1:before {
  content: "\f00e";
}
.icon-search-plus:before {
  content: "\f00f";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-download:before {
  content: "\f019";
}
.icon-lock:before {
  content: "\f023";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-book:before {
  content: "\f02d";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-chevron-left1:before {
  content: "\f056";
}
.icon-chevron-right1:before {
  content: "\f055";
}
.icon-chevron-up1:before {
  content: "\f07b";
}
.icon-chevron-down1:before {
  content: "\f079";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-phone:before {
  content: "\f095";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-user-md:before {
  content: "\f0f0";
}
.icon-stethoscope:before {
  content: "\f0f1";
}
.icon-ambulance:before {
  content: "\f0f9";
}
.icon-angle-left1:before {
  content: "\f108";
}
.icon-angle-right1:before {
  content: "\f109";
}
.icon-angle-up1:before {
  content: "\f10a";
}
.icon-angle-down1:before {
  content: "\f10b";
}
.icon-mobile:before {
  content: "\f10c";
}
.icon-mobile-phone:before {
  content: "\f10c";
}
.icon-calendar-o:before {
  content: "\f133";
}
.icon-youtube1:before {
  content: "\f168";
}
.icon-apple:before {
  content: "\f179";
}
.icon-female:before {
  content: "\f182";
}
.icon-male:before {
  content: "\f183";
}
.icon-sun-o:before {
  content: "\f185";
}
.icon-wheelchair:before {
  content: "\f193";
}
.icon-wordpress:before {
  content: "\f19a";
}
.icon-automobile:before {
  content: "\f1b9";
}
.icon-car:before {
  content: "\f1b9";
}
.icon-motorcycle:before {
  content: "\f21c";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-bed:before {
  content: "\f236";
}
.icon-hotel:before {
  content: "\f236";
}
.icon-battery-3:before {
  content: "\f241";
}
.icon-battery-three-quarters:before {
  content: "\f241";
}
.icon-battery-2:before {
  content: "\f242";
}
.icon-battery-half:before {
  content: "\f242";
}
.icon-volume-control-phone:before {
  content: "\f2a0";
}
.icon-handshake-o:before {
  content: "\f2b5";
}
.icon-shower:before {
  content: "\f2cc";
}
.icon-bath:before {
  content: "\f2cd";
}
.icon-bathtub:before {
  content: "\f2cd";
}
.icon-s15:before {
  content: "\f2cd";
}
