.customize-control .customize-inside-control-row.checkbox-with-react { 
    margin-left: 0; 
}

.customize-control .customize-inside-control-row.checkbox-with-react > label {
    vertical-align: initial;
}
