.customize-control-responsive-heading {
    margin-top: 24px;
}

.responsive-customizer-heading {
    font-family: 'Roboto', sans-serif;
    display: block;
    margin: 0 -24px;
    padding: 15px 24px;
    background-color: #F2F2F2;
    color: #505050;
    border-top: 1px solid #B2B2B2;
    border-bottom: 1px solid #B2B2B2;
    border-left: 0;
    border-right: 0;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.customize-control-responsive-heading .description {
    margin-top: 10px;
}

#customize-control-responsive_body_typography_separator,
#customize-control-responsive_content_header_color,
#customize-control-responsive_page_typography_title_separator {
    margin-top: 0;
}

#customize-control-responsive_breadcrumb_enable_404_page .responsive-toggle-control-wrapper {
    padding-bottom: 12px;
}
#customize-control-responsive_transparent_header_separator,
#customize-control-responsive_cart_layout_seperator,
#customize-control-responsive_single_product_layout_elements_separator {
    margin-top: 0;
}
#sub-accordion-section-responsive_colors .customize-control-responsive-horizontal-separator {
    padding-top: 12px;
    padding-bottom: 12px;
}