/* =Social Icons
-------------------------------------------------------------- */
#footer .social-icons {
	list-style: none;
	line-height: normal;
	padding: 0;
	margin: 0;
	text-align: right;
}

#footer .rss-icon,
#footer .yelp-icon,
#footer .vimeo-icon,
#footer .youtube-icon,
#footer .twitter-icon,
#footer .facebook-icon,
#footer .linkedin-icon,
#footer .rss-feed-icon,
#footer .instagram-icon,
#footer .pinterest-icon,
#footer .foursquare-icon,
#footer .googleplus-icon,
#footer .google-plus-icon,
#footer .stumbleupon-icon,
#footer .stumble-upon-icon,
#footer .email-icon {
	display: inline;
	margin: 1px;
	padding-left: 3px;
}
#footer .social-icons img:hover{
	opacity: 0.8;
}
