/* =Buttons (Sizes)
-------------------------------------------------------------- */
.small a.button {
	font-size: 10px;
	padding: 3px 6px;
}

.medium a.button {
	font-size: 16px;
	padding: 8px 16px;
}

.large a.button {
	font-size: 18px;
	padding: 10px 35px;
}

.xlarge a.button {
	font-size: 24px;
	padding: 12px 55px;
}
