/*
	changes according gutenberg plugin --START
 */

 /**
  * figure audio style
  *
  */
 figure.wp-block-audio.aligncenter{
 	text-align: center;
 }

 figure.wp-block-audio.aligncenter audio{
 	width: 100%;
 }

 .wp-block-audio audio {
    min-width: 250px;
 }

 .wp-block-cover.aligncenter{
	clear: both;
 }

 div .wp-block-cover-text{
  	position: absolute;
     color: #fff;
     font-size: 2em;
     line-height: 1.25;
     margin-bottom: 0;
     max-width: 610px;
     padding: 14px;
     text-align: center;
     z-index: 1;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
 	width: 100%;

 }

 .wp-block-image {
     margin-bottom: 20px;
 }

 .wp-block-gallery .blocks-gallery-item figcaption{
	 padding: 40px 0 5px;
 }

.entry-content .wp-block-gallery,
 .entry-content .wp-block-gallery,
 .entry-summary .wp-block-gallery,
 .entry-summary .wp-block-gallery {
 	 display: flex;
     flex-wrap: wrap;
     list-style-type: none;

     figcaption {
        position: absolute;
        bottom: 0;
        width: 100%;
        max-height: 100%;
        overflow: auto;
        padding: 40px 10px 9px;
        color: #fff;
        text-align: center;
        font-size: 13px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.3) 70%, transparent);
    }

 }

 .wp-block-columns .wp-block-column {
    &>*:first-child {
        margin-top: 0 !important;
    }
 }

 .wp-block-columns .wp-block-column {
    &>*:last-child {
        margin-bottom: 0 !important;
    }
 }

 .wp-block-quote {
    padding: 1em;
 }

.grid.col-940:not(.blog-2-col):not(.blog-3-col):not(.blog-4-col) .post-entry {
    .alignwide {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        width: 100vw;
		max-width: 100vw;
    }
    .alignfull {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        width: 100vw;
		max-width: 100vw;
    }

    .wp-block-columns {
        .alignwide,
        .alignfull {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }

}
.wp-block-cover__inner-container {
        padding-left: 20px;
        padding-right: 20px;
}

.alignfull,
.alignfull {
    *:not(.alignwide):not(.wp-block-cover__inner-container):not(.wp-block-separator),
    *:not(.alignfull):not(.wp-block-cover__inner-container):not(.wp-block-separator) {
        max-width: 100%;
    }
}

.content-width-1200 {
    > [class*="__inner-container"]{
        max-width: 1200px !important;
        margin: 0 auto;
    }
}

.content-width-960 {
    > [class*="__inner-container"]{
        max-width: 960px !important;
        margin: 0 auto;
    }
}

.content-width-720 {
    > [class*="__inner-container"]{
        max-width: 720px !important;
        margin: 0 auto;
    }
}

.content-width-540 {
    > [class*="__inner-container"]{
        max-width: 540px !important;
        margin: 0 auto;
    }
}

@media (max-width: 782px){
	.content-outer .wp-block-columns .wp-block-column{
		flex-basis: 100%;
		margin-left: 0;
	}
}

.wp-block-separator{
	max-width: 100px;
	margin-left: 0;
	margin-right: 0;
}
/*
	changes according gutenberg plugin -- END
 */
