.comment-content a {
	word-wrap: break-word;
}
/* =Comments
-------------------------------------------------------------- */
#commentform {
	margin: 0;
}

.commentlist {
	border-bottom: 1px solid #e5e5e5;
	list-style: none;
	margin: 0;
	padding: 0;
}

.commentlist ol {
	list-style: decimal;
}

.commentlist li {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #ffffff;
	border-radius: 4px;
	margin: 0;
}

.commentlist .bypostauthor {
}

.commentlist li cite {
	color: #111111;
	font-size: 1.1em;
	font-style: normal;
	font-weight: 400;
}

.commentlist li.alt {
	background: #f9f9f9;
}

.commentlist .children {
	list-style: none;
	margin-left: 10px;
	padding: 10px;
}

.commentlist .avatar {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	float: left;
	margin-right: 10px;
	padding: 0;
	vertical-align: middle;
}

.comment-author .fn {
}

.comment-author .says {
	color: #999999;
}

.comment-body .comment-meta {
	color: #999999;
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: left;
}

.comment-body .comment-meta a {
	font-size: 11px;
}

.comment-body {
	clear: both;
	padding: 10px;
}

.comment-body p {
	clear: both;
}

.comment-body .reply {
}

.pingback, .trackback {
	list-style: none;
	margin: 20px 0;
}

.pingback cite,
.trackback cite {
	font-style: normal;
}

#pings,
#comments {
	text-align: left;
}

#respond {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #eaeaea;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -ms-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -o-linear-gradient(top, #ffffff, #eaeaea);
	background-image: linear-gradient(to top, #ffffff, #eaeaea);
	border: 1px solid #cccccc;
	border-bottom-color: #aaaaaa;
	border-radius: 4px;
	clear: both;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea)";
	margin-top: 15px;
	padding: 10px 20px 50px;
}

#respond label {
	display: inline;
}

.reply {
	margin: 10px 0;
}

.comment-form-url input,
.comment-form-email input,
.comment-form-author input,
.comment-form-comment textarea {
	display: block;
	width: 100%;
}

.nocomments {
	color: #999999;
	font-size: .9em;
	text-align: center;
}
