/* =Footer
-------------------------------------------------------------- */
#footer {
	font-size: 0.92rem;
	line-height: 1.5em;
}

#footer a {
	color: #333333;
	font-weight: 400;
}

#footer a:hover {
	color: #444444;
}

#footer-widgets.grid.col-940 .content-outer, .footer-bar.grid.col-940 .content-outer{
	margin: 1% auto;
	display: flex;
	flex-direction: row;

	@media (max-width: 767px){
		flex-direction: column;
	}

	.footer-widget, .footer-layouts {
	    width: inherit;
		margin: 0 1%;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}

		div{
			width: inherit
		}

		@media (max-width: 767px){
			width: 100%;
			ul {
				text-align: left;
			}
		}

		@media screen and (max-width: 480px) {
			.gallery dl.gallery-item {
				float: left;
			}
		}
	}
}

#footer .contact_div
{
    margin-bottom: 2.127659574468%!important;
}

#footer-widgets .col-300:nth-child(3n+3) {
	//margin-right: 0;
}
.social_div {
	padding: 2% 0;
}
.full-width-no-box #footer .footer_div {
	background-color: #585858;
	padding: 2% 0;
	margin-bottom: 10px;
}
#scroll {
	display:none;
	position:fixed;
	right:2%;
	bottom:10px;
	cursor:pointer;
	width:50px;
	height:50px;
	background-color:#a8a6a6;
	text-indent:-9999px;
	z-index:99999999;
	-webkit-border-radius:60px;
	-moz-border-radius:60px;
	border-radius:60px
}
#scroll span {
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-8px;
	margin-top:-12px;
	height:0;
	width:0;
	border:8px solid transparent;
	border-bottom-color:#fff
}
#scroll:hover {background-color:#d1cfcf;}
.full-width-no-box #footer .contact_div {margin-bottom: 0!important;}
.full-width-no-box #footer .social-icons { text-align: center;}
.full-width-no-box #footer-widgets a {color: #ffffff;}
.full-width-no-box #footer-widgets a:hover {color:edeaea;}
.full-width-no-box #footer-widgets .widget-wrapper {
	border: none;
	color: #ffffff;
	background-color:inherit;
}
#footer .social-icons li {
	list-style: none;
	display: inline-block;
	// padding: 9px 10px;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	margin: 0 10px;
	font-size: 26px;

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}
}
/* =Social Icons
-------------------------------------------------------------- */
#footer .social-icons {
	list-style: none;
	line-height: normal;
	padding: 0;
	margin: 0;
	width: 100%;
}

#footer .rss-icon,
#footer .yelp-icon,
#footer .vimeo-icon,
#footer .youtube-icon,
#footer .twitter-icon,
#footer .facebook-icon,
#footer .linkedin-icon,
#footer .rss-feed-icon,
#footer .instagram-icon,
#footer .pinterest-icon,
#footer .foursquare-icon,
#footer .googleplus-icon,
#footer .google-plus-icon,
#footer .stumbleupon-icon,
#footer .stumble-upon-icon,
#footer .email-icon {
	display: inline;
	margin: 1px;
	padding-left: 3px;
}
@media (min-width: 700px){
.content-outer .copyright {
	margin-bottom: 0;
	padding: 20px 0;
}

.social_div .content-outer {
	display: flex;
  align-items: center;
  width: 100%;
}

.copyright, .powered{
	display: inline-block;
}

.footer-bar {
	display: flex;
	width: 100%;
}

.copyright, .social-icon {
	width: inherit;
}
}
@media (max-width: 700px){
	.footer-bar.grid.col-940 .content-outer{
		    display: block;
	}
}

.footer-widget *:last-child {
    margin-bottom: 0;
}

.footer-widget *:last-child {
    margin-bottom: 0;
}

.footer-bar.grid.col-940 .content-outer .footer-layouts .powered{
	width: auto;
}
