.footer.widget-area * {
	background-color: $color__text-main;
	color: $color__background-body;
}
.site-footer {
	background-color: $color__text-main;
	color: $color__background-body;
}
/**
 * Site footer styles
 * -----------------------------------------------------------------------------
 */
.site-footer {
	background-color: black;
	color: white;
	font-family: $heading-font;
	font-size: $small-font-size;
	padding: $calc-line-height 0;
	text-align: center;

	a {
		@extend .light-link;
		border-bottom: none;
	}
}

footer.entry-footer{
		margin-top: 2em;
    border-bottom: 1px solid $color__border;
    border-top: 1px solid $color__border;
    padding: 1em 0;
}
p.res-blog-links{
	margin: 0;
}
