
/* =Content
-------------------------------------------------------------- */
#primary {
	margin-bottom: 20px;
	padding: 20px;
}

#content-full {
	margin-top: 40px;
	margin-bottom: 20px;
	padding: 20px;
}

#content-blog,
#content-images,
#content-search,
#content-archive {
	margin-bottom: 20px;
}

#content-sitemap {
	margin-top: 40px;
	margin-bottom: 20px;
}

#content-sitemap a {
	font-size: 12px;
}

#content .sticky {
	clear: both;
}

#content .sticky p {
}
/* =Post
-------------------------------------------------------------- */
.comments-link {
	font-size: 12px;
}

#cancel-comment-reply-link {
	color: #990000;
}

.post-data {
	clear: both;
	font-size: 12px;
	font-weight: 700;
	margin-top: 1.6em;
}

.post-data a {
	color: #111111;
}

.post-entry {
	clear: both;
}

.post-meta {
	clear: both;
	color: #7E7E7E;
	font-size: 12px;
	margin-bottom: 10px;
}

.post-edit {
	clear: both;
	display: block;
	font-size: 12px;
	margin: 1.5em 0 0 0;
}

.post {
	margin-bottom: 40px;
	padding: 20px;

	.section-blog-2-col &,
	.section-blog-3-col &,
	.section-blog-4-col & {
		border: none;
		margin-bottom: 0;
	}

	.single & {
		padding: 0;
	}
}

body.search {
	.title-404,
	.title-search-results,
	.page{
		padding: 0 20px;
	}

	&.search-no-results {
		#searchform {
			width: max-content;
		}
	}
}

body.archive {
	.breadcrumb-list,
	.title-archive,
	.page{
		padding: 0 20px;
	}
	.breadcrumb-list{
		padding-top: 20px;
	}

}

.post-search-terms {
	clear: both;
}

.read-more {
	clear: both;
	font-weight: 700;
}

.attachment-entry {
	clear: both;
	text-align: center;
}
.page div#primary, .post-entry {
	display: inline-block;
}
.post-entry {
	width: 100%;
}
.responsive-pagination-infinite{
	text-align: center;
	margin: 2.5em 0;
}
/* Loader */
.responsive-loader {
	display: none;
	margin: 0 auto;
	min-height: 58px;
	line-height: 58px;
	width: 70px;
	text-align: center;
}
.responsive-loader > div {
	width: 18px;
	height: 18px;
	background-color: #0085ba;
	border-radius: 100%;
	display: inline-block;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.responsive-loader .responsive-loader-1 {
	animation-delay: -0.32s;
}
.responsive-loader .responsive-loader-2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.responsive-load-more {
	cursor: pointer;
	display: none;
	border: 2px solid #eaeaea;
	transition: all 0.2s linear;
	color: #000;
}

.responsive-load-more.active {
	display: inline-block;
	padding: 0 1.5em;
	line-height: 3em;
}

.responsive-load-more.no-more:hover {
	border-color: #eaeaea;
	color: #000;
}
.responsive-load-more.no-more:hover {
	background-color: inherit;
}
@keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1);
	}
}

body.search,
body.archive,
body.blog,
body.single {
	.post-entry {
		> * {
			&:first-child {
				&.thumbnail {
					padding: 0;
				}
			}
		}

		.entry-title {
			&.post-title{
				margin: 0 0 15px 0;
			}
		}

		.thumbnail {
			padding: 25px;
			padding-top: 0;
		}

		.post-meta {
			margin: 15px 0;
		}

		> *:first-child {
			margin-top: 0;
		}
		> *:last-child {
			margin-bottom: 0;
		}

		ul,ol{
			list-style-position: inside;
		}
	}
	#main-blog > *.post .post-entry {
		> * {
			padding: 0;
		}

		> *:first-child.thumbnail {
			padding-bottom: 0;
		}

	}
}

body.single .post-entry > *:first-child.thumbnail {
    padding: 0 0 25px 0;
}


h1.entry-title.post-title.responsive.single-title-center, h1.entry-title.post-title.page-title-center {
	text-align: center;
}

#content-blog .post .post-entry .entry-title a {
	color: #333333;
}

.post-entry > :last-child,
.post-entry > :first-child {
  margin-bottom: 0;
}
