/**
 * Default styles
 * -----------------------------------------------------------
 */

.editor-block-list__block,
.editor-rich-text {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 14px !important;
	line-height: 1.5;
	color: #555555;
}

.wp-block-paragraph.editor-rich-text__tinymce.mce-content-body,
.editor-rich-text__tinymce.mce-content-body,
.editor-block-list__block,
.editor-block-list__block p {
	font-size: 1em ;
	line-height: 1.43;
    margin: 0 0 .71em;
}

.editor-block-list__block p{
	margin: 1.6em 0 !important;
}

.wp-block-freeform,
.wp-block-freeform.block-library-rich-text__tinymce p{
	font-size: 1em ;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote p{
	font-size: 1.25em;
    margin-left: 1em;
	font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-style: italic;
}

.wp-block-freeform.block-library-rich-text__tinymce a,
a{
	color: #337ab7;
    text-decoration: none;
}

.wp-block-freeform.block-library-rich-text__tinymce a:hover,
.wp-block-freeform.block-library-rich-text__tinymce a:focus,
a:hover,
a:focus{
	color: #005580;
}

address{
    margin-bottom: 1.4em;
    line-height: 1.43;
}

.wp-block-freeform dl dd,
.wp-block-freeform dl dt{
	line-height: 1.3;
}

.edit-post-visual-editor p.wp-block-subhead {
    color: #555;
	opacity: 0.7;
}

/**
 * Heading styles
 * -----------------------------------------------------------
 */
.wp-block-freeform.block-library-rich-text__tinymce h1,
.wp-block-freeform.block-library-rich-text__tinymce h2,
.wp-block-freeform.block-library-rich-text__tinymce h3,
.wp-block-freeform.block-library-rich-text__tinymce h4,
.wp-block-freeform.block-library-rich-text__tinymce h5,
.wp-block-freeform.block-library-rich-text__tinymce h6,
.wp-block-heading h1.editor-rich-text__tinymce,
.wp-block-heading h2.editor-rich-text__tinymce,
.wp-block-heading h3.editor-rich-text__tinymce,
.wp-block-heading h4.editor-rich-text__tinymce,
.wp-block-heading h5.editor-rich-text__tinymce,
.wp-block-heading h6.editor-rich-text__tinymce {
	font-weight: 700;
    line-height: 1.0em;
	color: #555;
}

.wp-block-freeform.block-library-rich-text__tinymce h1,
.wp-block-heading h1.editor-rich-text__tinymce {
	font-size: 2.625em;
    margin-bottom: .5em;
    margin-top: .5em;
}

.wp-block-freeform.block-library-rich-text__tinymce h2,
.wp-block-heading h2.editor-rich-text__tinymce {
	font-size: 2.250em;
    margin-bottom: .75em;
    margin-top: .75em;
}

.wp-block-freeform.block-library-rich-text__tinymce h3,
.wp-block-heading h3.editor-rich-text__tinymce {
	font-size: 1.875em;
	margin-bottom: .857em;
	margin-top: .857em;
}

.wp-block-freeform.block-library-rich-text__tinymce h4,
.wp-block-heading h4.editor-rich-text__tinymce {
	font-size: 1.500em;
	margin-bottom: 1em;
	margin-top: 1em;
}

.wp-block-freeform.block-library-rich-text__tinymce h5,
.wp-block-heading h5.editor-rich-text__tinymce {
	font-size: 1.125em;
    margin-bottom: 1.125em;
    margin-top: 1.125em;
}

.wp-block-freeform.block-library-rich-text__tinymce h6,
.wp-block-heading h6.editor-rich-text__tinymce {
	font-size: 1.000em;
    margin-bottom: 1.285em;
    margin-top: 1.285em;
}

/**
 * HR styles
 * -----------------------------------------------------------
 */
.wp-block-separator,
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	margin: 1.6em 0;
	background: #dddddd;
    border: none;
    clear: both;
    float: none;
    height: 1px;
    max-width: 100%;
}

/**
 * Pre styles
 * -----------------------------------------------------------
 */
.wp-block-freeform.block-library-rich-text__tinymce pre,
.editor-block-list__block-edit pre,
.wp-block-preformatted pre.editor-rich-text__tinymce.mce-content-body,
.wp-block-verse pre.editor-rich-text__tinymce.mce-content-body{
	font-family: monospace, serif;
    font-style: normal;
	box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	background: #f4f4f4;
	border: 1px solid #aaaaaa;
	border-bottom-color: #cccccc;
	border-radius: 2px;
	height: auto;
	outline: none;
	padding: 6px 10px;
	vertical-align: middle;
	width: 100%;
	word-wrap: break-word;
	white-space: pre-wrap;
	color:#555555;
	margin: 1.6em 0;
}


/**
 * Ol ul styles
 * -----------------------------------------------------------
 */
 .wp-block-freeform.block-library-rich-text__tinymce > ul, .editor-block-list__block-edit .wp-block-freeform > ol {
     padding-left: 1em;
 }

.block-editor ul.wp-block-latest-posts{
	padding-left: 2em;
}

.editor-block-list__block ol,
.editor-block-list__block ul{
	line-height: 1.43;
	list-style-position: inside;
}

.editor-block-list__block-edit .wp-block-freeform ol,
.editor-block-list__block-edit .wp-block-freeform ul{
	font-size: 1em;
}

.wp-block-freeform.block-library-rich-text__tinymce li, .wp-block-freeform.block-library-rich-text__tinymce p,
.editor-block-list__block-edit ol li,
.editor-block-list__block-edit ul li,
.editor-block-list__block li{
	line-height: 1.43;
	color: #555;
}
.editor-block-list__block-edit ul li, .editor-block-list__block li{
	margin-bottom: 0.35em;
}

.editor-block-list__block-edit ul li ul li,
ul.editor-rich-text__tinymce.mce-content-body li ul li,
ul.wp-block-categories__list li ul li{
	list-style: disc;
}

.editor-block-list__block-edit ul li ul li ul li,
ul.editor-rich-text__tinymce.mce-content-body li ul li ul li,
ul.wp-block-categories__list li ul li ul li{
	list-style: disc;
}

/**
 * table styles
 * -----------------------------------------------------------
 */
table.mce-item-table,
table.wp-block-table{
	margin: 1.6em 0;
	border-collapse: collapse;
	width: 100%;
	display: table;
	border-spacing: 0;
}

table.mce-item-table,
table.wp-block-table,
table.mce-item-table td,
table.mce-item-table th,
table.wp-block-table td,
table.wp-block-table th {
	max-width: 100%;
	border: 1px solid #dddddd;
}

table.mce-item-table th,
table.wp-block-table th,
table.mce-item-table td,
table.wp-block-table td {
	padding: .8em;
	width: 217px;
    height: 45px;
}

table.wp-block-table td div.wp-block-table__cell-content{
	margin: 0;
	padding: 0;
}

/**
 * button styles
 * -----------------------------------------------------------
 */
.wp-block-button__link.editor-rich-text__tinymce.mce-content-body,
.wp-block-button__link:not(.has-background),
.wp-block-button .wp-block-button__link{
	font-size: 1.29em;
	line-height: 1.33;
	margin: 5px 20px 20px 0;
}

/**
 * blockquote styles
 * -----------------------------------------------------------
 */
.wp-block-freeform.block-library-rich-text__tinymce blockquote,
.wp-block-quote,
.wp-block-quote:not(.is-large):not(.is-style-large) {
	background: #f9f9f9;
	border: none;
	border-left: 4px solid #d6d6d6;
	overflow: auto;
	margin: 1.6em 0;
}

.wp-block-quote p,
.wp-block-quote:not(.is-large):not(.is-style-large) p {
	margin: 1.6em 0 !important;
	font-size: 18px;
	font-style: italic;
	line-height: 26px;
	font-family: 'Georgia', 'Times New Roman', Times, serif;
	color: #555555;
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	font-size: 1.558em;
}

.wp-block-quote__citation.editor-rich-text__tinymce.mce-content-body{
	font-size: 1em;
	font-style: italic;
}

.wp-block-quote.is-large .wp-block-quote__citation.editor-rich-text__tinymce.mce-content-body,
.wp-block-quote.is-style-large .wp-block-quote__citation.editor-rich-text__tinymce.mce-content-body {
	font-size: 1.286em;
}

blockquote .wp-block-quote__citation {
	text-align: left;
	font-size: 1.25em;
	color: #555;
}

blockquote cite{
	display: block;
	text-align: left;
}

/**
 * pullquote styles
 * -----------------------------------------------------------
 */

 .wp-block-pullquote:not(.is-style-solid-color),
.wp-block-pullquote {
	font-weight: 400;
	border: none;
	font-style: italic;
}
.wp-block-pullquote blockquote{
	background: #f9f9f9;
	border: none;
	border-left: 4px solid #d6d6d6;
	overflow: auto;
	margin: 0.8em 0;
	padding: 0 1em;
}

.wp-block-pullquote blockquote>.editor-rich-text p{
	font-family: 'Georgia', 'Times New Roman', Times, serif !important;
}

.wp-block-pullquote blockquote .wp-block-pullquote__citation{
	text-transform: inherit;
    margin-bottom: 0;
    font-style: inherit;
}

.wp-block-pullquote.alignleft blockquote>.editor-rich-text p, .wp-block-pullquote.alignright blockquote>.editor-rich-text p {
	font-size: 20px;
}

/**
 * image styles
 * -----------------------------------------------------------
 */

.editor-block-list__block figure.wp-block-image,
.editor-block-list__block figure.wp-block-embed-vimeo,
.edit-post-visual-editor .editor-block-list__block[data-align=wide],
.edit-post-visual-editor .editor-block-list__block[data-align=full]{
	max-width: 610px;
	margin: 0 auto;
}

figcaption.editor-rich-text__tinymce.mce-content-body {
	font-size: 0.92em;

}
.wp-block-cover-image-text.editor-rich-text__tinymce.mce-content-body{
	font-size: 2em;
}

.wp-caption {
    padding: .99em .2em .64em;
    border: 1px solid #f0f0f0;
    background: #ffffff;
    text-align: center;
	max-width: 100%;
	background-color: #f9f9f9;
}

.wp-caption .wp-caption-dt {
	margin: 0;
}

.wp-caption .wp-caption-dd {
	margin: 0;
    padding: 10px;
    font-size: 12px;
    line-height: 1.1em;
}
.wp-caption .wp-caption-dt img{
	margin: 0;
    padding: 0;
    max-width: 95%;
}

/**
 * dl dt styles
 * -----------------------------------------------------------
 */
 .editor-block-list__block-edit dt {
     margin-top: .32em;
     margin-bottom: .32em;
     margin-left: 1.6em;
     font-weight: bold;
 }

 .editor-block-list__block-edit dt{
	 margin-left: 0;
 }

  .editor-block-list__block-edit dd{
	  margin: 0.4em 0 0.8em 0;
  }


 /**
  * dl dt styles
  * -----------------------------------------------------------
  */
.editor-block-list__block-edit address {
    font-style: normal;
}

.wp-block-freeform.block-library-rich-text__tinymce code{
	padding: 2px 4px;
	background-color: #fff;
	font-size: .86em;
}

.wp-block-freeform.block-library-rich-text__tinymce kbd {
	padding: 2px 4px;
    font-size: 1em;
    background-color: #fff;
    font-style: normal;
    font-family: monospace, serif;
}

/**
 * Read More
 * -----------------------------------------------------------
 */
.gutenberg .wp-block-more input[type=text]{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
    line-height: 1.4;
    color: #337ab7;
    font-weight: normal;
	text-transform: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

.gutenberg .wp-block-more input[type=text]:hover,
.gutenberg .wp-block-more input[type=text]:focus{
	text-decoration: underline;
}

.gutenberg .wp-block-more{
	text-align: left;
}


/**
 * Categories list item style
 */
.editor-block-list__block-edit .wp-block-categories ul.wp-block-categories__list{
	text-align: left;
	padding-left: 1em;
}

.editor-block-list__block-edit .wp-block-archives{
	padding-left: 1em !important;
}

.wp-block-categories .wp-block-categories__list-level-1 {
    padding-left: 3em !important;
}

.wp-block-categories .wp-block-categories__list-level-1 {
    padding-left: 2em !important;
}
