@charset "UTF-8";
/* ------------------------------------------- */
/*	Responsive Editor Styles — Block Editor
/* ------------------------------------------- */
.edit-post-visual-editor.editor-styles-wrapper {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: -0.015em;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.edit-post-visual-editor.editor-styles-wrapper .block-editor-default-block-appender textarea.block-editor-default-block-appender__content {
  color: inherit;
  font-size: inherit;
}

.edit-post-visual-editor.editor-styles-wrapper .block-editor-block-list__empty-block-inserter .block-editor-inserter__toggle:not(:hover):not(:focus),
.edit-post-visual-editor.editor-styles-wrapper .block-editor-default-block-appender .block-editor-inserter .block-editor-inserter__toggle:not(:hover):not(:focus) {
  color: inherit;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block {
  max-width: 610px;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-align="wide"] .wp-block[data-align="wide"],
.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-align="full"] .wp-block[data-align="wide"] {
  max-width: 1200px;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-align="wide"],
.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-align="full"] {
  clear: both;
}

.edit-post-visual-editor.editor-styles-wrapper .alignwide,
.edit-post-visual-editor.editor-styles-wrapper .alignfull {
  clear: both;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block .wp-block[data-type="core/group"]:not([data-align="full"]):not([data-align="wide"]):not([data-align="left"]):not([data-align="right"]),
.edit-post-visual-editor.editor-styles-wrapper .wp-block .wp-block[data-type="core/cover"]:not([data-align="full"]):not([data-align="wide"]):not([data-align="left"]):not([data-align="right"]) {
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block .wp-block[data-align="full"] {
  margin-left: 0;
  margin-right: 0;
}

.edit-post-visual-editor.editor-styles-wrapper *[data-align="right"] .wp-block-edit,
.edit-post-visual-editor.editor-styles-wrapper *[data-align="left"] .wp-block-edit {
  max-width: 50%;
}

.edit-post-visual-editor.editor-styles-wrapper *[data-align="right"] {
  float: left;
}

.edit-post-visual-editor.editor-styles-wrapper *[data-align="left"] {
  margin-right: 0;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-align="wide"] {
  max-width: 1200px;
  clear: both;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-align="full"] {
  max-width: none;
  clear: both;
}

.edit-post-visual-editor.editor-styles-wrapper .editor-rich-text__tinymce,
.edit-post-visual-editor.editor-styles-wrapper .editor-rich-text__tinymce.mce-content-body {
  line-height: 1.75;
}

.edit-post-visual-editor.editor-styles-wrapper .editor-post-title__block .editor-post-title__input,
.edit-post-visual-editor.editor-styles-wrapper .wp-block h1,
.edit-post-visual-editor.editor-styles-wrapper .wp-block h2,
.edit-post-visual-editor.editor-styles-wrapper .wp-block h3,
.edit-post-visual-editor.editor-styles-wrapper .wp-block h4,
.edit-post-visual-editor.editor-styles-wrapper .wp-block h5,
.edit-post-visual-editor.editor-styles-wrapper .wp-block h6,
.edit-post-visual-editor.editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter,
.edit-post-visual-editor.editor-styles-wrapper cite,
.edit-post-visual-editor.editor-styles-wrapper figcaption,
.edit-post-visual-editor.editor-styles-wrapper .wp-caption-text {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.edit-post-visual-editor.editor-styles-wrapper :root .has-primary-color {
  color: #333;
}

.edit-post-visual-editor.editor-styles-wrapper :root .has-primary-background-color {
  background-color: #333;
  color: #fff;
}

.edit-post-visual-editor.editor-styles-wrapper :root .has-secondary-color {
  color: #06c;
}

.edit-post-visual-editor.editor-styles-wrapper :root .has-secondary-background-color {
  background-color: #06c;
  color: #fff;
}

.edit-post-visual-editor.editor-styles-wrapper .editor-block-list__layout a {
  color: #06c;
  text-decoration: underline;
}

.edit-post-visual-editor.editor-styles-wrapper a:focus,
.edit-post-visual-editor.editor-styles-wrapper a:hover {
  text-decoration: none;
}

.edit-post-visual-editor.editor-styles-wrapper .editor-post-title__block .editor-post-title__input,
.edit-post-visual-editor.editor-styles-wrapper .wp-block h1,
.edit-post-visual-editor.editor-styles-wrapper .wp-block h2,
.edit-post-visual-editor.editor-styles-wrapper .wp-block h3,
.edit-post-visual-editor.editor-styles-wrapper .wp-block h4,
.edit-post-visual-editor.editor-styles-wrapper .wp-block h5,
.edit-post-visual-editor.editor-styles-wrapper .wp-block h6 {
  margin: 40px 0 25px;
  font-weight: 700;
  letter-spacing: -0.0415625em;
  line-height: 1.4;
  font-feature-settings: "lnum";
  font-variant-numeric: lining-nums;
}

.edit-post-visual-editor.editor-styles-wrapper .editor-post-title__block .editor-post-title__input,
.edit-post-visual-editor.editor-styles-wrapper .wp-block h1 {
  font-size: 33px;
  font-weight: 700;
  line-height: 1.25;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block h2 {
  font-size: 26px;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block h3 {
  font-size: 20px;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block h4 {
  font-size: 16px;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block h5 {
  font-size: 13px;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block h6 {
  font-size: 13px;
  letter-spacing: 0.03125em;
}

.edit-post-visual-editor.editor-styles-wrapper li,
.edit-post-visual-editor.editor-styles-wrapper p,
.edit-post-visual-editor.editor-styles-wrapper p.wp-block-paragraph {
  line-height: 1.75;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block.editor-post-title__block {
  max-width: 1000px;
}

.edit-post-visual-editor.editor-styles-wrapper .editor-post-title__block .editor-post-title__input {
  margin: 0;
  text-align: center;
}

.edit-post-visual-editor.editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter {
  margin: 0.05em 0 0 0.1em;
  color: #cd2653;
  font-size: 5.1em;
  font-weight: 800;
}

.edit-post-visual-editor.editor-styles-wrapper code,
.edit-post-visual-editor.editor-styles-wrapper kbd,
.edit-post-visual-editor.editor-styles-wrapper pre,
.edit-post-visual-editor.editor-styles-wrapper samp {
  font-family: monospace;
}

.edit-post-visual-editor.editor-styles-wrapper kbd,
.edit-post-visual-editor.editor-styles-wrapper pre,
.edit-post-visual-editor.editor-styles-wrapper samp {
  padding: 4px 6px;
  border-radius: 0;
}

.edit-post-visual-editor.editor-styles-wrapper pre {
  padding: 1em;
  border-radius: 0;
  border-color: #dcd7ca;
  font-style: italic;
  line-height: 1.75;
}

.edit-post-visual-editor.editor-styles-wrapper p.has-large-font-size.editor-rich-text__tinymce,
.edit-post-visual-editor.editor-styles-wrapper p.has-large-font-size.editor-rich-text__tinymce.mce-content-body,
.edit-post-visual-editor.editor-styles-wrapper p.has-larger-font-size.editor-rich-text__tinymce,
.edit-post-visual-editor.editor-styles-wrapper p.has-larger-font-size.editor-rich-text__tinymce.mce-content-body {
  line-height: 1.75;
}

.edit-post-visual-editor.editor-styles-wrapper p.has-small-font-size {
  font-size: 13px;
}

.edit-post-visual-editor.editor-styles-wrapper p.has-normal-font-size,
.edit-post-visual-editor.editor-styles-wrapper p.has-regular-font-size {
  font-size: 16px;
}

.edit-post-visual-editor.editor-styles-wrapper p.has-medium-font-size {
  font-size: 20px;
}

.edit-post-visual-editor.editor-styles-wrapper p.has-large-font-size {
  font-size: 26px;
}

.edit-post-visual-editor.editor-styles-wrapper p.has-larger-font-size {
  font-size: 33px;
}

.edit-post-visual-editor.editor-styles-wrapper figure {
  margin: 0;
}

.edit-post-visual-editor.editor-styles-wrapper .alignleft,
.edit-post-visual-editor.editor-styles-wrapper .alignright {
  max-width: 260px;
  margin-bottom: 1.2em;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-caption .alignleft,
.edit-post-visual-editor.editor-styles-wrapper .wp-caption .alignright {
  margin-bottom: 0;
}

.edit-post-visual-editor.editor-styles-wrapper .alignleft {
  margin-left: 1em;
}

.edit-post-visual-editor.editor-styles-wrapper .alignright {
  margin-right: 1em;
}

.edit-post-visual-editor.editor-styles-wrapper figcaption {
  margin-top: 5px;
  color: #6d6d6d;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
  text-align: inherit;
}

.edit-post-visual-editor.editor-styles-wrapper fieldset {
  padding: 20px;
  border: 2px solid #dcd7ca;
}

.edit-post-visual-editor.editor-styles-wrapper legend {
  padding: 0 10px;
  font-size: 13px;
  font-weight: 700;
}

.edit-post-visual-editor.editor-styles-wrapper label {
  font-size: 15px;
  font-weight: 600;
}

.edit-post-visual-editor.editor-styles-wrapper ul.wp-block-archives,
.edit-post-visual-editor.editor-styles-wrapper ul.wp-block-categories,
.edit-post-visual-editor.editor-styles-wrapper ul.wp-block-latest-posts,
.edit-post-visual-editor.editor-styles-wrapper ul.wp-block-categories__list {
  margin: 40px 0;
  padding-right: 0;
  list-style-position: inside;
}

.edit-post-visual-editor.editor-styles-wrapper ul.wp-block-categories__list ul {
  margin: 0;
}

.edit-post-visual-editor.editor-styles-wrapper ul.wp-block-archives li,
.edit-post-visual-editor.editor-styles-wrapper ul.wp-block-categories li,
.edit-post-visual-editor.editor-styles-wrapper ul.wp-block-latest-posts li,
.edit-post-visual-editor.editor-styles-wrapper ul.wp-block-categories__list li {
  margin: 5px 0 0 0;
  color: #6d6d6d;
  line-height: 1.75;
}

.edit-post-visual-editor.editor-styles-wrapper ul.wp-block-archives li li,
.edit-post-visual-editor.editor-styles-wrapper ul.wp-block-categories li li,
.edit-post-visual-editor.editor-styles-wrapper ul.wp-block-categories__list li li,
.edit-post-visual-editor.editor-styles-wrapper ul.wp-block-latest-posts li li {
  margin-right: 20px;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-archives li > a,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-categories li > a,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-latest-posts li > a {
  font-weight: normal;
  text-decoration: none;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-archives.aligncenter,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-categories.aligncenter {
  text-align: center;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-latest-comments time,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-latest-posts time {
  margin-top: 0.15em;
  color: #6d6d6d;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.476;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-table {
  width: 100%;
  margin-bottom: 1.1em;
  font-size: inherit;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-table tr {
  border: 0;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-table caption {
  background: #dcd7ca;
  text-align: center;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-table th,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-table td {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  overflow: visible;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-table .wp-block-table__cell-content {
  padding: 0.5em;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-table thead {
  text-align: inherit;
  white-space: nowrap;
  vertical-align: bottom;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-table th {
  font-weight: 700;
  text-align: inherit;
  /* Prevents the header from being centered by default*/
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-table th.has-text-align-center {
  text-align: center;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-table th.has-text-align-right {
  text-align: left;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-table th.has-text-align-left {
  text-align: right;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-table.is-style-stripes {
  border: 1px solid #dcd7ca;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  background: #dcd7ca;
}

.edit-post-visual-editor.editor-styles-wrapper hr.wp-block-separator {
  margin: 30px 0;
  border-top: 1px solid #6d6d6d;
  color: #6d6d6d;
}

.edit-post-visual-editor.editor-styles-wrapper hr.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 100px;
}

.edit-post-visual-editor.editor-styles-wrapper hr.wp-block-separator:not(.is-style-dots) {
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-bottom: 2px solid #8f98a1;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
  height: 1px;
}

.edit-post-visual-editor.editor-styles-wrapper hr.wp-block-separator:not(.is-style-dots)::before,
.edit-post-visual-editor.editor-styles-wrapper hr.wp-block-separator:not(.is-style-dots)::after {
  display: block;
  position: absolute;
  top: calc(50% - 8px);
  width: 1px;
  height: 16px;
  transform: rotate(-22.5deg);
  background: currentColor;
  content: none;
}

.edit-post-visual-editor.editor-styles-wrapper hr.wp-block-separator::before {
  right: calc(50% - 5px);
}

.edit-post-visual-editor.editor-styles-wrapper hr.wp-block-separator::after {
  left: calc(50% - 5px);
}

.edit-post-visual-editor.editor-styles-wrapper hr.wp-block-separator.is-style-dots::before {
  padding-right: 1em;
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 1em;
}

.edit-post-visual-editor.editor-styles-wrapper blockquote,
.edit-post-visual-editor.editor-styles-wrapper blockquote p,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-quote {
  padding: 1em;
  background: #f9f9f9;
  font-style: italic;
  line-height: 1.75;
  overflow: auto;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-quote.has-text-align-center,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-quote[style*="text-align:center"],
.edit-post-visual-editor.editor-styles-wrapper .wp-block-quote[style*="text-align: center"] {
  padding: 5px 0;
  border-width: 0;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-quote.has-text-align-right,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-quote[style*="text-align:right"],
.edit-post-visual-editor.editor-styles-wrapper .wp-block-quote[style*="text-align: right"] {
  padding: 5px 0 5px 20px;
  border-width: 0 0 0 2px;
}

.edit-post-visual-editor.editor-styles-wrapper cite,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-quote__citation,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-quote cite,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-quote footer {
  color: #6d6d6d;
  font-size: inherit;
  font-weight: 600;
  line-height: 1.25;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-quote p {
  margin: 0 0 20px 0;
  color: inherit;
  font-weight: 400;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-quote.is-style-large {
  padding: 0;
  border: 0;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-quote.is-style-large p {
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.035714286em;
  line-height: 1.285714286;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-quote.is-style-large .wp-block-quote__citation,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-quote.is-style-large cite,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-quote.is-style-large footer {
  font-size: 16px;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-code {
  color: inherit;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-code,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-preformatted pre,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-verse pre {
  padding: 6px 10px;
  border: 1px solid #aaa;
  border-radius: 2px;
  border-bottom-color: #ccc;
  background: #f4f4f4;
  box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-sizing: border-box;
  -moz-border-radius: 2px;
  -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce pre,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-preformatted pre,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-code .block-editor-plain-text,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-verse pre {
  background: #f4f4f4;
  color: inherit;
  font-family: monospace, serif;
  font-size: 14px;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-cover-image .wp-block-cover__inner-container,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container {
  width: calc(100% - 40px);
  margin: 0 auto;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/cover"][data-align="right"],
.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/cover"][data-align="left"] {
  height: auto;
  max-height: none;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/cover"][data-align="left"] .wp-block-cover {
  text-align: right;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/cover"][data-align="right"] .wp-block-cover {
  text-align: left;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/cover"][data-align="right"] .block-editor-block-list__block-edit,
.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/cover"][data-align="left"] .block-editor-block-list__block-edit {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  float: none;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-cover-image .wp-block-cover-image-text,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-cover-image .wp-block-cover-text,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-cover-image h2,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-cover .wp-block-cover-image-text,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-cover .wp-block-cover-text,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-cover h2 {
  max-width: 100%;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-cover a {
  color: inherit;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type*="core-embed"][data-align="full"] figcaption,
.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/image"][data-align="full"] figcaption,
.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/gallery"][data-align="full"] .blocks-gallery-caption {
  padding: 0 14px;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote {
  position: relative;
  padding: 0;
  color: inherit;
  text-align: center;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block .wp-block-pullquote p {
  margin-bottom: 20px;
  font-family: inherit;
  letter-spacing: -0.041785714em;
  line-height: 1.178571429;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block .wp-block-pullquote p:last-child {
  margin-bottom: 0;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote.alignwide {
  top: 28px;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="right"],
.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="left"] {
  height: auto;
  max-height: none;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="left"] .wp-block-pullquote,
.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="left"] .wp-block-pullquote.is-style-solid-color blockquote {
  text-align: right;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="right"] .wp-block-pullquote,
.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="right"] .wp-block-pullquote.is-style-solid-color blockquote {
  text-align: left;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="right"] .block-editor-block-list__block-edit,
.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="left"] .block-editor-block-list__block-edit {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  float: none;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="right"] .block-editor-block-list__block-edit .wp-block-pullquote::before {
  margin-left: 0;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="left"] .block-editor-block-list__block-edit .wp-block-pullquote::before {
  margin-right: 0;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="right"] .is-style-solid-color::before {
  left: 20px;
  transform: translateY(-50%);
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="left"] .is-style-solid-color::before {
  right: 20px;
  transform: translateY(-50%);
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote__citation,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote cite,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote footer {
  margin-top: 12px;
  color: #6d6d6d;
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color {
  position: relative;
  padding: 30px 20px;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color::before {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateY(-50%) translateX(50%);
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color blockquote {
  max-width: 100%;
  text-align: center;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color .wp-block-pullquote__citation,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color .wp-block-pullquote cite,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color .wp-block-pullquote footer {
  color: inherit;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-button__link,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-file__button {
  display: inline-block;
  margin: 0;
  padding: 12px 24px;
  border: 0;
  border-radius: 28px;
  background-color: #32373c;
  color: inherit;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  cursor: pointer;
  overflow-wrap: break-word;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-button .wp-block-button__link.mce-content-body {
  line-height: 1.1;
}

.edit-post-visual-editor.editor-styles-wrapper .is-style-outline .wp-block-button__link {
  padding: calc(1.1em - 2px) calc(1.44em - 2px);
  border-color: currentColor;
  background: none;
  color: #cd2653;
}

.edit-post-visual-editor.editor-styles-wrapper .is-style-squared .wp-block-button__link {
  border-radius: 0;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-latest-comments {
  margin-right: 0;
  font-family: inherit;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-latest-comments li.wp-block-latest-comments__comment {
  margin-bottom: 20px;
  font-size: inherit;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-latest-comments li.wp-block-latest-comments__comment:last-child {
  margin-bottom: 0;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-latest-comments__comment-meta,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-latest-comments__comment-excerpt {
  margin-right: 0 !important;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-latest-comments__comment-meta {
  font-weight: 700;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-latest-comments__comment-meta a {
  text-decoration: none;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-latest-comments__comment-meta a:focus,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-latest-comments__comment-meta a:hover {
  text-decoration: none;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-latest-comments.has-avatars .wp-block-latest-comments__comment {
  display: flex;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-latest-comments.has-avatars img.avatar {
  flex-shrink: 0;
  margin: 5px 0 0 15px;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-latest-comments__comment-excerpt {
  margin: 0;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-latest-comments__comment-excerpt p {
  margin: 10px 0 0;
  font-family: inherit;
  font-size: 13px;
}

.edit-post-visual-editor.editor-styles-wrapper ul.wp-block-latest-posts:not(.is-grid) li {
  margin-top: 15px;
}

.edit-post-visual-editor.editor-styles-wrapper ul.wp-block-latest-posts.is-grid li {
  margin: 20px 0 16px 16px;
  padding-top: 12px;
  line-height: 1.25;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-latest-posts__post-excerpt {
  margin-top: 15px;
  font-size: 13px;
  line-height: 1.4;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-shortcode textarea {
  color: #191e23;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-embed {
  margin-top: 30px;
  margin-bottom: 30px;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type*="core-embed"][data-align="center"] * {
  margin-left: auto;
  margin-right: auto;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-file {
  padding: 0;
  background: none;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-file__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-file .wp-block-file__textlink {
  color: #cd2653;
  font-weight: 700;
  text-decoration: none;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-file .wp-block-file__textlink:focus,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-file .wp-block-file__textlink:hover {
  text-decoration: underline;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-file .wp-block-file__button {
  padding: 1em 1.25em;
  font-size: 14px;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-image {
  margin-top: 30px;
  margin-bottom: 30px;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-image.is-resized {
  margin-left: auto;
  margin-right: auto;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-group.has-background {
  padding: 20px;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-group .wp-block[data-type="core/heading"]:first-child * {
  margin-top: 0;
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/group"] > .editor-block-list__block-edit > div > .wp-block-group.has-background > .wp-block-group__inner-container > .editor-inner-blocks > .editor-block-list__layout > .wp-block[data-align="full"],
.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/group"][data-align="full"] > .editor-block-list__block-edit > div > .wp-block-group.has-background > .wp-block-group__inner-container > .editor-inner-blocks > .editor-block-list__layout > .wp-block[data-align="full"] {
  width: 100%;
  margin-right: 0;
}

@media (min-width: 480px) {
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-align="right"] {
    margin-left: 0;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-align="left"] {
    margin: 0;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/cover"][data-align="left"] [data-block],
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/cover"][data-align="right"] [data-block] {
    margin-top: 0;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/cover"][data-align="right"] .block-editor-block-list__block-edit {
    max-width: 260px;
    margin-right: 20px;
    float: left;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/cover"][data-align="left"] .block-editor-block-list__block-edit {
    max-width: 260px;
    margin-left: 20px;
    float: right;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/cover"][data-align="right"] .wp-block-pullquote::before {
    margin-left: 0;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/cover"][data-align="left"] .wp-block-pullquote::before {
    margin-right: 0;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="right"],
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="left"] {
    max-width: 260px;
    height: 0;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="left"] [data-block],
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="right"] [data-block] {
    margin-top: 0;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="right"] .block-editor-block-list__block-edit {
    max-width: 260px;
    margin-right: 20px;
    float: left;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="left"] .block-editor-block-list__block-edit {
    max-width: 260px;
    margin-left: 20px;
    float: right;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="right"] .wp-block-pullquote::before {
    margin-left: 0;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="left"] .wp-block-pullquote::before {
    margin-right: 0;
  }
}

@media (min-width: 600px) {
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type*="core-embed"][data-align="full"] figcaption,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/image"][data-align="full"] figcaption,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/gallery"][data-align="full"] .blocks-gallery-caption {
    padding: 0 45px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/column"] h1,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/column"] h2,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/column"] h3,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/column"] h4,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/column"] h5,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/column"] h6 {
    margin: 35px 0 20px 0;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="right"] .block-editor-block-list__block-edit {
    margin-left: -30px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="left"] .block-editor-block-list__block-edit {
    margin-right: -30px;
  }
}

@media (min-width: 700px) {
  .edit-post-visual-editor.editor-styles-wrapper > * {
    font-size: 16px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .editor-post-title__block .editor-post-title__input,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block h1 {
    font-size: 33px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block h2 {
    font-size: 26px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block h3 {
    font-size: 20px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block h4 {
    font-size: 16px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block h5 {
    font-size: 13px;
  }
  .edit-post-visual-editor.editor-styles-wrapper li,
  .edit-post-visual-editor.editor-styles-wrapper p,
  .edit-post-visual-editor.editor-styles-wrapper p.wp-block-paragraph {
    line-height: 1.75;
  }
  .edit-post-visual-editor.editor-styles-wrapper fieldset {
    padding: 30px;
  }
  .edit-post-visual-editor.editor-styles-wrapper legend {
    padding: 0 15px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-button__link,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-file__button {
    font-size: 17px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-preformatted pre,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-code .block-editor-plain-text,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-verse pre {
    font-size: 16px;
    font-style: italic;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-column {
    font-size: 16px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-cover-image .wp-block-cover__inner-container,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container {
    width: calc(100% - 80px);
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block:not([data-align="wide"]):not([data-align="full"]) div:not([class*="__inner-container"]) .wp-block-group.has-background,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block div[class*="__inner-container"] .wp-block[data-align="wide"] .wp-block-group.has-background,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block div[class*="__inner-container"] .wp-block[data-align="full"] .wp-block-group.has-background {
    padding: 40px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-align="wide"] .wp-block-group.has-background,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-align="full"] .wp-block-group.has-background {
    padding: 80px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote__citation,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote cite,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote footer {
    margin-top: 20px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="wide"] .wp-block-pullquote::before,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="full"] .wp-block-pullquote::before {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="wide"] .wp-block-pullquote.is-style-solid-color,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="full"] .wp-block-pullquote.is-style-solid-color {
    padding: 60px 40px 40px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="full"] .wp-block-pullquote:not(.is-style-solid-color) {
    padding-left: 10px;
    padding-right: 10px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="left"] p,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="right"] p {
    line-height: 1.1875;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="left"] .is-style-solid-color p,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="right"] .is-style-solid-color p {
    font-size: 26px;
  }
  .edit-post-visual-editor.editor-styles-wrapper table.wp-block-table {
    font-size: inherit;
  }
  .edit-post-visual-editor.editor-styles-wrapper hr.wp-block-separator {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (min-width: 1000px) {
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-column {
    font-size: inherit;
  }
  .edit-post-visual-editor.editor-styles-wrapper hr.wp-block-separator {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .edit-post-visual-editor.editor-styles-wrapper hr.wp-block-separator.is-style-wide {
    margin-left: -70px;
    margin-right: -70px;
  }
}

@media (min-width: 1220px) {
  .edit-post-visual-editor.editor-styles-wrapper .editor-post-title__block .editor-post-title__input,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block h1 {
    font-size: 33px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block h6 {
    font-size: 13px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="wide"] .wp-block-pullquote.is-style-solid-color,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="full"] .wp-block-pullquote.is-style-solid-color {
    padding: 90px 40px 80px;
  }
  .edit-post-visual-editor.editor-styles-wrapper hr.wp-block-separator.is-style-wide {
    margin-left: -150px;
    margin-right: -150px;
  }
}

@media (min-width: 1360px) {
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-align="left"],
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-align="right"] {
    margin: 0 0 28px 0;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="left"] .is-style-solid-color::before,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="right"] .is-style-solid-color::before {
    top: 0;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="left"],
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/pullquote"][data-align="right"] {
    max-width: 290px;
  }
  .edit-post-visual-editor.editor-styles-wrapper hr.wp-block-separator.is-style-wide {
    margin-left: -200px;
    margin-right: -200px;
  }
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block-categories__post-count {
  color: inherit;
}
