@charset "UTF-8";
/**
 * CSS Reset by Eric Meyer (http://meyerweb.com/eric/tools/css/reset/)
 * v2.0 | 20110126
 * -----------------------------------------------------------------------------
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, .site-title, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small,
.site-description, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Reset box model
 * -----------------------------------------------------------------------------
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * CSS Font Smoothing
 * -----------------------------------------------------------------------------
 */
html {
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

/**
 * Container styles
 * -----------------------------------------------------------------------------
 */
.container, .site-header-full-width-main-navigation:not(.responsive-site-full-width) .main-navigation-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 0) {
  .container, .site-header-full-width-main-navigation:not(.responsive-site-full-width) .main-navigation-wrapper {
    max-width: none;
  }
}
@media (min-width: 576px) {
  .container, .site-header-full-width-main-navigation:not(.responsive-site-full-width) .main-navigation-wrapper {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container, .site-header-full-width-main-navigation:not(.responsive-site-full-width) .main-navigation-wrapper {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container, .site-header-full-width-main-navigation:not(.responsive-site-full-width) .main-navigation-wrapper {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container, .site-header-full-width-main-navigation:not(.responsive-site-full-width) .main-navigation-wrapper {
    max-width: 1140px;
  }
}

/**
 * Row styles
 * -----------------------------------------------------------------------------
 */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

/**
 * Column styles
 * -----------------------------------------------------------------------------
 */
@media (min-width: 0) {
  .col-xs-1 {
    padding-left: 15px;
    padding-right: 15px;
    width: 8.3333333333%;
  }

  .col-xs-2 {
    padding-left: 15px;
    padding-right: 15px;
    width: 16.6666666667%;
  }

  .col-xs-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
  }

  .col-xs-4 {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.3333333333%;
  }

  .col-xs-5 {
    padding-left: 15px;
    padding-right: 15px;
    width: 41.6666666667%;
  }

  .col-xs-6 {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }

  .col-xs-7 {
    padding-left: 15px;
    padding-right: 15px;
    width: 58.3333333333%;
  }

  .col-xs-8 {
    padding-left: 15px;
    padding-right: 15px;
    width: 66.6666666667%;
  }

  .col-xs-9 {
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
  }

  .col-xs-10 {
    padding-left: 15px;
    padding-right: 15px;
    width: 83.3333333333%;
  }

  .col-xs-11 {
    padding-left: 15px;
    padding-right: 15px;
    width: 91.6666666667%;
  }

  .col-xs-12, .widget-area, .content-area, .main-navigation, .site-branding {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    padding-left: 15px;
    padding-right: 15px;
    width: 8.3333333333%;
  }

  .col-sm-2 {
    padding-left: 15px;
    padding-right: 15px;
    width: 16.6666666667%;
  }

  .col-sm-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
  }

  .col-sm-4 {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.3333333333%;
  }

  .col-sm-5 {
    padding-left: 15px;
    padding-right: 15px;
    width: 41.6666666667%;
  }

  .col-sm-6 {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }

  .col-sm-7 {
    padding-left: 15px;
    padding-right: 15px;
    width: 58.3333333333%;
  }

  .col-sm-8 {
    padding-left: 15px;
    padding-right: 15px;
    width: 66.6666666667%;
  }

  .col-sm-9 {
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
  }

  .col-sm-10 {
    padding-left: 15px;
    padding-right: 15px;
    width: 83.3333333333%;
  }

  .col-sm-11 {
    padding-left: 15px;
    padding-right: 15px;
    width: 91.6666666667%;
  }

  .col-sm-12 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    padding-left: 15px;
    padding-right: 15px;
    width: 8.3333333333%;
  }

  .col-md-2 {
    padding-left: 15px;
    padding-right: 15px;
    width: 16.6666666667%;
  }

  .col-md-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
  }

  .col-md-4 {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.3333333333%;
  }

  .col-md-5 {
    padding-left: 15px;
    padding-right: 15px;
    width: 41.6666666667%;
  }

  .col-md-6 {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }

  .col-md-7 {
    padding-left: 15px;
    padding-right: 15px;
    width: 58.3333333333%;
  }

  .col-md-8 {
    padding-left: 15px;
    padding-right: 15px;
    width: 66.6666666667%;
  }

  .col-md-9 {
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
  }

  .col-md-10 {
    padding-left: 15px;
    padding-right: 15px;
    width: 83.3333333333%;
  }

  .col-md-11 {
    padding-left: 15px;
    padding-right: 15px;
    width: 91.6666666667%;
  }

  .col-md-12 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    padding-left: 15px;
    padding-right: 15px;
    width: 8.3333333333%;
  }

  .col-lg-2 {
    padding-left: 15px;
    padding-right: 15px;
    width: 16.6666666667%;
  }

  .col-lg-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
  }

  .col-lg-4, .widget-area {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.3333333333%;
  }

  .col-lg-5 {
    padding-left: 15px;
    padding-right: 15px;
    width: 41.6666666667%;
  }

  .col-lg-6 {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }

  .col-lg-7 {
    padding-left: 15px;
    padding-right: 15px;
    width: 58.3333333333%;
  }

  .col-lg-8, .content-area {
    padding-left: 15px;
    padding-right: 15px;
    width: 66.6666666667%;
  }

  .col-lg-9 {
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
  }

  .col-lg-10 {
    padding-left: 15px;
    padding-right: 15px;
    width: 83.3333333333%;
  }

  .col-lg-11 {
    padding-left: 15px;
    padding-right: 15px;
    width: 91.6666666667%;
  }

  .col-lg-12 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    padding-left: 15px;
    padding-right: 15px;
    width: 8.3333333333%;
  }

  .col-xl-2 {
    padding-left: 15px;
    padding-right: 15px;
    width: 16.6666666667%;
  }

  .col-xl-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
  }

  .col-xl-4 {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.3333333333%;
  }

  .col-xl-5 {
    padding-left: 15px;
    padding-right: 15px;
    width: 41.6666666667%;
  }

  .col-xl-6 {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }

  .col-xl-7 {
    padding-left: 15px;
    padding-right: 15px;
    width: 58.3333333333%;
  }

  .col-xl-8 {
    padding-left: 15px;
    padding-right: 15px;
    width: 66.6666666667%;
  }

  .col-xl-9 {
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
  }

  .col-xl-10 {
    padding-left: 15px;
    padding-right: 15px;
    width: 83.3333333333%;
  }

  .col-xl-11 {
    padding-left: 15px;
    padding-right: 15px;
    width: 91.6666666667%;
  }

  .col-xl-12 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
}
/**
 * Hide/show styles
 * -----------------------------------------------------------------------------
 */
@media (min-width: 0) {
  .hide-xs, .main-navigation .menu {
    display: none;
  }
}

@media (min-width: 0) {
  .show-xs, .main-navigation .menu-toggle {
    display: block;
  }
}

@media (min-width: 576px) {
  .hide-sm {
    display: none;
  }
}

@media (min-width: 576px) {
  .show-sm {
    display: block;
  }
}

@media (min-width: 768px) {
  .hide-md {
    display: none;
  }
}

@media (min-width: 768px) {
  .show-md {
    display: block;
  }
}

@media (min-width: 992px) {
  .hide-lg, .main-navigation .menu-toggle {
    display: none;
  }
}

@media (min-width: 992px) {
  .show-lg, .main-navigation .menu {
    display: block;
  }
}

@media (min-width: 1200px) {
  .hide-xl {
    display: none;
  }
}

@media (min-width: 1200px) {
  .show-xl {
    display: block;
  }
}

/**
 * Base styles
 * -----------------------------------------------------------------------------
 */
body,
button,
input,
select,
textarea {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.75;
  background-color: #ffffff;
}

/**
 * Block elements styles
 * -----------------------------------------------------------------------------
 */
address,
blockquote,
dl,
figure,
hr,
h1, h2, h3, .site-title, h4, h5, h6,
ol,
p,
pre,
table,
ul {
  margin-bottom: 28px;
  margin-top: 28px;
}
address:first-child,
blockquote:first-child,
dl:first-child,
figure:first-child,
hr:first-child,
h1:first-child, h2:first-child, h3:first-child, .site-title:first-child, h4:first-child, h5:first-child, h6:first-child,
ol:first-child,
p:first-child,
pre:first-child,
table:first-child,
ul:first-child {
  margin-top: 0;
}
address:last-child,
blockquote:last-child,
dl:last-child,
figure:last-child,
hr:last-child,
h1:last-child, h2:last-child, h3:last-child, .site-title:last-child, h4:last-child, h5:last-child, h6:last-child,
ol:last-child,
p:last-child,
pre:last-child,
table:last-child,
ul:last-child {
  margin-bottom: 0;
}

address,
blockquote,
pre {
  background-color: #eaeaea;
  padding: 28px;
}

pre {
  font-family: monospace;
  overflow: hidden;
}

dl dt {
  font-weight: bold;
}
dl dd {
  margin-left: 28px;
}

figure {
  height: auto;
  max-width: 100%;
}
figure img {
  display: block;
  margin: 0 auto;
}
figure figcaption {
  font-size: 13px;
  font-style: italic;
  padding: 7px;
  text-align: center;
}

hr {
  border: none;
  border-bottom: 4px solid #eaeaea;
}

h1 {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 33px;
  font-weight: bold;
  line-height: 1.25;
}

h2 {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.25;
}

h3, .site-title {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.25;
}

h4 {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
}

h5,
h6 {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.25;
}

ol,
ul {
  list-style: decimal;
  margin-left: 28px;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  list-style: disc;
}

table {
  border-collapse: collapse;
  border: 1px solid #eaeaea;
  width: 100%;
}
table td,
table th {
  border: 1px solid #eaeaea;
  padding: 7px;
}
table th {
  font-weight: bold;
}

/**
 * Inline elements styles
 * -----------------------------------------------------------------------------
 */
a {
  color: #10659c;
  text-decoration: none;
}
a:focus, a:hover {
  color: #999999;
}

abbr[title],
acronym[title] {
  text-decoration-style: dotted;
  cursor: help;
}

big {
  font-size: 20px;
}

cite {
  font-weight: bold;
}
blockquote cite {
  display: block;
  margin-top: 28px;
}

code,
kbd,
tt,
var {
  background-color: #eaeaea;
  font-family: monospace;
  padding: 3.5px;
}

del,
s,
strike {
  text-decoration: line-through;
}

em {
  font-style: italic;
}

img {
  height: auto;
  max-width: 100%;
}

ins,
u {
  text-decoration: underline;
}

q {
  font-style: italic;
}
q:before {
  content: "“";
}
q:after {
  content: "”";
}

small, .site-description {
  font-size: 13px;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 13px;
  position: relative;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
 * Input styles
 * -----------------------------------------------------------------------------
 */
button,
input,
select,
textarea {
  display: inline-block;
  padding: 2.5px 1em;
  width: 100%;
}

button,
input[type=button],
input[type=submit] {
  background-color: #0066cc;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 28px;
  text-transform: uppercase;
  width: auto;
}
button:focus, button:hover,
input[type=button]:focus,
input[type=button]:hover,
input[type=submit]:focus,
input[type=submit]:hover {
  background-color: #10659c;
}

/**
 * Site header styles
 * -----------------------------------------------------------------------------
 */
.site-header {
  border-bottom: 1px solid #eaeaea;
}
.site-header .container, .site-header .site-header-full-width-main-navigation:not(.responsive-site-full-width) .main-navigation-wrapper, .site-header-full-width-main-navigation:not(.responsive-site-full-width) .site-header .main-navigation-wrapper {
  position: relative;
}
.site-header .row {
  align-items: center;
}
@media (min-width: 992px) {
  .site-header .row {
    justify-content: space-between;
  }
}
.site-header a {
  color: #333333;
  text-decoration: none;
}
.site-header a:focus, .site-header a:hover {
  color: #10659c;
}

@media (min-width: 992px) {
  .site-branding {
    width: auto;
  }
}
.site-branding-wrapper {
  padding-bottom: 28px;
  padding-top: 28px;
}

.site-title,
.site-description {
  line-height: 28px;
  margin-bottom: 0;
  margin-top: 0;
}

.site-description {
  line-height: 28px;
}

.main-navigation:after, .main-navigation:before {
  content: "";
  display: table;
}
.main-navigation:after {
  clear: both;
}
@media (min-width: 992px) {
  .main-navigation {
    width: auto;
  }
}
.main-navigation ul {
  list-style: none;
}
.main-navigation li {
  position: relative;
}
.main-navigation a {
  display: block;
  padding: 5px 0;
}
.main-navigation .menu-toggle {
  background-color: transparent;
  border: none;
  color: #333333;
  font-size: 20px;
  line-height: 56px;
  height: 56px;
  padding: 0;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 28px;
  width: 56px;
}
.main-navigation .menu-toggle-cancel {
  display: none;
}
.main-navigation .menu {
  margin: 0;
}
.main-navigation .menu:after, .main-navigation .menu:before {
  content: "";
  display: table;
}
.main-navigation .menu:after {
  clear: both;
}
.main-navigation .menu li.focus > .children, .main-navigation .menu li.focus > .sub-menu, .main-navigation .menu li:hover > .children, .main-navigation .menu li:hover > .sub-menu {
  left: -15px;
}
.main-navigation .menu > li {
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}
@media (min-width: 992px) {
  .main-navigation .menu > li {
    border-bottom: none;
    float: left;
    margin-left: 30px;
  }
}
@media (min-width: 992px) {
  .main-navigation .menu > li.menu-item-has-children > a:after, .main-navigation .menu > li.page_item_has_children > a:after {
    content: "";
    font-family: Fontawesome;
    margin-left: 5px;
  }
}
@media (min-width: 992px) {
  .main-navigation .children,
.main-navigation .sub-menu {
    background-color: #ffffff;
    box-shadow: 0 5px 10px #eaeaea;
    left: -9999em;
    margin-left: 0;
    top: 100%;
    position: absolute;
    width: 240px;
    z-index: 9999;
  }
}
.main-navigation .children > li,
.main-navigation .sub-menu > li {
  border-top: 1px solid rgba(170, 170, 170, 0.2);
}
@media (min-width: 992px) {
  .main-navigation .children > li.focus > .children, .main-navigation .children > li.focus > .sub-menu, .main-navigation .children > li:hover > .children, .main-navigation .children > li:hover > .sub-menu,
.main-navigation .sub-menu > li.focus > .children,
.main-navigation .sub-menu > li.focus > .sub-menu,
.main-navigation .sub-menu > li:hover > .children,
.main-navigation .sub-menu > li:hover > .sub-menu {
    left: 100%;
    top: 0;
  }
}
@media (min-width: 992px) {
  .main-navigation .children > li:first-child,
.main-navigation .sub-menu > li:first-child {
    border-top: none;
  }
}
@media (min-width: 992px) {
  .main-navigation .children > li.menu-item-has-children > a:after, .main-navigation .children > li.page_item_has_children > a:after,
.main-navigation .sub-menu > li.menu-item-has-children > a:after,
.main-navigation .sub-menu > li.page_item_has_children > a:after {
    content: "";
    float: right;
    font-family: Fontawesome;
    margin-left: 5px;
  }
}
@media (min-width: 992px) {
  .main-navigation .children a,
.main-navigation .sub-menu a {
    padding: 5px 15px;
  }
}
.main-navigation.toggled .menu {
  display: block;
}

.site-header-layout-horizontal.site-header-main-navigation-site-branding .main-navigation .menu-toggle {
  bottom: 28px;
  top: auto;
}
@media (min-width: 992px) {
  .site-header-layout-horizontal.site-header-main-navigation-site-branding .main-navigation .menu > li {
    margin-left: 0;
    margin-right: 30px;
  }
}

@media (min-width: 992px) {
  .site-header-layout-vertical .site-header .row {
    flex-direction: column;
  }
}
.site-header-layout-vertical .site-branding,
.site-header-layout-vertical .main-navigation {
  width: 100%;
}
.site-header-layout-vertical .main-navigation .menu-toggle {
  bottom: auto;
  position: relative;
  right: auto;
  text-align: left;
  top: auto;
  width: 100%;
}
@media (min-width: 992px) {
  .site-header-layout-vertical .main-navigation .menu > li {
    margin-left: 0;
    margin-right: 30px;
  }
}
.site-header-layout-vertical.site-header-site-branding-main-navigation .main-navigation {
  border-top: 1px solid #eaeaea;
}
.site-header-layout-vertical.site-header-main-navigation-site-branding .main-navigation {
  border-bottom: 1px solid #eaeaea;
  border-top: 0;
}
.site-header-layout-vertical.site-header-alignment-center .site-branding {
  text-align: center;
}
.site-header-layout-vertical.site-header-alignment-center .main-navigation .menu-toggle {
  text-align: center;
}
@media (min-width: 992px) {
  .site-header-layout-vertical.site-header-alignment-center .main-navigation .menu {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
}
@media (min-width: 992px) {
  .site-header-layout-vertical.site-header-alignment-center .main-navigation .menu > li {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.site-header-layout-vertical.site-header-alignment-right .site-branding {
  text-align: right;
}
.site-header-layout-vertical.site-header-alignment-right .main-navigation .menu-toggle {
  text-align: right;
}
@media (min-width: 992px) {
  .site-header-layout-vertical.site-header-alignment-right .main-navigation .menu {
    display: table;
    margin-right: 0;
    margin-left: auto;
  }
}
@media (min-width: 992px) {
  .site-header-layout-vertical.site-header-alignment-right .main-navigation .menu > li {
    margin-left: 15px;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .site-header-layout-vertical.site-header-full-width-main-navigation .main-navigation {
    margin-left: calc( 50% - 50vw );
    margin-right: calc( 50% - 50vw );
    max-width: 100vw;
    width: 100vw;
  }
}

.sidebar-menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9998;
}

/**
 * Content Area styles
 * -----------------------------------------------------------------------------
 */
.site-content {
  padding: 28px 0;
}

.site-content-header {
  margin-bottom: 28px;
  margin-top: 28px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-bottom: -28px;
  padding: 28px;
  text-align: left;
}
.site-content-header:first-child {
  margin-top: 0;
}
.site-content-header:last-child {
  margin-bottom: 0;
}
.site-content-header .page-header,
.site-content-header .breadcrumbs {
  margin-bottom: 28px;
  margin-top: 28px;
}
.site-content-header .page-header:first-child,
.site-content-header .breadcrumbs:first-child {
  margin-top: 0;
}
.site-content-header .page-header:last-child,
.site-content-header .breadcrumbs:last-child {
  margin-bottom: 0;
}
.site-content-header .page-header .page-title {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 33px;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 7px;
  color: #333333;
}
.site-content-header .page-header .page-description {
  font-size: 16px;
  color: #999999;
}
.site-content-header .breadcrumb-list {
  font-size: 13px;
  color: #1e73be;
}
.site-content-header-alignment-left .site-content-header {
  text-align: left;
}
.site-content-header-alignment-center .site-content-header {
  text-align: center;
}
.site-content-header-alignment-right .site-content-header {
  text-align: right;
}

/**
 * Hentry Area styles
 * -----------------------------------------------------------------------------
 */
.hentry {
  margin-bottom: 28px;
  margin-top: 28px;
}
.hentry:first-child {
  margin-top: 0;
}
.hentry:last-child {
  margin-bottom: 0;
}
.responsive-site-style-content-boxed .hentry, .responsive-site-style-boxed .hentry {
  padding: 28px;
}
.hentry .entry-title {
  margin-bottom: 14px;
  margin-top: 14px;
}
.blog.blog-entry-title-alignment-center .hentry .entry-title {
  text-align: center;
}
.blog.blog-entry-title-alignment-right .hentry .entry-title {
  text-align: right;
}
.hentry .thumbnail {
  margin-bottom: 14px;
  margin-top: 14px;
}
.hentry .thumbnail .thumbnail-caption {
  font-size: 13px;
}
.hentry .post-data,
.hentry .post-edit-link,
.hentry .post-meta {
  margin-bottom: 14px;
  margin-top: 14px;
  color: #999999;
  font-size: 13px;
}
.blog.blog-entry-meta-alignment-right .hentry .post-data,
.blog.blog-entry-meta-alignment-right .hentry .post-edit-link,
.blog.blog-entry-meta-alignment-right .hentry .post-meta {
  text-align: right;
}
.blog.blog-entry-meta-alignment-center .hentry .post-data,
.blog.blog-entry-meta-alignment-center .hentry .post-edit-link,
.blog.blog-entry-meta-alignment-center .hentry .post-meta {
  text-align: center;
}
.hentry .post-data a,
.hentry .post-edit-link a,
.hentry .post-meta a {
  color: #999999;
}
.hentry .post-data a:focus, .hentry .post-data a:hover,
.hentry .post-edit-link a:focus,
.hentry .post-edit-link a:hover,
.hentry .post-meta a:focus,
.hentry .post-meta a:hover {
  color: #0066cc;
}
.hentry .post-data > span::after,
.hentry .post-edit-link > span::after,
.hentry .post-meta > span::after {
  content: "-";
  margin: 0 6px;
}
.hentry .post-data > span:last-child::after,
.hentry .post-edit-link > span:last-child::after,
.hentry .post-meta > span:last-child::after {
  content: "";
}
.hentry .post-data > span .fa-calendar,
.hentry .post-edit-link > span .fa-calendar,
.hentry .post-meta > span .fa-calendar {
  margin-right: 0.25em;
}
.hentry .post-data > span .avatar,
.hentry .post-edit-link > span .avatar,
.hentry .post-meta > span .avatar {
  border-radius: 50%;
  margin-bottom: -9.3333333333px;
  margin-right: 5.6px;
}
.hentry .read-more {
  margin-bottom: 28px;
}
.read-more-button .hentry .read-more a {
  padding: 9.3333333333px 1em;
  background-color: #0066cc;
  color: #ffffff;
}
.read-more-button .hentry .read-more a:focus, .read-more-button .hentry .read-more a:hover {
  background-color: #10659c;
}
.hentry .post-entry > :first-child {
  margin-top: 0;
}
.hentry .post-entry > :last-child {
  margin-bottom: 0;
}
.blog-entry-content-alignment-center .hentry .post-entry > p {
  text-align: center;
}
.blog-entry-content-alignment-right .hentry .post-entry > p {
  text-align: right;
}

/**
 * Aside widget-area Area styles
 * -----------------------------------------------------------------------------
 */
.widget-wrapper {
  margin-bottom: 28px;
  margin-top: 28px;
}
.widget-wrapper:first-child {
  margin-top: 0;
}
.widget-wrapper:last-child {
  margin-bottom: 0;
}
.responsive-site-style-boxed .widget-wrapper {
  padding: 28px;
}
#secondary.widget-area .widget-wrapper {
  font-size: 13px;
}
#secondary.widget-area .widget-wrapper.widget_search .submit {
  display: none;
}
#secondary.widget-area .widget-wrapper .widget-title {
  display: block;
  line-height: 1;
  letter-spacing: 1px;
  margin: 0 0 18.6666666667px;
  text-transform: uppercase;
}
#secondary.widget-area .widget-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#secondary.widget-area .widget-wrapper ul li {
  border-top: 1px dotted #eaeaea;
  padding: 7px 0;
}
#secondary.widget-area .widget-wrapper ul li:last-child {
  border-bottom: 1px dotted #eaeaea;
}
#secondary.widget-area .widget-wrapper .custom-html-widget ul li {
  border: none;
  margin: 0;
  padding: 0;
}

/**
 * Common Site styles
 * -----------------------------------------------------------------------------
 */
.responsive-site-full-width .container, .responsive-site-full-width .site-header-full-width-main-navigation:not(.responsive-site-full-width) .main-navigation-wrapper, .site-header-full-width-main-navigation:not(.responsive-site-full-width) .responsive-site-full-width .main-navigation-wrapper {
  max-width: none;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*# sourceMappingURL=style.css.map */
