body.full-width-layout .content-outer, body.default-layout .content-outer,body.full-width-no-box .content-outer {
	margin: 0 auto;
	max-width: 960px;
}
body.full-width-no-box #wrapper {margin-bottom: 0px;}
.main-nav {
	background-color: #585858;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#3d3d3d));
	background-image: -webkit-linear-gradient(top, #585858, #3d3d3d);
	background-image: -moz-linear-gradient(top, #585858, #3d3d3d);
	background-image: -ms-linear-gradient(top, #585858, #3d3d3d);
	background-image: -o-linear-gradient(top, #585858, #3d3d3d);
	background-image: linear-gradient(to top, #585858, #3d3d3d);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#585858, endColorstr=#3d3d3d)";
}
#menu-header, .menu {
	margin: 0 auto;
}

body.full-width-no-box #wrapper {margin-bottom: 0px;}
body.full-width-layout div#container, body.full-width-layout div#footer, body.full-width-no-box div#container, body.full-width-no-box div#footer {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

.full-width-no-box .skip-container { padding: 0px;}
.full-width-no-box #header {background-color: #585858;	}
.full-width-no-box .top-menu {margin: 0; padding-top: 4px;}
.full-width-no-box .main-nav  {
	background-color: #585858;
	background-image: none;
}
.full-width-no-box .top-menu li a {
	color: #edeaea;
}
.full-width-no-box .top-menu li a:hover {
color:#f2efef;
}
.full-width-layout #testimonial_div, .full-width-layout #team_div,.full-width-layout #about_div,.full-width-layout #feature_div {padding-bottom:0px; }
.full-width-no-box .menu a:hover {
	background-color: #585858;background-image: none;
	color: #f4f2f2;
}
.full-width-no-box .menu li li a:hover {
	color: #444444;
}
.full-width-no-box ul.menu > li:hover {
	color: #ffffff;
}
.full-width-no-box .menu .current_page_item a,
.full-width-no-box .menu .current-menu-item a {
	background-color: #585858;
}
.full-width-no-box .menu {background-color: #585858;background-image: none;}
.full-width-no-box #featured {border: none;}
.full-width-no-box #feature_div {border: none;}
.full-width-no-box #team_div {border: none;}
.full-width-no-box #testimonial_div  {
	background-color:#585858;
	border-radius: 0;
	color: #fff;
}
.full-width-no-box #about_div .section_title::after {border-bottom: solid 2px #fff;}
.full-width-no-box #testimonial_div .section_title::after {border-bottom: solid 2px #fff;}
.full-width-no-box #about_div  {
	background-color:#585858;
	padding-bottom: 20px;
	border-radius: 0;
	color: #fff;
}
#about_div .about-content h2 {
	position: relative;
}
#about_div .about-content { display: inline-block; vertical-align: middle;display:grid;}
#about_div .about_cta{
	display: inline-block;
	vertical-align: middle;
	margin-top: 69px;
	text-align: center;
}
#about_div .about_cta a {
	font-size: 20px;
	padding: 15px 15px;
}
.full-width-layout #about_div {border: none; background-color: inherit;}
.full-width-layout #testimonial_div {border: none;background-color:inherit;}
.full-width-no-box #testimonial_div {border: none;}
.full-width-layout #about_div .content-outer { border: 1px solid #e5e5e5;-moz-border-radius: 4px;background-color: #ffffff;-webkit-border-radius: 4px;display: table;width: 100%;border-radius:4px;}
.full-width-layout #testimonial_div .content-outer {border: 1px solid #e5e5e5;-moz-border-radius: 4px;background-color: #ffffff;-webkit-border-radius: 4px;border-radius:4px;display:table;width: 100%;}
.full-width-layout .about-content {padding-bottom: 40px;}
.full-width-no-box .site-name a {color: #ffffff;}
.post-meta .fa-calendar {
	padding-right: 6px;
}
.post-meta {
	.posted-in,
	.comments-link,
	.meta-prep-author,
	.vcard {
		&:after{
			content: '|';
			margin: 0 6px;
		}
		display: inline;
	}

	& > :last-child {
		&:after {
			content: none;
		}
	}
}
.post-meta .byline {
	padding-left: 0px;
}
.breadcrumb {
    padding-right: 4px;
    padding-left: 0px;
}
.breadcrumb-current{
	padding-left: 4px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
#primary .responsive { position: relative;}
.default-layout .sticky-header .main-nav {
	background-image: none;
}
.full-width-no-box #wrapper {
	padding: 0;
	border: none;
}

/* Blog layout
============================================================ */

.blog_main_div {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	.section-blog-2-col,
	.section-blog-3-col,
	.section-blog-4-col {
		width: 46%;
		float: none;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
		margin: 1%;
	    background-color: #ffffff;
	}
	@media screen and (min-width: 769px){
		.section-blog-3-col {
			width: 31.33%;
			float: none;
			box-sizing: border-box;
			display: inline-block;
			vertical-align: top;
			margin: 1%
		}
		.section-blog-4-col {
			width: 23%;
			float: none;
			box-sizing: border-box;
			display: inline-block;
			vertical-align: top;
			margin: 1%
		}
	}
}

@for $i from 2 through 4 {
 	#primary.blog-#{$i}-col .blog_main_div.masonry {
		display: block;
		columns: $i;
		column-gap: 0;
		.section-blog-#{$i}-col {
			width: 100% - $i * 2;
			float: left;
			margin: $i * 1%;
			page-break-inside: avoid; /* Firefox */
			-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
            break-inside: avoid;
		}
	}
}
@media screen and (max-width: 768px){
	#primary.blog-3-col .blog_main_div.masonry,
	#primary.blog-4-col .blog_main_div.masonry {
		display: block;
		columns: 2;
		column-gap: 0;
		.section-blog-3-col,
		.section-blog-4-col {
			width: 96%;
			float: left;
			margin: 2%;
			page-break-inside: avoid; /* Firefox */
			-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
            break-inside: avoid;
		}
	}
}
#primary.col-620, #primary.col-620 {
	overflow: hidden;
}

body.page.page-content-boxed .widget-wrapper ,body.archive.blog-content-boxed .widget-wrapper, body.blog.blog-content-boxed .widget-wrapper, body.single.single-content-boxed .widget-wrapper, body.archive.blog-fullwidth-content .widget-wrapper, body.blog.blog-fullwidth-content .widget-wrapper, body.single.single-fullwidth-content .widget-wrapper, body.blog.blog-fullwidth-stretched .widget-wrapper, body.archive.blog-fullwidth-stretched .widget-wrapper, body.single.single-fullwidth-stretched .widget-wrapper, body.page.page-fullwidth-content .widget-wrapper, body.page.page-fullwidth-stretched .widget-wrapper{
	background-color: transparent;
}

.boxed #primary, .boxed #primary, .boxed .widget-wrapper, .content-boxed #primary, .content-boxed #primary, body.fullwidth-content, body.fullwidth-stretched, body.archive.blog-fullwidth-content, body.blog.blog-fullwidth-content, body.single.single-fullwidth-content, body.archive.blog-fullwidth-stretched, body.blog.blog-fullwidth-stretched, body.single.single-fullwidth-stretched, body.archive.blog-content-boxed #primary, body.blog.blog-content-boxed #primary, body.single.single-content-boxed #primary, body.archive.blog-boxed .widget-wrapper, body.blog.blog-boxed .widget-wrapper, body.single.single-boxed .widget-wrapper, body.page.page-fullwidth-stretched, body.page.page-fullwidth-content,body.page.page-boxed #primary,body.page.page-boxed #primary,body.page.page-boxed .widget-wrapper, body.page.page-content-boxed #primary, body.page.page-content-boxed #primary , body.page-template-full-width-page.boxed #content-full{
	background-color: #ffffff;
}
body.single.single-boxed #primary,body.page.page-content-boxed,body.page.page-boxed, body.single.single-boxed, body.archive.blog-boxed, body.blog.blog-boxed, body.single.single-content-boxed, body.archive.blog-content-boxed, body.blog.blog-content-boxed {
	background-color: #f1f1f1;
	#primary {
		background-color: #ffffff;
		margin-bottom: 0;
	}
}

body.fullwidth-stretched .content-outer, body.archive.blog-fullwidth-stretched .content-outer, body.blog.blog-fullwidth-stretched .content-outer, body.single.single-fullwidth-stretched .content-outer,body.page.page-fullwidth-stretched .content-outer{
	max-width: none;
	width: 100%;
}
body.fullwidth-stretched #primary, body.archive.blog-fullwidth-stretched #primary, body.blog.blog-fullwidth-stretched #primary, body.single.single-fullwidth-stretched #primary,body.page.page-fullwidth-stretched #primary{
	padding: 0;
	padding-left: 20px;
	margin-bottom: 0;
}

.post-entry h1,
.post-entry h2,
.post-entry h3,
.post-entry h4,
.post-entry h5,
.post-entry h6 {
	margin-bottom: 20px;
}


body.fullwidth-stretched #content-full, body.archive.blog-fullwidth-stretched #content-full, body.blog.blog-fullwidth-stretched #content-full, body.single.single-fullwidth-stretched #content-full,body.page.page-fullwidth-stretched #content-full{
	padding: 20px 0;
}

body.fullwidth-stretched {
	#wrapper {
		.content-outer {
			padding: 0;
		}
	}
}

.page-template-full-width-page{
	#wrapper, #content-full{
		margin-top: 0;
		margin-bottom: 0;
	}
	#content-full{
		padding: 0 20px;
		background-color: #ffffff;

	}
}

