/* =Forms
-------------------------------------------------------------- */
label {
	display: inline-block;
	font-weight: 700;
	padding: 2px 0;
}

legend {
	padding: 2px 5px;
}

fieldset {
	border: 1px solid #cccccc;
	margin: 0 0 1.5em;
	padding: 1em 2em;
}

select,
input[type="text"],
input[type="password"],
input[type="email"] {
	border-radius: 2px;
	cursor: text;
	margin: 0;
	outline: none;
	padding: 6px 8px;
	vertical-align: middle;
	max-width: 100%;
}

select {
	height: auto;
	max-width: 100%;
}

area,
textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
	box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	border: 1px solid #aaaaaa;
	border-bottom-color: #cccccc;
	border-radius: 2px;
	height: auto;
	overflow: auto;
	margin: 0;
	outline: none;
	padding: 8px 10px;
	max-width: 100%;
}

map area {
	padding: 0px;
	border: 0px;
}

input,
select {
	cursor: pointer;
}

area:focus,
input:focus,
textarea:focus {
	border: 1px solid #66ccff;
}

input[type='text'],
input[type='password'] {
	cursor: text;
}

/* =IE Forms
-------------------------------------------------------------- */
.ie7 area,
.ie7 select,
.ie7 textarea,
.ie7 input[type="text"],
.ie7 input[type="password"],
.ie7 input[type="email"] {
	width: 96%;
}

/* =IE6 Notice
-------------------------------------------------------------- */
.msie-box {
	background-color: #f9edbe;
	border: 1px solid #f0c36d;
	color: #212121;
	display: block;
	margin: 0 auto;
	max-width: 960px;
	padding: 10px;
	position: absolute;
	top: 60px;
	text-align: center;
	width: 100%;
}

.msie-box a {
	color: #212121;
}
@import "buttons";

@import "fields";
