a {
	color: $color__link;
	overflow-wrap: break-word;
	// &:visited {
	// 	color: $color__link-visited;
	// }
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
	&.url{
		overflow-wrap: break-word;
	}
}
