/*----------  Site Basic Structure  ----------*/

$width-site-main: 					100%;
$width-site-content: 				960px;
$width-site-primary: 				75%;
$width-site-secondary: 				25%;
$space-between-primary-seconday: 	30px;
$left-right-content-padding:	 	100px;
$top-left-content-padding:	 		80px;



/*----------  z-index Structure   ----------*/

// $zindex-navbar:            1000 !default;
// $zindex-dropdown:          1000 !default;
// $zindex-popover:           1060 !default;
// $zindex-tooltip:           1070 !default;
// $zindex-navbar-fixed:      1030 !default;
// $zindex-navbar-sticky:     1030 !default;
// $zindex-modal-bg:          1040 !default;
// $zindex-modal:             1050 !default;
