// Typography

/*----------  Font Size  ----------*/
$font-size-root:     		14px !default; // Applied to <html> element only
$font-size-base:     		1 !default;
$font-size-h1:       		2.625em !default;
$font-size-h2:       		2.250em !default;
$font-size-h3:       		1.875em !default;
$font-size-h4:       		1.500em !default;
$font-size-h5:       		1.125em !default;
$font-size-h6:       		1.000em !default;

/*----------  Line Height  ----------*/

$line-height:				1.0em !default;
