
/* Lifter LMS */

@media (max-width: 768px) {
	.llms-loop .llms-loop-list.cols-1 .llms-loop-item {
	  width: 100%;
	}
	.llms-loop .llms-loop-list.cols-2 .llms-loop-item {
	  width: 50%;
	}
	.llms-loop .llms-loop-list.cols-3 .llms-loop-item {
	  width: 33.33333%;
	}
	.llms-loop .llms-loop-list.cols-4 .llms-loop-item {
	  width: 25%;
	}
	.llms-loop .llms-loop-list.cols-5 .llms-loop-item {
	  width: 20%;
	}
	.llms-loop .llms-loop-list.cols-6 .llms-loop-item {
	  width: 16.66667%;
	}
  }

  @media (max-width: 544px) {
	.llms-loop .llms-loop-list.cols-1 .llms-loop-item {
	  width: 100%;
	}
	.llms-loop .llms-loop-list.cols-2 .llms-loop-item {
	  width: 50%;
	}
	.llms-loop .llms-loop-list.cols-3 .llms-loop-item {
	  width: 33.33333%;
	}
	.llms-loop .llms-loop-list.cols-4 .llms-loop-item {
	  width: 25%;
	}
	.llms-loop .llms-loop-list.cols-5 .llms-loop-item {
	  width: 20%;
	}
	.llms-loop .llms-loop-list.cols-6 .llms-loop-item {
	  width: 16.66667%;
	}
  }

.llms-loop .llms-loop-list .llms-loop-item {
	margin: 0;
}

/* Width layout */

.responsive-site-llms-full-width #content-wrap {
	max-width: none !important;
}

.responsive-site-llms-contained #content-wrap {
	max-width: 1140px !important;
}

@media screen and (max-width: 600px) {
	.llms-loop .llms-loop-list {
		display: flex;
    	flex-direction: column;
    	flex-wrap: wrap;
    	width: 250vw;
		margin: 0 auto;
	}
}

/* Style layout */

/*boxed*/

.responsive-site-style-llms-boxed .site-content .hentry {
	background-color: #ffffff !important;
	border-radius: 0px;
}

.responsive-site-style-llms-boxed .site-content article.product {
	padding: 30px !important;
}

.responsive-site-style-llms-boxed .site-content {
	padding: 28px 0 !important;
}

/*content boxed*/

/* .responsive-site-style-llms-content-boxed {
	background-color: orange !important;
} */

.responsive-site-style-llms-content-boxed .site-content .hentry {
	background-color: #ffffff !important;
	border-radius: 0px;
}

.responsive-site-style-llms-content-boxed .site-content article.product {
	padding: 30px !important;
}

.responsive-site-style-llms-content-boxed .site-content {
	padding: 25px 0 !important;
}



/*flat*/


/* .responsive-site-style-llms-flat {
	background-color: transparent!important;
	padding: 0 !important;
} */

.responsive-site-style-llms-flat .site-content .hentry {
	background-color: transparent!important;
	padding: 0 !important;
}

.responsive-site-style-llms-flat #secondary {
	background-color: transparent!important;
	padding: 0 !important;
}
