html {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
/*HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background-color: #f1f1f1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button, input, select, textarea {
	font-size: 100%;
	overflow: visible;
	margin: 0;
	vertical-align: baseline;
	width: auto;
}

textarea {
	overflow: auto;
	vertical-align: text-top;
}
/* =Horizontal Rule
-------------------------------------------------------------- */
hr {
	background: #dddddd;
	border: none;
	clear: both;
	float: none;
	height: 1px;
	width: 100%;
}

hr.space {
	background: #ffffff;
}

/* =Base
-------------------------------------------------------------- */
html {
	height: 100%;
}

body {
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	color: #555555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	-ms-filter: "progid:DXImageTransform.Microsoft.font-smoothing(antialiased)";
	line-height: 1.5em;
	-ms-filter: "progid:DXImageTransform.Microsoft.text-rendering(optimizeLegibility)";
}
*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
	text-decoration: none;
}

// body {
// 	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
// }

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";
/* =Responsive Images
-------------------------------------------------------------- */
img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

.ie8 img {
	height: auto;
	width: auto;
}

.ie8 img.size-large {
	max-width: 60%;
	width: auto;
}

/* =Responsive Videos
-------------------------------------------------------------- */
video {
	width: 100%;
	max-width: 100%;
	height: auto;
}

/* =Responsive Embeds/Objects
-------------------------------------------------------------- */
embed,
object {
	max-width: 100%;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}
#gallery img {
	border: none;
}
@import "tables";

.wc-block-grid__product-onsale{
	line-height: 3;
	top: 0;
	right: 0;
	left: auto;
	margin: -.5em -.5em 0 0;
	min-height: 3.236em;
	min-width: 3.236em;
	font-weight: 700;
	position: absolute;
	text-align: center;
	font-size: .857em;
	z-index: 9;
	text-transform: capitalize;
	border-radius: 999px;
	padding: 0 2px;
}

li.wc-block-grid__product {
	margin: 0 3.8% 2.992em 0;
	padding: 0;

	.wc-block-grid__product-title {
		padding: .5em 0;
		margin: 0;
		margin-right: 15px;
	}

	.wc-block-grid__product-price {
		padding: 0;
		margin-right: 15px;
		margin-bottom: .5em;
	}

	.wc-block-grid__product-add-to-cart {
		margin-top: 1em;
		padding: 0;
		margin-right: 15px;
	}

	.add_to_cart_button {
		font-size: 100%;
		margin: 0;
		line-height: 1;
		cursor: pointer;
		position: relative;
		overflow: visible;
		padding: .618em 1em;
		font-weight: 700;
		left: auto;
		border: 0;
		display: inline-block;
		background-image: none;
		box-shadow: none;
		text-shadow: none;
	}
}

@media ( max-width: 768px ) {
	ul.wc-block-grid__products li.wc-block-grid__product {
		width: 48%;
		float: left;
		clear: both;
		margin: 0 0 2.992em;
		padding: 0 5px;
	}
	.wc-block-grid.has-3-columns .wc-block-grid__product{flex:1 0 50%;max-width:50%}
}
@media ( min-width: 768px ) {
	ul.wc-block-grid__products li.wc-block-grid__product {
		width: 25%;
		float: left;
		clear: both;
		margin: 0 0 2.992em;
		padding: 0 10px;
	}
	.wc-block-grid.has-3-columns .wc-block-grid__product{flex:1 0 25%;max-width:25%}
}