// ul, ol {
// 	margin: 0 0 1.5em 3em;
// }
//
// ul {
// 	list-style: disc;
// }
//
// ol {
// 	list-style: decimal;
// }
//
// li > ul,
// li > ol {
// 	margin-bottom: 0;
// 	margin-left: 1.5em;
// }
//
// dt {
// 	font-weight: bold;
// }
//
// dd {
// 	margin: 0 1.5em 1.5em;
// }
/* =Responsive 12 Column Grid
    http://demos.cyberchimps.com/responsivepro/responsive-grid/
-------------------------------------------------------------- */
.grid {
	float: left;
	margin-bottom: 2.127659574468%;
	padding-top: 0;
}

.grid-right {
	float: right;
	margin-bottom: 2.127659574468%;
	padding-top: 0;
}

.col-60,
.col-140,
.col-220,
.col-300,
.col-380,
.col-460,
.col-540,
.col-620,
.col-700,
.col-780,
.col-860 {
	margin-right: 2.127659574468%;
}

.col-60 {
	width: 6.382978723404%;
}

.col-140 {
	width: 14.893617021277%;
}

.col-220 {
	width: 23.404255319149%;
}

.col-300 {
	width: 31.914893617021%;
}

.col-380 {
	width: 40.425531914894%;
}

.col-460 {
	width: 48.936170212766%;
}

.col-540 {
	width: 57.446808510638%;
}

.col-620 {
	width: 65.957446808511%;
}

.col-700 {
	width: 74.468085106383%;
}

.col-780 {
	width: 82.978723404255%;
}

.col-860 {
	width: 91.489361702128%;
}

.col-940 {
	width: 100%;
}

.fit {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
/* =Lists
-------------------------------------------------------------- */
ul {
	list-style-type: disc;
	margin: 0;
	padding: 0;
}

ol {
	line-height: 22px;
	list-style-position: outside;
	list-style-type: decimal;
	margin: 0;
	padding: 0;
}

dt {
	font-weight: 400;
}
