/* =Tables
-------------------------------------------------------------- */
th,
td,
table {
	border: 1px solid #dddddd;
	border-collapse: collapse !important;
}

table {
	border-collapse: collapse;
	width: 100%;
}
