/* =Blockquote
-------------------------------------------------------------- */
blockquote {
	background: #f9f9f9;
	border: none;
	border-left: 4px solid #d6d6d6;
	margin: 20px;
	overflow: auto;
	padding: 0 0 10px 12px;
}

blockquote p {
	font-family: 'Georgia', 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 18px;
	line-height: 26px;
}




/* =Globals
-------------------------------------------------------------- */
.content-outer {
	margin: 0 auto;
	max-width: 960px;
}

#wrapper {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	clear: both;

	position: relative;
	&, body.home #wrapper {
        margin: 20px auto 0 auto;
    }
}

.front-page #wrapper {
	background-color: transparent;
	border: none;
	padding: 0;
}

#header {
	margin: 0;
}

#footer {
	clear: both;
	margin: 0 auto;
	padding: 0;
}

#footer-wrapper {
	margin: 0;
	padding: 0;
}





/* =Templates (Landing Page)
-------------------------------------------------------------- */
.page-template-landing-page-php .menu,
.page-template-landing-page-php .top-menu,
.page-template-landing-page-php .main-nav,
.page-template-landing-page-php .footer-menu,
.page-template-landing-page-php .sub-header-menu {
	display: none;
}

/* =Author Meta (Author's Box)
-------------------------------------------------------------- */
#author-meta {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #f9f9f9;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
	clear: both;
	display: block;
	margin: 30px 0 40px 0;
	padding: 10px;
	overflow: hidden;
}

#author-meta img {
	float: left;
	padding: 10px 15px 0 5px;
}

#author-meta p {
	margin: 0;
	padding: 5px;
}

#author-meta .about-author {
	font-weight: 700;
	margin: 10px 0 0 0;
}

/* =Featured Content
-------------------------------------------------------------- */
#featured {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin-top:20px;
	padding-bottom: 40px;
	width: 99.893617021277%;
}

#featured p {
	font-size: 18px;
	font-weight: 200;
	line-height: 27px;
	padding: 0 40px 0 40px;
	text-align: center;
}

#featured-image {
	margin: 40px 0 0 0;
}

#featured-image .fluid-width-video-wrapper {
	margin-left: -20px;
}

.featured-image img {
	margin-top: 44px;
}



/* =bbPress
    bbPress has its own breadcrumb lists
-------------------------------------------------------------- */
.bbPress .breadcrumb-list {
	display: none;
}

/* =Symbols
-------------------------------------------------------------- */
.ellipsis {
	color: #aaaaaa;
	font-size: 18px;
	margin-left: 5px;
}

.form-allowed-tags {
	display: none;
	font-size: 10px;
}


/* =Titles
-------------------------------------------------------------- */
.featured-title {
	font-size: 60px;
	letter-spacing: -1px;
	margin: 0;
	padding-top: 40px;
	text-align: center;
}

.featured-subtitle {
	padding: 0 10px;
	text-align: center;
}

.widget-title h3,
.widget-title-home h3 {
	display: block;
	font-size: 24px;
	font-weight: 700;
	line-height: 23px;
	margin: 0;
	padding: 0 0 20px 0;
	text-align: left;
}

.header-widgets .widget-title h3 {
	font-size: 14px;
	padding: 0;
}

.widget-title a {
	border-bottom: none;
	padding: 0 !important;
}

.title-404 {
	color: #993333;
}










/* =Pagination (pages)
-------------------------------------------------------------- */
.pagination {
	clear: both;
	display: block;
	font-size: 16px;
	font-weight: 700;
	margin: 10px 0;
}

.pagination a {
	text-decoration: none;
}

/* =Breadcrumb Lists
-------------------------------------------------------------- */
.breadcrumb-list {
	font-size: 12px;
}







/* =Post Thumbnails
-------------------------------------------------------------- */
img.wp-post-image,
img.attachment-full,
img.attachment-large,
img.attachment-medium,
img.attachment-thumbnail {
	display: block;
	margin: 0 auto;
	width: auto;

	body.single.single-post &,
	body.blog & {
		margin: 0;
	}
}

.thumbnail > :first-child {
	margin-top: 0;
}

.post-entry > :first-child {
	margin-top: 0;
}


/* =Info Boxes
-------------------------------------------------------------- */
.info-box {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: block;
	margin: 20px 0;
	padding: 15px;
	text-align: left;
}

.alert {
	background-color: #faebeb;
	border: 1px solid #dc7070;
	color: #212121;
}

.address {
	background-color: #f6f5ef;
	border: 1px solid #cdc9a5;
	color: #212121;
}

.notice {
	background-color: #fbf9e9;
	border: 1px solid #e3cf57;
	color: #212121;
}

.success {
	background-color: #f9fde8;
	border: 1px solid #a2bc13;
	color: #212121;
}

.download {
	background-color: #fff4e5;
	border: 1px solid #ff9912;
	color: #212121;
}

.information {
	background-color: #eef3f6;
	border: 1px solid #6ca6cd;
	color: #212121;
}

.required {
	color: #d5243f;
}

/* =WooCommerce
-------------------------------------------------------------- */
#breadcrumb {
	padding: 40px 0 0 0;
}

#breadcrumb a {
	color: #0066cc;
	font-size: 12px;
	font-weight: 400;
}

#breadcrumb a:hover {
	color: #444444;
	text-decoration: none;
}

#content-woocommerce {
	margin-top: 40px;
	margin-bottom: 20px;
}

.products ul, ul.products {
	margin-top: 40px;
}

.cart-collaterals .shipping_calculator {
	width: 100%;
}

table.shop_table {
	table-layout: fixed;
	-ms-word-break: break-all;
	word-break: break-all;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

@media screen and (max-width:767px) {
	table.shop_table {
		font-size: 10px;
	}
}

@media screen and (max-width:400px) {
	table.shop_table {
		font-size: 10px;
	}
}

table.cart td.actions .coupon .input-text,
table.cart td.actions .coupon .input-text {
	cursor: text;
}

/* =WPML
-------------------------------------------------------------- */
.icl_languages_selector {
	float: right;
	text-align: left
}

.rtl .icl_languages_selector {
	float: left;
	text-align: right
}

@media screen and (max-width: 650px) {
	.icl_languages_selector,
	.rtl .icl_languages_selector {
		float: none;
	}
}

/* =Polylang
-------------------------------------------------------------- */
.widget_polylang li {
	display: inline;
	list-style-type: none;
}



/* =Alignments Extras
-------------------------------------------------------------- */
.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

/* =Clearfix
-------------------------------------------------------------- */
.clearfix:after,
.clearfix:before,
#container:after,
#container:before,
.widget-wrapper:after,
.widget-wrapper:before {
	content: ' ';
	display: table;
}

.clearfix:after,
#container:after,
.widget-wrapper:after {
	clear: both;
}

.ie7 .clearfix,
.ie7 #container,
.ie7 .widget-wrapper {
	-ms-filter: "progid:DXImageTransform.Microsoft.zoom(1)";
}

.clear {
	clear: both;
}

/* =Begin bidirectionality settings (do not change)
-------------------------------------------------------------- */
BDO[DIR="ltr"] {
	direction: ltr;
	unicode-bidi: bidi-override;
}

BDO[DIR="rtl"] {
	direction: rtl;
	unicode-bidi: bidi-override;
}

[DIR="ltr"] {
	direction: ltr;
	unicode-bidi: embed;
}

[DIR="rtl"] {
	direction: rtl;
	unicode-bidi: embed;
}

/* =Media Print
    If you're working on a Child Theme, make sure that all
	media queries are included in your style.css
-------------------------------------------------------------- */
@media print {

	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
	}

	ul, ol, dl {
		page-break-before: avoid;
	}
}

.author-gravtar img{
border-radius: 50%;
margin: 1%;
}

.section_title {
    text-align: center;
    text-transform: uppercase;
    padding-left:40px;
    padding-right:40px;
    margin-top: 17px;
    margin-bottom: 0;
    font-size: 2.250em;
    font-weight: 700;
}

.testimonial_main_div .testimonial_img,.team_main_div .team_img,.feature_main_div .feature_img{
	text-align: center;
	margin-top: 40px;
}
.feature_main_div .feature_img img {  width: 130px;  height: 130px;border: 6px solid #ccc; }
.testimonial_main_div .testimonial_img img,.team_main_div .team_img img {
  width: 178px;
  height: 178px;
  border: 4px solid #fff;
  padding: 4px;
}
.testimonial_main_div .testimonial_img img ,.team_main_div .team_img img,.feature_main_div .feature_img img{
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
    max-height: 12em;
}
.testimonial_main_text {
    font-size: 18px;
    margin-top: 46px;
	line-height: 27px;
	background: url(../../images/testimonial_icon.png) no-repeat 4px 0px;
    padding-right: 40px;
}
.full-width-no-box .testimonial_main_text {
    font-size: 18px;
    margin-top: 46px;
	line-height: 27px;
	background: url(../../images/testimonial_icon-other.png) no-repeat 4px 0px;
    padding-right: 40px;
}
#testimonial_div, #team_div, #about_div, #feature_div
{
	-moz-border-radius: 4px;
-webkit-border-radius: 4px;
background-color: #ffffff;
border: 1px solid #e5e5e5;
border-radius: 4px;
padding-bottom: 40px;
width: 99.893617021277%;
}
#about_div .about_text {
	font-size: 18px;
	padding: 0 10px 0 59px;
font-weight: 200;
line-height: 27px;
}
//#about_div {text-align: center;}
#about_div .section_title:after{
	margin-left: 60px;
	border-bottom: solid 2px #555555;
	width: 60px;
	text-align: center;
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	margin: 50px auto auto 60px;
}
#about_div .section_title {text-align: left;padding-left: 60px;}
.about-content a {
	font-size: 20px;
	padding: 15px 15px;
}
#testimonial_div .section_title:after, #team_div .section_title:after,#feature_div .section_title:after{
	border-bottom: solid 2px #555555;
	width: 60px;
	text-align: center;
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	margin: 50px auto auto auto;
}
.testimonial_author {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 4px;
    margin: 10px  0 0 29px;
}
.testimonial_text {
    margin: 0 0 0 29px;
    font-style: normal;
    font-size: inherit;
    margin-bottom: 1em;
    padding-top: 22px;
}
.team_main_div,.feature_main_div {
	text-align: center;
}
.team_main_div .team_member,.feature_main_div .feature_title {
	font-size: 18px;
	font-weight: bold;
	display:block;
	text-align: center;
	margin-top: 10px;
}
.team_main_div .team_designation{
	text-align: center;
	font-size: 1.1em;
	margin-top: 10px;
	font-style: italic;
	display:block;
}
.team_main_div .social {
	text-align: center;
	margin-top: 10px;
}
.team_main_div .social a{
	display:inline-block;
	width:31px;
	height:31px;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	font-size:1em;
	line-height:31x;
	outline:0;
	color:#fff;
	background-color:#222;
	box-sizing: border-box;
	padding-top: 4px;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-o-transition:all .3s;
	transition:all .3s;
	border: 1px solid #222222;
}
.team_main_div .social a:hover {background-color:#fff;color: #222;border-color: #222222;border: 1px solid;}

/*#scroll-to-top {
	background: #484848;
	padding: 5px 9px;
	animation-play-state: paused;
	margin-bottom: 1%;
	color:#fff;
	width:20px;
	height:26px;
	font-size:24px;
	text-align:center;
	cursor: pointer;
	border-radius: 50%;
	position: fixed;
	right: 35px;
	bottom: 50px;
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
}*/
.page-template-blog-3-col .post-data {
	margin-top:0px;
}
.section-blog {
width: 33%;
float: none;
box-sizing: border-box;
display: inline-block;
vertical-align: top;
padding: 0 12px;
}
.woocommerce-cart-form input[type="submit"]:hover ,.woocommerce a.button.alt:hover{border:none;}
.blogtitle { margin-top:0;text-align: center; padding-left: 20px;}

.section-team,.section-feature {
	width: 33%;
	float: none;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}
.team_desc,.feature_desc {
    text-align: center;
    padding: 0 10px 10px;
    margin-top: 14px;
	font-size: 18px;
	font-weight: 200;
	line-height: 27px;
}
.contact_div .fa{
	font-size: 2em;
	width: 20px;
	height: 20px;
	line-height: 20px;
}
.contact_div .fa-envelope
{
	font-size: 1.7em;
}
.contact_right p {margin:10px 0px 10px 16%;}
.contact_left span {font-size: 1.1em;
padding-left: 12px;
padding-bottom: 39px;
display: inline-block;
}
.contact_div {
	font-size: 14px;
	box-sizing: border-box;
	padding: 20px;
	-moz-border-radius: 4px;
-webkit-border-radius: 4px;
background-color: #ffffff;
border: 1px solid #e5e5e5;
border-radius: 4px;
margin-bottom: 0px;
background: url('../../core/images/default-contact.jpg');
background-size:cover;
color: #ffffff;
}
.contact_subtitle {text-align: center;margin: 17px 0 17px 0;font-size: 18px}
.contact_title {
	text-align: center;
	line-height: 1em;
	text-transform: uppercase;
padding-left: 40px;
padding-right: 40px;
margin-top: 17px;
margin-bottom: 0;
font-size: 2.250em;
font-weight: 700;
}
.contact_right label {font-weight: normal;}
.contact_right .wpcf7{
	width: 100%;
}
.contact_right textarea {
height: 70px;
padding: 12px 42px 0px 0px;
color: #f2f2f2;
background-color: transparent;
border-radius: 0;
width: 100%;
box-shadow: none;
border-width: 0;
border-bottom-color: #cec9c4;
border-bottom-width: 3px;
}
.contact_right .wpcf7-submit {
	background-color: #1874cd; /* Dodger Blue */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4f9eea), to(#1874cd));
	background-image: -webkit-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -moz-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -ms-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -o-linear-gradient(top, #4f9eea, #1874cd);
	background-image: linear-gradient(to top, #4f9eea, #1874cd);
	border: 1px solid #115290;
	color: #ffffff;
	line-height: 20px;
	padding: 10px 22px;
	box-shadow:none;
	font-weight:normal;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4f9eea, endColorstr=#1874cd)";
	text-shadow: 0 -1px 0 #115290;
	border-radius: 2px;
	display: inline-block;
	font-weight: 700;
	margin: 0;
	vertical-align: middle;
	white-space: nowrap;
}
.contact_right .wpcf7-submit:hover {
background-color: #7db7f0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7db7f0), to(#1874cd));
	background-image: -webkit-linear-gradient(top, #7db7f0, #1874cd);
	background-image: -moz-linear-gradient(top, #7db7f0, #1874cd);
	background-image: -ms-linear-gradient(top, #7db7f0, #1874cd);
	background-image: -o-linear-gradient(top, #7db7f0, #1874cd);
	background-image: linear-gradient(to top, #7db7f0, #1874cd);
	border: 1px solid #115290;
	color: #ffffff;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7db7f0, endColorstr=#1874cd)";
	border-radius: 2px;
	display: inline-block;
	font-weight: 700;
	margin: 0;
	vertical-align: middle;
	white-space: nowrap;
}
.contact_right form { margin-bottom: 0;}
.contact_left {margin-top: 20px; }
.contact_right select, .contact_right input[type="text"], .contact_right input[type="password"], .contact_right input[type="email"] {
	width: 100%;
	color: #f2f2f2;
	padding: 12px 2px 2px 0px;
	background-color: transparent;
border-radius: 0;
box-shadow: none;
border-width: 0;
border-bottom-width: 3px;
border-bottom-color: #cec9c4;
	}
.sub-menu .menu-item-has-children::after {
	position: absolute;
    font-family: FontAwesome;
    content: "\f105";
    top: 6px;
    right: 7px;
    color: #585858;
}
.menu-item-has-children::after {
    position: absolute;
    font-family: FontAwesome;
    content: "\f107";
    top: 10px;
    right: 0px;
    color: #ffffff;
    font-size: 15px;
}
.menu-item-has-children {
	position: relative;
}
#footer .social-icons img:hover{opacity: 0.8;}




 img.custom-logo{
 	margin:20px 0;
 }
 .site-name a {
 	word-break: break-word;
 }
 div#calendar-2 {
     display: inline-block;
 }
 label[for=payment_method_stripe] {
 	display: inline;
 }
 .elementor-template-full-width {
	.content-outer,
	div#wrapper {
	 	padding: 0;
	 	border: none;
	}
}
.wc_payment_methods * {
	box-sizing: border-box;
}
#scroll {
	content: "";
}
@media (min-width: 769px) {
	#scroll {
	    content: "769";
	}
}
.woocommerce-product-search button,
input[type='submit']#searchsubmit {
	width: 23%;
	padding: .55em;
	border: none;
	font-weight: 600;
}
