// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Default layouts of responsive
--------------------------------------------------------------*/
 @import "../layout/layout";

 /*--------------------------------------------------------------
 ## header
 --------------------------------------------------------------*/
 @import "primary/header";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Extra
--------------------------------------------------------------*/
@import "extra";

/*--------------------------------------------------------------
## Gutenberg
--------------------------------------------------------------*/
@import "../compatibility/gutenberg";

/*--------------------------------------------------------------
## WooCommerce
--------------------------------------------------------------*/
@import "../compatibility/woocommerce";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "primary/footer";
