/**
 * Responsive Icon List  widget styles
 */
.responsive-icon-list-widget-image-field {
	background-color: #f1f1f1;
	border: 1px dashed #b4b9be;
	padding: 9px;
	text-align: center;
}

.responsive-icon-list-widget-image-field img {
	display: block;
	margin: 0 auto;
}

.wp-core-ui select.icon-selector {
	text-transform: capitalize;
    font-size: 40px;
    text-align: center;
}
