.customize-control-responsive-selectbtn,
.responsive-selectbtn-control-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.customize-control-responsive-selectbtn__button{
    flex-grow: 1;
    padding: 8px 10px;
    color: #666;
    background-color: #fff;
    border: 1px solid #d2d2d2;
}

.customize-control-responsive-selectbtn__button.active{
    color: white;
    background-color: rgb(30, 115, 190);
    border-top-color: rgb(30, 115, 190);
    border-bottom-color: rgb(30, 115, 190);
}
.customize-control-responsive-selectbtn__button.active svg path{
    stroke: #FFF;
}
.responsive-selectbtn-text{
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}
.customize-control-responsive-selectbtn__button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.customize-control-responsive-selectbtn__button:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.responsive-selectbtn-icon {
    font-size: 20px;
}
#customize-control-responsive_header_woo_cart_click_action label {
    margin-top: 22px;
}
#customize-control-responsive_header_search_icon .customize-control-responsive-selectbtn__button.active svg path{
    fill: #FFF;
}