#customize-control-responsive_footer_bottom,
#customize-control-responsive_footer_widgets,
#customize-control-responsive_has_header_border_bottom,
#customize-control-responsive_medium_header_hidden_menu,
#customize-control-responsive_medium_header_stick_menu,
#customize-control-responsive_menu_arrow_side,
#customize-control-responsive_menu_dropdown_top_border,
#customize-control-responsive_menu_social,
#customize-control-responsive_mobile_menu_close_btn,
#customize-control-responsive_scroll_top,
#customize-control-responsive_top_bar,
#customize-control-responsive_top_bar_full_width,
#customize-control-responsive_top_bar_social,
#customize-control-responsive_vertical_header_closed,
#customize-control-responsive_vertical_header_shadow,
#customize-control-responsive_woo_add_mobile_mini_cart,
#customize-control-responsive_woo_menu_icon_hide_if_empty,
#customize-control-responsive_woo_multi_step_checkout,
#customize-control-responsive_woo_product_ajax_add_to_cart,
#customize-control-responsive_woo_shop_result_count,
#customize-control-osh_has_full_width_header,
#customize-control-osh_has_sticky_mobile,
#customize-control-osh_no_shadow,
#customize-control-osh_sticky_choose .customize-control-title,
#customize-control-osp_side_panel_displace,
#customize-control-osp_side_panel_overlay,
#customize-control-responsive_header_title_colors_separator,
#customize-control-responsive_header_tagline_colors_separator,
#customize-control-responsive_main_menu_separator {
	margin-top: 0
}

.accordion-section-content::-webkit-scrollbar,
.wp-full-overlay-sidebar-content::-webkit-scrollbar {
	width: 5px!important
}

.accordion-section-content::-webkit-scrollbar-track,
.wp-full-overlay-sidebar-content::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .3)!important;
	width: 20px!important
}

.accordion-section-content::-webkit-scrollbar-thumb,
.wp-full-overlay-sidebar-content::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0!important;
	border-radius: 0!important;
	background-color: #d8d8d8!important
}

.accordion-section-content::-webkit-scrollbar-thumb:window-inactive,
.wp-full-overlay-sidebar-content::-webkit-thumb:window-inactive {
	background-color: #fff!important
}

.clr:after {
	content: '';
	display: block;
	visibility: hidden;
	clear: both;
	zoom: 1;
	height: 0
}

.customize-control {
	margin-bottom: 0
}

.customize-control-title, #customize-control-res_front_page .customize-inside-control-row {
	margin-top: 15px
}

.customize-control-select select {
	min-width: 100%
}

.customize-control .thumbnail-image img {
	width: auto
}

.responsive-social-widget-services-list {
	padding-top: 10px
}

.responsive-social-widget-services-list li {
	background-color: #fafafa;
	padding: 10px;
	border: 1px solid #e5e5e5;
	margin-bottom: 10px
}

.responsive-social-widget-services-list li p {
	margin: 0
}

.responsive-social-widget-services-list li label {
	margin-bottom: 3px;
	display: block;
	color: #222
}

.responsive-social-widget-services-list li label span.fa {
	margin-right: 10px
}

.wp-picker-container input[type=text].wp-color-picker {
	height: auto;
	padding: 3px 5px
}

input[type=number] {
	height: 33px
}

input[type=checkbox],
input[type=checkbox]:focus,
input[type=color],
input[type=color]:focus,
input[type=date],
input[type=date]:focus,
input[type=datetime-local],
input[type=datetime-local]:focus,
input[type=datetime],
input[type=datetime]:focus,
input[type=email],
input[type=email]:focus,
input[type=month],
input[type=month]:focus,
input[type=number],
input[type=number]:focus,
input[type=password],
input[type=password]:focus,
input[type=radio],
input[type=radio]:focus,
input[type=search],
input[type=search]:focus,
input[type=tel],
input[type=tel]:focus,
input[type=text],
input[type=text]:focus,
input[type=time],
input[type=time]:focus,
input[type=url],
input[type=url]:focus,
input[type=week],
input[type=week]:focus,
select,
select:focus,
textarea,
textarea:focus {
	-webkit-box-shadow: none;
	box-shadow: none
}

input,
select {
	margin: 0;
	padding: 5px 10px
}

.customize-control select {
	height: 33px;
	line-height: 1.5
}

.customize-control-checkbox label {
	padding: 0;
	margin: 0
}

.customize-control-responsive-multi-check input[type=checkbox] {
	position: relative;
	margin: 0 5px 4px 0;
	border-color: #c8c8c8;
	width: 18px;
	height: 18px;
	cursor: pointer;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none!important;
	box-shadow: none!important
}

.select2-container {
	z-index: 999999
}

.customize-control.has-switchers .customize-control-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	line-height: 1;
	margin-top: 20px;
	margin-bottom: 10px
}

.customize-control.has-switchers .customize-control-title span {
	line-height: 20px
}

.customize-control .responsive-switchers {
	margin-left: 5px;
	width: auto
}

.customize-control .responsive-switchers li:not(.desktop) {
	display: none
}

.customize-control.responsive-switchers-open .responsive-switchers li {
	display: block
}

.customize-control .responsive-switchers li {
	float: left;
	margin: 0
}

.customize-control .responsive-switchers li button {
	display: inline-block;
	height: 20px;
	width: 20px;
	background-color: #a4afb7;
	position: relative;
	margin-left: 5px;
	color: #fff;
	font-size: 10px;
	text-align: center;
	border-radius: 50%;
	padding: 0;
	border: 0;
	outline: 0;
	-webkit-transition: background-color .5s;
	transition: background-color .5s;
	cursor: pointer
}

.customize-control .responsive-switchers li button:hover {
	background-color: #c2cbd2
}

.customize-control .responsive-switchers li:not(.desktop) button.active {
	background-color: #13aff0
}

.customize-control .responsive-switchers li button i {
	width: auto;
	height: auto;
	font-size: inherit;
	line-height: 18px
}

.customize-control.has-switchers>.control-wrap:not(.active) {
	display: none;
	width: 100%
}

.customize-control-code_editor .CodeMirror {
	height: calc(100vh - 185px)
}

body.rtl .customize-control-checkbox input[type=checkbox] {
	margin: 0 0 0 6px
}

body.rtl .customize-control-checkbox input[type=checkbox]:checked:before,
body.rtl .customize-control-responsive-multi-check input[type=checkbox]:checked:before {
	right: 0;
	left: auto
}

body.rtl .customize-control .responsive-switchers,
body.rtl .customize-control .responsive-switchers li button {
	margin-right: 5px;
	margin-left: 0
}

body.rtl .customize-control .responsive-switchers li {
	float: right
}

@media screen and (max-width:768px) {
	body .customize-control .responsive-switchers {
		display: none
	}
	body .customize-control.has-switchers>.control-wrap:not(.active) {
		display: inline-block
	}
}

@media screen and (min-width:481px) and (max-width:768px) {
	body .customize-control.has-switchers>.control-wrap {
		display: inline-block
	}
	body .customize-control.has-switchers>.control-wrap:not(.tablet) {
		display: none
	}
}

@media screen and (max-width:480px) {
	body .customize-control.has-switchers>.control-wrap {
		display: inline-block
	}
	body .customize-control.has-switchers>.control-wrap:not(.mobile) {
		display: none
	}
}
#customize-control-responsive_footer_widget_alignment_desktop_1{
	display:block !important;
}
#customize-control-responsive_footer_widget_alignment_tablet_1{
	display:none;
}
#customize-control-responsive_footer_widget_alignment_mobile_1{
	display:none;
}
.preview-tablet #customize-control-responsive_footer_widget_alignment_desktop_1{
	display:none !important;
}
.preview-tablet #customize-control-responsive_footer_widget_alignment_tablet_1{
	display:block;
}
.preview-tablet #customize-control-responsive_footer_widget_alignment_mobile_1{
	display:none;
}
.preview-mobile #customize-control-responsive_footer_widget_alignment_desktop_1{
	display:none !important;
}
.preview-mobile #customize-control-responsive_footer_widget_alignment_tablet_1{
	display:none;
}
.preview-mobile #customize-control-responsive_footer_widget_alignment_mobile_1{
	display:block;
}

#customize-control-responsive_footer_widget_alignment_desktop_2{
	display:block !important;
}
#customize-control-responsive_footer_widget_alignment_tablet_2{
	display:none;
}
#customize-control-responsive_footer_widget_alignment_mobile_2{
	display:none;
}
.preview-tablet #customize-control-responsive_footer_widget_alignment_desktop_2{
	display:none !important;
}
.preview-tablet #customize-control-responsive_footer_widget_alignment_tablet_2{
	display:block ;
}
.preview-tablet #customize-control-responsive_footer_widget_alignment_mobile_2{
	display:none;
}
.preview-mobile #customize-control-responsive_footer_widget_alignment_desktop_2{
	display:none !important;
}
.preview-mobile #customize-control-responsive_footer_widget_alignment_tablet_2{
	display:none;
}
.preview-mobile #customize-control-responsive_footer_widget_alignment_mobile_2{
	display:block;
}

#customize-control-responsive_footer_widget_alignment_desktop_3{
	display:block !important;
}
#customize-control-responsive_footer_widget_alignment_tablet_3{
	display:none;
}
#customize-control-responsive_footer_widget_alignment_mobile_3{
	display:none;
}
.preview-tablet #customize-control-responsive_footer_widget_alignment_desktop_3{
	display:none !important;
}
.preview-tablet #customize-control-responsive_footer_widget_alignment_tablet_3{
	display:block;
}
.preview-tablet #customize-control-responsive_footer_widget_alignment_mobile_3{
	display:none;
}
.preview-mobile #customize-control-responsive_footer_widget_alignment_desktop_3{
	display:none !important;
}
.preview-mobile #customize-control-responsive_footer_widget_alignment_tablet_3{
	display:none;
}
.preview-mobile #customize-control-responsive_footer_widget_alignment_mobile_3{
	display:block;
}

#customize-control-responsive_footer_widget_alignment_desktop_4{
	display:block !important;
}
#customize-control-responsive_footer_widget_alignment_tablet_4{
	display:none;
}
#customize-control-responsive_footer_widget_alignment_mobile_4{
	display:none;
}
.preview-tablet #customize-control-responsive_footer_widget_alignment_desktop_4{
	display:none !important;
}
.preview-tablet #customize-control-responsive_footer_widget_alignment_tablet_4{
	display:block;
}
.preview-tablet #customize-control-responsive_footer_widget_alignment_mobile_4{
	display:none;
}
.preview-mobile #customize-control-responsive_footer_widget_alignment_desktop_4{
	display:none !important;
}
.preview-mobile #customize-control-responsive_footer_widget_alignment_tablet_4{
	display:none;
}
.preview-mobile #customize-control-responsive_footer_widget_alignment_mobile_4{
	display:block;
}
