/**
 *	Common Stylesheet of Single Post

*/

.post-data {
	clear: both;
	font-size: 12px;
	font-weight: 700;
	margin-top: 20px;
}

.post-data a {
	color: #111111;
}

.post-entry {
	clear: both;
}

.post-meta {
	clear: both;
	color: #7E7E7E;
	font-size: 12px;
	margin-bottom: 10px;
}

.post-edit {
	clear: both;
	display: block;
	font-size: 12px;
	margin: 1.5em 0;
}

.post-search-terms {
	clear: both;
}

.read-more {
	clear: both;
	font-weight: 700;
}

.attachment-entry {
	clear: both;
	text-align: center;
}
