/**
 * Admin page css
 */

 .responsive-about-tabs.about-tabs {
	background-color: #ffffff;
 	margin: 20px 0;
 }
 div#getting_started {
     width: 100%;
     display: flex;
 }

 div#getting_started .about-col {
    width: 33%;
	padding: 10px;
}
.responsive-about-tabs.about-tabs {
	padding: 20px;
}
.responsive-addon-wrapper, div#mc_embed_signup_scroll {
	display: flex;
	padding: 10px;
}
.plugin_box {
    display: flex;
	padding: 10px;
}
a.install-now.responsive-install-plugin.button, #mc-embedded-subscribe {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}
.plugin-detials, .responsive-mainchimps-wrapper, .responsive-addon-detials, .plugin-detials {
    padding: 10px;
}
.mc-field-group {
    padding: 0 20px 0 0;
}
.about-tabs h3 {
	margin: 0;
}
.responsive-about-tabs p, h3.plugin-name {
	margin-top: 0;
	padding: 10px 0;
}
.responsive-about-tabs.about-tabs>p, .responsive-recommoned-addons>p {
	padding: 10px 20px;
}
.plugin-detials {
	margin: auto 0;
}
.mc-field-group label {
	vertical-align: unset;
}
