/**
 * CSS code for Responsive Theme admin Menu screens
 *
 * @package Responsive
 * @since 4.0.3
 */

.responsive-clear:before, .responsive-clear:after {
	content: " ";
	display: table;
}
.appearance_page_responsive #wpcontent{
	padding: 0px;
}
.wrap.responsive-theme-options-page {
	padding: 0 30px;
}
.responsive-clear:after {
	clear: both;
}
#message {
	display: block;
	margin-left: 0;
}
.responsive-menu-page-wrapper.wrap {
	margin: 0;
}
.responsive-menu-page-wrapper a {
	text-decoration: none;
}
.responsive-theme-page-header {
	background-color: #fff;
	text-align: center;
	padding: 20px 0;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.responsive-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.responsive-container .postbox .handle {
	background: #ffffff;
	border-bottom: 1px solid #e6e6e6;
}

/* Details link for starter sites */
a.responsivera-starter-sites-detail-link {
	margin: 0 10px;
}

/* Top Right Links. */
.responsive-top-links {
	flex: auto;
	text-align: right;
}

.responsive-top-links ul {
	margin: 0;
}
.responsive-top-links ul li {
	display: inline-block;
	margin-bottom: 0;
}

.responsive-container.responsive-welcome,
.general .responsive-container {
	max-width: 1130px;
}
.responsive-quick-setting-section span.dashicons {
	margin: 1px 3px 0 10px;
}
.responsive-container div.notice,
.responsive-container div.updated,
.responsive-container div.error {
	margin-top: 0;
}
.responsive-container #poststuff h2 {
	padding: 12px 20px;
}
.responsive-container img.responsive-starter-sites-img {
	width: 100%;
}
.responsive-flex {
	-js-display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
}
.responsive-theme-title {
	align-content: flex-start;
	text-align: left;
}
.responsive-theme-title .responsivera-theme-version {
	background-color: #e5e5e5;
	border-radius: 3px;
	font-size:  0.5em;
	font-weight:  400;
	margin-left: 10px;
	padding: 2px 7px;
}
.responsive-theme-title a {
	display: flex;
	align-items: center;
	justify-content: center;
}
.responsive-theme-title a,
.responsive-theme-title span {
	font-size: 0.75rem;
	color: #333333;
	font-weight: 500;
}

.responsive-theme-icon {
	width: 200px;
	vertical-align: bottom;
}

.responsive-quick-setting-section ul {
	margin: 0;
}
.responsive-quick-setting-section li {
	border-bottom: 1px solid #eee;
	margin-bottom: 0;
}
.responsive-quick-setting-section li {
	padding: 10px 0;
}
.responsive-quick-setting-section li:nth-child(odd) {
	width: 60%;
}
.responsive-quick-setting-section li:nth-child(even) {
	width: 40%;
}
.responsive-quick-setting-section li a {
	margin: 5px;
	display: inline-block;
	text-decoration: none;
}
.responsive-quick-setting-section a.responsive-quick-setting-title {
	flex: auto;
}
.resposive-documentation, .responsive-review {
	padding: 15px 20px 30px 20px;
}
.responsive-sidebar .handle .dashicons {
	margin: 0 5px 0 0;
}
#responsive-options-go-pro .responsive-features-table {
	width: 100%;
	border-collapse: collapse;
	border:1px solid #eaeaea;
	background-color: #ffffff;
}
#responsive-options-go-pro {
	padding: 2% 0 0 0;
}
@media (max-width: 544px){
	.responsive-quick-setting-section li {
		width: 100%;
	}
}
.responsive-features-table .header-responsive-features {
	font-size: 14px;
	padding: 20px 35px 20px 35px;
}
.responsive-features-table .feature-title {
	font-family: Roboto, Sans-serif;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
}
.responsive-features-table .feature-description {

}
.responsive-features-table .feature {
	padding: 10px 10px 10px 20px;
}
.responsive-features-table .feature-status {
	text-align: center;
}
.responsive-features-table .featureyes {
	color: #32CD32;
}
.responsive-features-table .featureno {
	color: #ff0000;
}
.responsive-features-table .featureno .dashicons-before:before, .responsive-features-table .featureyes .dashicons-before:before {
	width: 40px;
	height: 40px;
	font-size: 40px;
}
.postbox.responsive-support-section .inside {
	padding: 0 12px 30px;
}
.go-pro-section {
	text-align: right;
	padding: 20px 50px;
	background-color: #ffffff;
}
.go-pro-section .responsive-go-pro-button {
	border: 1px solid #32CD32;
	padding: 20px 40px;
	border-radius: 5px;
	background-color: #32CD32;
	display: inline-block;
	fill: #ffffff;
	color: #ffffff;
	font-size: 20px;
	text-decoration: none;
}
.responsive-theme-version {
	margin-left: 10px;
	background-color: #f1f1f1;
	padding: 3px 6px;
	border-radius: 3px;
}

.postbox.responsive-sites-active {
	display: flex;
	justify-content: left;
	align-items: start;
	padding: 0 20px;
	margin: 5px 20px 15px 0px;
}

.postbox.responsive-sites-active .responsive-starter-sites-img {
	margin-left: 5px;
}

.responsive-notice-content {
	margin-left: 15px;
	margin-top: 1em;
}

.responsive-notice-content p, .responsive-notice-content h2 {
	margin: 0.5em 0;
}

.responsive-notice-image {
	margin-top: 2em;
}

.deactivate-ready-site {
	display: none;
}
